{% extends 'core/base.html' %}
{% load static %}

{% block content %}

<link rel="stylesheet" href="{% static '/scss/pages/contact.css' %}" type="text/css">
<link rel="stylesheet" href="{% static '/scss/pages/page.css' %}" type="text/css">

<div class="page">
    <div class="cover">
        <div class="content" style="padding-bottom: 15px;">
            <div class="text">
                <h1 class="cover-h1">Kontakt oss</h1>
                <p class="cover-p">Vi ser frem til å høre fra deg</p>
            </div>  
        </div>
    </div>
    <div class="cards">

      <div class="card">
        <i class="fa-regular fa-envelopes"></i>
        <h1>Send epost</h1>
        <hr>
        <div class="value" onclick="window.location.href='mailto:Kontakt@bilmeglerne.no'">kontakt@bilmeglerne.no</div>
      </div>

      <div class="card">
        <i class="fa-regular fa-phone"></i>      
        <h1>Ring oss</h1>
        <hr>
        <div class="value" onclick="window.location.href='telto:+4740179859'">401 79 859</div>
      </div>

      <div class="card">
        <i class="fa-brands fa-facebook-messenger"></i>
        <h1>Chatt med oss</h1>
        <hr>
        <div class="value">Start chat</div>
      </div>

    </div>
    
</div>



{% endblock %}





