{% extends 'core/base.html' %}
{% load static %}

{% block head %}
<title>Bilmeglerne - Kontakt oss</title>
<meta name="description" content="Bilmeglerne har spesialisert seg på salg av bil. Vi har utviklet denne tjenesten for å gjøre deg trygg på at bilsalget foregår i henhold til gjeldende lover og forskrifter">
<meta name="author" content="Bilmeglerne">
<meta name="keywords" content="Bilmeglerne, Selge bil, Kjøpe bil, Biler til salg, Kjøp ny bil, Kjøp en bil, Bil, Biler, Bilene">
<meta property="og:type" content="website">
<meta property="og:url" content="{{ request.get_full_path }}">
<meta property="og:description" content="Bilmeglerne har spesialisert seg på salg av bil. Vi har utviklet denne tjenesten for å gjøre deg trygg på at bilsalget foregår i henhold til gjeldende lover og forskrifter">
{% endblock %}

{% block content %}


<link rel="stylesheet" href="{% static '/scss/pages/contact.css' %}" type="text/css">
<link rel="stylesheet" href="{% static '/scss/pages/page.css' %}" type="text/css">

<div class="page">
    <div class="cover">
        <div class="content" style="padding-bottom: 15px;">
            <div class="text">
                <h1 class="cover-h1">Kontakt oss</h1>
                <p class="cover-p">Vi ser frem til å høre fra deg</p>
            </div>  
        </div>
    </div>
    <div class="cards">

      <div class="card">
        <i class="fa-regular fa-envelopes"></i>
        <h1>Send epost</h1>
        <hr>
        <div class="value" onclick="window.location.href='mailto:Kontakt@bilmeglerne.no'">kontakt@bilmeglerne.no</div>
      </div>

      <div class="card">
        <i class="fa-regular fa-phone"></i>      
        <h1>Ring oss</h1>
        <hr>
        <div class="value" onclick="window.location.href='telto:+4740179859'">401 79 859</div>
      </div>

      <div class="card">
        <i class="fa-brands fa-facebook-messenger"></i>
        <h1>Chatt med oss</h1>
        <hr>
        <div class="value">Start chat</div>
      </div>
    </div>
    
</div>



{% endblock %}





