.login {
  padding-top: 105px;
  min-height: 80vh;
  padding-inline: 20px;
  padding-bottom: 30px;
}
.login #loginForm {
  width: auto;
  height: auto;
}
.login #loginForm .text {
  text-align: center;
}
.login #loginForm .text .heading {
  color: #1F1F1F;
  font-weight: 600;
  font-size: 33px;
}
.login #loginForm .form {
  background: white;
  border-radius: 12px;
  padding-inline: 14px;
  padding-block: 34px;
  position: relative;
  margin-top: 20px;
}
.login #loginForm .form .vipps {
  background: #FF5B24;
  width: 100%;
  color: white;
  height: 40px;
  border: none;
  outline: none;
  border-radius: 7px;
}
.login #loginForm .form .or-vipps {
  margin-top: 27px;
  margin-bottom: 17px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  opacity: 0.7;
  width: 100%;
}
.login #loginForm .form .or-vipps span {
  width: 40%;
  display: block;
  position: relative;
  background: rgba(160, 160, 160, 0.692);
  height: 1px;
}
.login #loginForm .form .or-vipps p {
  margin-bottom: 0;
  color: #1F1F1F;
  font-size: 14px;
  padding-inline: 20px;
  font-weight: 500;
  min-width: 120px !important;
}
.login #loginForm .inputs-labels {
  max-width: 400px;
}
.login #loginForm .inputs-labels label {
  color: #1F1F1F;
  font-size: 15px;
  font-weight: 500;
}
.login #loginForm .inputs-labels input {
  width: 100%;
  height: 48px;
  border: 1px solid lightgray;
  outline: none;
  padding: 8px;
  color: #1F1F1F;
  font-size: 16px;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 7px;
}
.login #loginForm .inputs-labels input:focus, .login #loginForm .inputs-labels input:active {
  border: 2px solid #f0a432;
  cursor: text;
  background: rgb(255, 255, 255);
}
.login #loginForm .inputs-labels input::-moz-placeholder {
  color: #183B56;
  opacity: 0.6;
}
.login #loginForm .inputs-labels input::placeholder {
  color: #183B56;
  opacity: 0.6;
}
.login #loginForm .form-actions {
  max-width: 400px;
  margin-top: 25px;
}
.login #loginForm .form-actions button {
  width: 100%;
  height: 42px;
  background: linear-gradient(to bottom right, #f0a432, #ffb649);
  color: rgb(246, 246, 246);
  border-radius: 7px;
  font-size: 16px;
  padding: 3px;
  cursor: pointer;
  transition: 0.4s;
  border: none;
  outline: none;
  font-weight: 400;
}
.login #loginForm .form-actions button:hover {
  transform: scale(1.01);
}

@media only screen and (min-device-width: 1140px) {
  .login {
    padding-top: 135px;
    min-height: 80vh;
    padding-inline: 20px;
    padding-bottom: 30px;
  }
  .login #loginForm {
    width: auto;
    height: auto;
  }
  .login #loginForm .text {
    text-align: center;
  }
  .login #loginForm .text .heading {
    color: #1F1F1F;
    font-weight: 600;
    font-size: 33px;
  }
  .login #loginForm .form {
    background: white !important;
    border-radius: 12px;
    padding-inline: 14px;
    padding-block: 34px;
    position: relative;
    margin-top: 20px;
    margin-inline: auto;
    max-width: 400px;
    border: 1px solid rgba(0, 0, 0, 0.1);
  }
  .login #loginForm .form .vipps {
    background: #FF5B24;
    width: 100%;
    color: white;
    height: 40px;
    border: none;
    outline: none;
    border-radius: 7px;
  }
  .login #loginForm .form .or-vipps {
    margin-top: 27px;
    margin-bottom: 17px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    opacity: 0.7;
    width: 100%;
  }
  .login #loginForm .form .or-vipps span {
    width: 40%;
    display: block;
    position: relative;
    background: rgba(160, 160, 160, 0.692);
    height: 1px;
  }
  .login #loginForm .form .or-vipps p {
    margin-bottom: 0;
    color: #1F1F1F;
    font-size: 14px;
    padding-inline: 20px;
    font-weight: 500;
    min-width: 120px !important;
  }
  .login #loginForm .inputs-labels {
    max-width: 400px;
  }
  .login #loginForm .inputs-labels label {
    color: #1F1F1F;
    font-size: 15px;
    font-weight: 500;
  }
  .login #loginForm .inputs-labels input {
    width: 100%;
    height: 48px;
    border: 1px solid lightgray;
    outline: none;
    padding: 8px;
    color: #1F1F1F;
    font-size: 16px;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 7px;
  }
  .login #loginForm .inputs-labels input:focus, .login #loginForm .inputs-labels input:active {
    border: 2px solid #f0a432;
    cursor: text;
    background: rgb(255, 255, 255);
  }
  .login #loginForm .inputs-labels input::-moz-placeholder {
    color: #183B56;
    opacity: 0.6;
  }
  .login #loginForm .inputs-labels input::placeholder {
    color: #183B56;
    opacity: 0.6;
  }
  .login #loginForm .form-actions {
    max-width: 400px;
    margin-top: 25px;
  }
  .login #loginForm .form-actions button {
    width: 100%;
    height: 42px;
    background: linear-gradient(to bottom right, #f0a432, #ffb649);
    color: rgb(246, 246, 246);
    border-radius: 7px;
    font-size: 16px;
    padding: 3px;
    cursor: pointer;
    transition: 0.4s;
    border: none;
    outline: none;
    font-weight: 400;
  }
  .login #loginForm .form-actions button:hover {
    transform: scale(1.01);
  }
}/*# sourceMappingURL=login.css.map */