#mobileNav {
  display: none;
}

#desNav {
  display: none;
}

#footerMob {
  display: none;
}

.account-nav-mob {
  width: 100%;
  height: 68px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
  padding-bottom: 3px;
  position: absolute;
  top: 0;
  z-index: 1000;
  transition: 0.2s;
  border-bottom: 1px solid lightgray;
  background: white;
}
.account-nav-mob .logo {
  transition: 0.8s;
  cursor: pointer;
  width: auto;
  height: auto;
  z-index: 1000;
}
.account-nav-mob .logo img {
  width: 100px;
  height: auto;
  transition: 0.3s;
  transform: translateX(-29px);
}
.account-nav-mob .logo img:hover {
  transform: translateX(-29px) scale(0.93);
}
.account-nav-mob .hamburger {
  padding: 5px;
  margin: -5px;
  width: auto;
  height: auto;
  z-index: 1000;
  text-align: center;
  border-radius: 50%;
}
.account-nav-mob .hamburger span {
  height: 3px;
  width: 26px;
  background: #1F1F1F;
  border-radius: 6px;
  display: block;
  transition: 0.2s;
  margin-block: 6px;
  text-align: center;
  transform-origin: 25%;
}
.account-nav-mob .hamburger.click .upper-span {
  transform: rotate(45deg);
}
.account-nav-mob .hamburger.click .center-span {
  display: none;
}
.account-nav-mob .hamburger.click .lower-span {
  transform: rotate(-45deg);
}
.account-nav-mob .sidebar {
  background: white;
  position: absolute;
  top: 68px;
  left: -100px;
  width: 100%;
  height: calc(100vh - 65px);
  z-index: 120;
  opacity: 0;
  pointer-events: none;
  display: block;
  transition: 0.2s;
}
.account-nav-mob .sidebar a {
  padding: 23px 20px;
  color: #183b56;
  font-size: 18px;
  font-weight: 500;
  display: block;
  width: 100%;
  text-decoration: none;
  position: relative;
}
.account-nav-mob .sidebar a:hover {
  background: rgba(255, 226, 97, 0.0941176471);
}
.account-nav-mob .sidebar a i {
  float: right;
  padding-right: 3px;
  color: #183b56;
  font-size: 17px;
  transform: translateY(1px);
}
.account-nav-mob .sidebar.active {
  opacity: 1;
  pointer-events: visible;
  transition: 0.4s;
  left: 0;
}

.account-footer-mob {
  position: relative;
  bottom: 0;
  height: 60px;
  margin-top: 60px;
  width: 100%;
  background: #f0a432;
  display: flex;
  align-items: center;
  justify-content: center;
}
.account-footer-mob p {
  margin-bottom: 0;
  font-size: 17px;
  color: #1F1F1F;
  font-weight: 600;
}

.myaccount {
  min-height: 88vh;
}
.myaccount .text {
  padding-inline: 20px;
  padding-bottom: 30px;
  padding-top: 105px;
  background: white;
  text-align: center;
  border-bottom: 1px solid lightgray;
}
.myaccount .text .heading {
  color: #1F1F1F;
  font-weight: 600;
  font-size: 33px;
}
.myaccount .text .sub-heading {
  color: #1F1F1F;
  font-weight: 500;
  font-size: 18px;
  margin-top: 10px;
}
.myaccount .main-content {
  text-align: center;
  padding-inline: 20px;
  padding-top: 40px;
}
.myaccount .main-content h1 {
  color: #1F1F1F;
  font-size: 23px;
  font-weight: 600;
}
.myaccount .main-content p {
  color: #1F1F1F;
  font-size: 17px;
}
.myaccount .main-content button {
  margin-block: 15px;
  width: 100%;
  height: 49px;
  outline: none;
  background: #f0a432;
  border: 1px solid #f0a432;
  color: white;
  border-radius: 6px;
}
.myaccount .main-content button:last-child {
  border-color: rgb(228, 33, 8);
  color: white;
  background: rgb(228, 33, 8);
}

@media only screen and (min-device-width: 1140px) {
  .account-nav-mob {
    width: 100%;
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 35px;
    padding-bottom: 3px;
    position: absolute;
    top: 0;
    z-index: 1000;
    transition: 0.2s;
    border-bottom: 1px solid lightgray;
    background: white;
  }
  .account-nav-mob .logo {
    transition: 0.8s;
    cursor: pointer;
    width: auto;
    height: auto;
    z-index: 1000;
  }
  .account-nav-mob .logo img {
    width: 120px;
    height: auto;
    transition: 0.3s;
    transform: translateX(-29px);
  }
  .account-nav-mob .logo img:hover {
    transform: translateX(-29px) scale(0.93);
  }
  .account-nav-mob .hamburger {
    padding: 5px;
    margin: -5px;
    width: auto;
    height: auto;
    z-index: 1000;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
  }
  .account-nav-mob .hamburger span {
    height: 4px;
    width: 29px;
    background: #1F1F1F;
    border-radius: 6px;
    display: block;
    transition: 0.2s;
    margin-block: 6px;
    text-align: center;
    transform-origin: 25%;
  }
  .account-nav-mob .hamburger.click .upper-span {
    transform: rotate(45deg);
  }
  .account-nav-mob .hamburger.click .center-span {
    display: none;
  }
  .account-nav-mob .hamburger.click .lower-span {
    transform: rotate(-45deg);
  }
  .account-nav-mob .sidebar {
    background: white;
    position: absolute;
    top: 75px;
    left: -100px;
    width: 100%;
    height: calc(100vh - 65px);
    z-index: 120;
    opacity: 0;
    pointer-events: none;
    display: block;
    transition: 0.2s;
  }
  .account-nav-mob .sidebar a {
    padding: 23px 50px;
    color: #183b56;
    font-size: 18px;
    font-weight: 500;
    display: block;
    width: 100%;
    text-decoration: none;
    position: relative;
  }
  .account-nav-mob .sidebar a:hover {
    background: rgba(255, 226, 97, 0.0941176471);
  }
  .account-nav-mob .sidebar a i {
    float: right;
    padding-right: 3px;
    color: #183b56;
    font-size: 17px;
    transform: translateY(1px);
  }
  .account-nav-mob .sidebar.active {
    opacity: 1;
    pointer-events: visible;
    transition: 0.4s;
    left: 0;
  }
  .myaccount {
    min-height: 88vh;
  }
  .myaccount .text {
    padding-inline: 20px;
    padding-bottom: 30px;
    padding-top: 105px;
    background: white;
    text-align: center;
    border-bottom: 1px solid lightgray;
  }
  .myaccount .text .heading {
    color: #1F1F1F;
    font-weight: 600;
    font-size: 35px;
  }
  .myaccount .text .sub-heading {
    color: #1F1F1F;
    font-weight: 500;
    font-size: 19px;
    margin-top: 10px;
  }
  .myaccount .main-content {
    text-align: center;
    padding-inline: 20px;
    padding-top: 40px;
    max-width: 1300px;
  }
  .myaccount .main-content h1 {
    color: #1F1F1F;
    font-size: 26px;
    font-weight: 600;
  }
  .myaccount .main-content p {
    color: #1F1F1F;
    font-size: 18px;
    max-width: 400px;
    margin: auto;
    margin-bottom: 20px;
  }
  .myaccount .main-content button {
    margin-block: 15px;
    width: 100%;
    max-width: 380px;
    margin-inline: 8px;
    height: 49px;
    outline: none;
    background: #f0a432;
    border: 1px solid #f0a432;
    color: white;
    border-radius: 6px;
  }
  .myaccount .main-content button:last-child {
    border-color: rgb(228, 33, 8);
    color: white;
    background: rgb(228, 33, 8);
  }
}
@media only screen and (min-device-width: 1290px) {
  .account-nav-mob {
    width: 100%;
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 45px;
    padding-bottom: 3px;
    position: absolute;
    top: 0;
    z-index: 1000;
    transition: 0.2s;
    border-bottom: 1px solid lightgray;
    background: white;
    max-width: 1290px;
    left: 50%;
    transform: translateX(-50%);
  }
  .account-nav-mob .logo {
    transition: 0.8s;
    cursor: pointer;
    width: auto;
    height: auto;
    z-index: 1000;
  }
  .account-nav-mob .logo img {
    width: 120px;
    height: auto;
    transition: 0.3s;
    transform: translateX(-29px);
  }
  .account-nav-mob .logo img:hover {
    transform: translateX(-29px) scale(0.93);
  }
  .account-nav-mob .hamburger {
    padding: 5px;
    margin: -5px;
    width: auto;
    height: auto;
    z-index: 1000;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
  }
  .account-nav-mob .hamburger span {
    height: 4px;
    width: 29px;
    background: #1F1F1F;
    border-radius: 6px;
    display: block;
    transition: 0.2s;
    margin-block: 6px;
    text-align: center;
    transform-origin: 25%;
  }
  .account-nav-mob .hamburger.click .upper-span {
    transform: rotate(45deg);
  }
  .account-nav-mob .hamburger.click .center-span {
    display: none;
  }
  .account-nav-mob .hamburger.click .lower-span {
    transform: rotate(-45deg);
  }
  .account-nav-mob .sidebar {
    background: white;
    position: absolute;
    top: 75px;
    left: -100px;
    width: 100%;
    height: calc(100vh - 65px);
    z-index: 120;
    opacity: 0;
    pointer-events: none;
    display: block;
    transition: 0.2s;
  }
  .account-nav-mob .sidebar a {
    padding: 23px 50px;
    color: #183b56;
    font-size: 18px;
    font-weight: 500;
    display: block;
    width: 100%;
    text-decoration: none;
    position: relative;
  }
  .account-nav-mob .sidebar a:hover {
    background: rgba(255, 226, 97, 0.0941176471);
  }
  .account-nav-mob .sidebar a i {
    float: right;
    padding-right: 3px;
    color: #183b56;
    font-size: 17px;
    transform: translateY(1px);
  }
  .account-nav-mob .sidebar.active {
    opacity: 1;
    pointer-events: visible;
    transition: 0.4s;
    left: 0;
  }
  .myaccount {
    min-height: 88vh;
  }
  .myaccount .text {
    padding-inline: 20px;
    padding-bottom: 30px;
    padding-top: 105px;
    background: white;
    text-align: center;
    border-bottom: 1px solid lightgray;
  }
  .myaccount .text .heading {
    color: #1F1F1F;
    font-weight: 600;
    font-size: 35px;
  }
  .myaccount .text .sub-heading {
    color: #1F1F1F;
    font-weight: 500;
    font-size: 19px;
    margin-top: 10px;
  }
  .myaccount .main-content {
    text-align: center;
    padding-inline: 20px;
    padding-top: 40px;
    max-width: 1290px;
    margin-inline: auto;
  }
  .myaccount .main-content h1 {
    color: #1F1F1F;
    font-size: 28px;
    font-weight: 600;
  }
  .myaccount .main-content p {
    color: #1F1F1F;
    font-size: 19px;
    max-width: 400px;
    margin: auto;
    margin-bottom: 20px;
  }
  .myaccount .main-content button {
    margin-block: 15px;
    width: 100%;
    max-width: 380px;
    margin-inline: 8px;
    height: 51px;
    outline: none;
    background: #f0a432;
    border: 1px solid #f0a432;
    color: white;
    border-radius: 6px;
  }
  .myaccount .main-content button:last-child {
    border-color: rgb(228, 33, 8);
    color: white;
    background: rgb(228, 33, 8);
  }
}/*# sourceMappingURL=myaccount.css.map */