$black: #1F1F1F;
$white: rgb(246,246,246);
$primBtn: #f0a432;
$txt: #183b56;

#mobileNav{
  display: none;
}
#desNav{
  display: none;
}
#footerMob{
  display: none;
}

.account-nav-mob{
      // NAVBAR CSS
      width: 100%;
      height: 68px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 5px 20px;
      padding-bottom: 3px;
      position: absolute;
      top: 0;
      z-index: 1000;
      transition: .2s;
      border-bottom: 1px solid lightgray;
      background: white;
      .logo{
          transition: .8s;
          cursor: pointer;
          width: auto;
          height: auto;
          z-index: 1000;
          img{
          width: 100px;
          height: auto;
          transition: .3s;
          transform: translateX(-29px);
          &:hover{
              transform: translateX(-29px) scale(0.93);
          }
          }
      }
      .hamburger{
          padding: 5px;
          margin: -5px;
          width: auto;
          height: auto;
          z-index: 1000;
          text-align: center;
          border-radius: 50%;
          span{
              height: 3px;
              width: 26px;
              background: $black;
              border-radius: 6px;
              display: block;
              transition: .2s;
              margin-block: 6px;
              text-align: center;
              transform-origin: 25%; 
          }
          .upper-span{
          }
          .center-span{
          }
          .lower-span{
          }
          &.click{
              .upper-span{
                  transform: rotate(45deg);
              }
              .center-span{
                  display: none;
              }
              .lower-span{
                  transform: rotate(-45deg);
              }
          }
      }
      .sidebar{
          background: white;
          position: absolute;
          top: 68px;
          left: -100px;
          width: 100%;
          height: calc(100vh - 65px);
          z-index: 120;
          opacity: 0;
          pointer-events: none;
          display: block;
          transition: .2s;
          a{
              padding: 23px 20px;
              color: $txt;
              font-size: 18px;
              font-weight: 500;
              display: block;
              width: 100%;
              text-decoration: none;
              position: relative;
       
              &:hover{
                  background: #ffe26118;
              }
              i{
                  float: right;
                  padding-right: 3px;
                  color: $txt;
                  font-size: 17px;
                  transform: translateY(1px);
              }
          }
          &.active{
              opacity: 1;
              pointer-events: visible;
              transition: .4s;
              left: 0;
          }
      } 
}

.account-footer-mob{
  position: relative;
  bottom: 0;
  height: 60px;
  margin-top: 60px;
  width: 100%;
  background: $primBtn;
  display: flex;
  align-items: center;
  justify-content: center;
  p{
    margin-bottom: 0;
    font-size: 17px;
    color: $black;
    font-weight: 600;
  }
}

.myaccount{
  min-height: 88vh;
  .text{
    padding-inline: 20px;
    padding-bottom: 30px;
      padding-top: 105px;
      background: white;
      text-align: center;
      border-bottom: 1px solid lightgray;
      .heading{
          color: $black;
          font-weight: 600;
          font-size: 33px;
      }
      .sub-heading{
        color: $black;
        font-weight: 500;
        font-size: 18px;
        margin-top: 10px;
      }
  }
  .main-content{
    text-align: center;
    padding-inline: 20px;
    padding-top: 40px;
    h1{
      color: $black;
      font-size: 23px;
      font-weight: 600;
    }
    p{
      color: $black;
      font-size: 17px;
    }
    button{
      margin-block: 15px;
      width: 100%;
      height: 49px;
      outline: none;
      background: $primBtn;
      border: 1px solid $primBtn;
      color: white;
      border-radius: 6px;
      &:last-child{
        border-color: rgb(228, 33, 8);
        color: white;
        background: rgb(228, 33, 8);
      }
    }
  }
}

@media only screen and (min-device-width: 1140px) {

  .account-nav-mob{
    // NAVBAR CSS
    width: 100%;
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 35px;
    padding-bottom: 3px;
    position: absolute;
    top: 0;
    z-index: 1000;
    transition: .2s;
    border-bottom: 1px solid lightgray;
    background: white;
    .logo{
        transition: .8s;
        cursor: pointer;
        width: auto;
        height: auto;
        z-index: 1000;
        img{
        width: 120px;
        height: auto;
        transition: .3s;
        transform: translateX(-29px);
        &:hover{
            transform: translateX(-29px) scale(0.93);
        }
        }
    }
    .hamburger{
        padding: 5px;
        margin: -5px;
        width: auto;
        height: auto;
        z-index: 1000;
        text-align: center;
        border-radius: 50%;
        cursor: pointer;
        span{
            height: 4px;
            width: 29px;
            background: $black;
            border-radius: 6px;
            display: block;
            transition: .2s;
            margin-block: 6px;
            text-align: center;
            transform-origin: 25%; 
        }
        .upper-span{
        }
        .center-span{
        }
        .lower-span{
        }
        &.click{
            .upper-span{
                transform: rotate(45deg);
            }
            .center-span{
                display: none;
            }
            .lower-span{
                transform: rotate(-45deg);
            }
        }
    }
    .sidebar{
        background: white;
        position: absolute;
        top: 75px;
        left: -100px;
        width: 100%;
        height: calc(100vh - 65px);
        z-index: 120;
        opacity: 0;
        pointer-events: none;
        display: block;
        transition: .2s;
        a{
            padding: 23px 50px;
            color: $txt;
            font-size: 18px;
            font-weight: 500;
            display: block;
            width: 100%;
            text-decoration: none;
            position: relative;
            &:hover{
                background: #ffe26118;
            }
            i{
                float: right;
                padding-right: 3px;
                color: $txt;
                font-size: 17px;
                transform: translateY(1px);
            }
        }
        &.active{
            opacity: 1;
            pointer-events: visible;
            transition: .4s;
            left: 0;
        }
    } 
}

  .myaccount{
    min-height: 88vh;
    .text{
      padding-inline: 20px;
      padding-bottom: 30px;
        padding-top: 105px;
        background: white;
        text-align: center;
        border-bottom: 1px solid lightgray;
        .heading{
            color: $black;
            font-weight: 600;
            font-size: 35px;
        }
        .sub-heading{
          color: $black;
          font-weight: 500;
          font-size: 19px;
          margin-top: 10px;
        }
    }
    .main-content{
      text-align: center;
      padding-inline: 20px;
      padding-top: 40px;
      max-width: 1300px;
      h1{
        color: $black;
        font-size: 26px;
        font-weight: 600;
      }
      p{
        color: $black;
        font-size: 18px;
        max-width: 400px;
        margin: auto;
        margin-bottom: 20px;
      }
      button{
        margin-block: 15px;
        width: 100%;
        max-width: 380px;
        margin-inline: 8px;
        height: 49px;
        outline: none;
        background: $primBtn;
        border: 1px solid $primBtn;
        color: white;
        border-radius: 6px;
        &:last-child{
          border-color: rgb(228, 33, 8);
          color: white;
          background: rgb(228, 33, 8);
        }
      }
    }
  }  
}


@media only screen and (min-device-width: 1290px) {
  .account-nav-mob{
    // NAVBAR CSS
    width: 100%;
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 45px;
    padding-bottom: 3px;
    position: absolute;
    top: 0;
    z-index: 1000;
    transition: .2s;
    border-bottom: 1px solid lightgray;
    background: white;
    max-width: 1290px;
    left: 50%;
    transform: translateX(-50%);
    .logo{
        transition: .8s;
        cursor: pointer;
        width: auto;
        height: auto;
        z-index: 1000;
        img{
        width: 120px;
        height: auto;
        transition: .3s;
        transform: translateX(-29px);
        &:hover{
            transform: translateX(-29px) scale(0.93);
        }
        }
    }
    .hamburger{
        padding: 5px;
        margin: -5px;
        width: auto;
        height: auto;
        z-index: 1000;
        text-align: center;
        border-radius: 50%;
        cursor: pointer;
        span{
            height: 4px;
            width: 29px;
            background: $black;
            border-radius: 6px;
            display: block;
            transition: .2s;
            margin-block: 6px;
            text-align: center;
            transform-origin: 25%; 
        }
        .upper-span{
        }
        .center-span{
        }
        .lower-span{
        }
        &.click{
            .upper-span{
                transform: rotate(45deg);
            }
            .center-span{
                display: none;
            }
            .lower-span{
                transform: rotate(-45deg);
            }
        }
    }
    .sidebar{
        background: white;
        position: absolute;
        top: 75px;
        left: -100px;
        width: 100%;
        height: calc(100vh - 65px);
        z-index: 120;
        opacity: 0;
        pointer-events: none;
        display: block;
        transition: .2s;
        a{
            padding: 23px 50px;
            color: $txt;
            font-size: 18px;
            font-weight: 500;
            display: block;
            width: 100%;
            text-decoration: none;
            position: relative;
            &:hover{
                background: #ffe26118;
            }
            i{
                float: right;
                padding-right: 3px;
                color: $txt;
                font-size: 17px;
                transform: translateY(1px);
            }
        }
        &.active{
            opacity: 1;
            pointer-events: visible;
            transition: .4s;
            left: 0;
        }
    } 
}

  .myaccount{
    min-height: 88vh;
    .text{
      padding-inline: 20px;
      padding-bottom: 30px;
        padding-top: 105px;
        background: white;
        text-align: center;
        border-bottom: 1px solid lightgray;
        .heading{
            color: $black;
            font-weight: 600;
            font-size: 35px;
        }
        .sub-heading{
          color: $black;
          font-weight: 500;
          font-size: 19px;
          margin-top: 10px;
        }
    }
    .main-content{
      text-align: center;
      padding-inline: 20px;
      padding-top: 40px;
      max-width: 1290px;
      margin-inline: auto;
      h1{
        color: $black;
        font-size: 28px;
        font-weight: 600;
      }
      p{
        color: $black;
        font-size: 19px;
        max-width: 400px;
        margin: auto;
        margin-bottom: 20px;
      }
      button{
        margin-block: 15px;
        width: 100%;
        max-width: 380px;
        margin-inline: 8px;
        height: 51px;
        outline: none;
        background: $primBtn;
        border: 1px solid $primBtn;
        color: white;
        border-radius: 6px;
        &:last-child{
          border-color: rgb(228, 33, 8);
          color: white;
          background: rgb(228, 33, 8);
        }
      }
    }
  }  
}