.signup {
  padding-top: 105px;
  min-height: 80vh;
  padding-inline: 20px;
  padding-bottom: 30px;
}
.signup #signUpForm {
  width: auto;
  height: auto;
}
.signup #signUpForm .text {
  text-align: center;
}
.signup #signUpForm .text .heading {
  color: #1F1F1F;
  font-weight: 600;
  font-size: 33px;
}
.signup #signUpForm .form {
  background: white;
  border-radius: 12px;
  padding-inline: 14px;
  padding-block: 34px;
  position: relative;
  margin-top: 20px;
}
.signup #signUpForm .inputs-labels {
  max-width: 400px;
}
.signup #signUpForm .inputs-labels label {
  color: #1F1F1F;
  font-size: 15px;
  font-weight: 500;
}
.signup #signUpForm .inputs-labels input {
  width: 100%;
  height: 48px;
  border: 1px solid lightgray;
  outline: none;
  padding: 8px;
  color: #1F1F1F;
  font-size: 16px;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 7px;
}
.signup #signUpForm .inputs-labels input:focus, .signup #signUpForm .inputs-labels input:active {
  border: 2px solid #f0a432;
  cursor: text;
  background: rgb(255, 255, 255);
}
.signup #signUpForm .inputs-labels input::-moz-placeholder {
  color: #183B56;
  opacity: 0.6;
}
.signup #signUpForm .inputs-labels input::placeholder {
  color: #183B56;
  opacity: 0.6;
}
.signup #signUpForm .form-actions {
  max-width: 400px;
  margin-top: 25px;
}
.signup #signUpForm .form-actions button {
  width: 100%;
  height: 42px;
  background: linear-gradient(to bottom right, #f0a432, #ffb649);
  color: rgb(246, 246, 246);
  border-radius: 7px;
  font-size: 16px;
  padding: 3px;
  cursor: pointer;
  transition: 0.4s;
  border: none;
  outline: none;
  font-weight: 400;
}
.signup #signUpForm .form-actions button:hover {
  transform: scale(1.01);
}

@media only screen and (min-device-width: 1140px) {
  .signup {
    padding-top: 135px;
    min-height: 80vh;
    padding-inline: 20px;
    padding-bottom: 30px;
  }
  .signup #signUpForm {
    width: auto;
    height: auto;
  }
  .signup #signUpForm .text {
    text-align: center;
  }
  .signup #signUpForm .text .heading {
    color: #1F1F1F;
    font-weight: 600;
    font-size: 33px;
  }
  .signup #signUpForm .form {
    background: white !important;
    border-radius: 12px;
    padding-inline: 14px;
    padding-block: 34px;
    position: relative;
    margin-top: 20px;
    margin-inline: auto;
    max-width: 400px;
    border: 1px solid rgba(0, 0, 0, 0.1);
  }
  .signup #signUpForm .inputs-labels {
    max-width: 400px;
  }
  .signup #signUpForm .inputs-labels label {
    color: #1F1F1F;
    font-size: 15px;
    font-weight: 500;
  }
  .signup #signUpForm .inputs-labels input {
    width: 100%;
    height: 48px;
    border: 1px solid lightgray;
    outline: none;
    padding: 8px;
    color: #1F1F1F;
    font-size: 16px;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 7px;
  }
  .signup #signUpForm .inputs-labels input:focus, .signup #signUpForm .inputs-labels input:active {
    border: 2px solid #f0a432;
    cursor: text;
    background: rgb(255, 255, 255);
  }
  .signup #signUpForm .inputs-labels input::-moz-placeholder {
    color: #183B56;
    opacity: 0.6;
  }
  .signup #signUpForm .inputs-labels input::placeholder {
    color: #183B56;
    opacity: 0.6;
  }
  .signup #signUpForm .form-actions {
    max-width: 400px;
    margin-top: 25px;
  }
  .signup #signUpForm .form-actions button {
    width: 100%;
    height: 42px;
    background: linear-gradient(to bottom right, #f0a432, #ffb649);
    color: rgb(246, 246, 246);
    border-radius: 7px;
    font-size: 16px;
    padding: 3px;
    cursor: pointer;
    transition: 0.4s;
    border: none;
    outline: none;
    font-weight: 400;
  }
  .signup #signUpForm .form-actions button:hover {
    transform: scale(1.01);
  }
}/*# sourceMappingURL=signup.css.map */