$black: #1F1F1F;
$white: rgb(246,246,246);
$primBtn: #39c1b1;
$txt: #183b56;

@media only screen and (min-device-width: 1140px) {
    html, body {
        background: unset;
    }
    #desNav{
        display: flex;
        width: 100%;
        height: 95px;
        justify-content: space-between;
        align-items: center;
        position: fixed;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        background: transparent ;
        padding-inline: 35px;
        z-index: 1000000;
        transition: .2s;
        border-bottom: 2px solid rgb(227, 227, 227) ;
        background: white; 
  
        .content{
            width: 100%;
            display: flex;
            width: 100%;
            max-width: 1290px;
            height: 95px;
            justify-content: space-between;
            align-items: center;
            position: fixed;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            background: transparent !important;
            padding-inline: 35px;    
        }

        &.sticky{
            border-bottom: 1px solid rgba(255, 255, 255, 0.25);
        }
        .logo{
            color: $black;
            img{               
                cursor: pointer;
                width: 120px;
                height: auto;
                transition: .2s;
                transform: translateX(-42px);
                &:hover{
                    transform: scale(1.1) translateX(-35px);
                }
            }
        }
        .menu{
            display: flex;
            justify-content: center;
            align-items: center;
            a{
                color: $black;
                font-size: 18px;
                font-weight: 400;
                margin-inline: 2px;
                padding: 10px;
                cursor: pointer;
                text-decoration: none;
                transition: .3s;
                border-bottom: 0 solid transparent;
                border-radius: 4px;
                &.cta{
                    transform: translateY(0);
                    background: transparent;
                    color: $black;
                    border-radius: 25px;
                    margin-left: 6px;
                    border: 2px solid rgb(128, 128, 128);
                    height: max-content !important;
                    margin-bottom: 0; 
                    &:hover{
                        background: rgba(203, 203, 203, 0.45);
                    }
                }
                &:hover{
                    background: rgba(211, 211, 211, 0.35);
                }
            }
        }
    }
     .signup-page{
        display: flex;
        justify-content: space-between;
        overflow-y: visible;
        width: 100%;
        height: 130vh;
        position: relative;
        max-width: 1290px;
        margin-inline: auto;

        .form{
            width: 50%;
            height: 100vh;
            padding-inline: 35px;
            padding-top: 170px;
            .heading{
                color: $black;
                font-size: 46px;
            }
            .inputs-labels{
                label{
                    font-size: 20px;
                    font-weight: 500;
                    color: $black;
                }
                input{
                    height: 42px;
                    width: 300px;
                    padding: 5px;
                    color: $black;
                    font-size: 18px;
                    outline: none;
                    border: 1px solid rgb(128, 128, 128);
                    border-radius: 4px;
                }
            }
            .form-actions{
                margin-top: 28px;
                button{
                    border-radius: 25px;
                    width: 300px;
                    height: 45px;
                    background: transparent;
                    outline: none;
                    border: 2px solid rgb(128, 128, 128);
                    color: $black;
                    font-size: 17px;
                }
            }
        }
    }
    .image{
        width: 50%;
        height: 100vh;
        position: fixed;
        top: 0;
        right: 0;
        img{
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }
}