{% extends 'core/base.html' %}
{% load static %}

{% block head %}
<!-- <title>Bilmeglerne - Om oss</title>
<meta name="description" content="Bilmeglerne har spesialisert seg på salg av bil. Vi har utviklet denne tjenesten for å gjøre deg trygg på at bilsalget foregår i henhold til gjeldende lover og forskrifter">
<meta name="author" content="Bilmeglerne">
<meta name="keywords" content="Bilmeglerne, Selge bil, Kjøpe bil, Biler til salg, Kjøp ny bil, Kjøp en bil, Bil, Biler, Bilene">
<meta property="og:type" content="website">
<meta property="og:url" content="{{ request.get_full_path }}">
<meta property="og:description" content="Bilmeglerne har spesialisert seg på salg av bil. Vi har utviklet denne tjenesten for å gjøre deg trygg på at bilsalget foregår i henhold til gjeldende lover og forskrifter"> -->
{% endblock %}

{% block content %}

<link rel="stylesheet" href="{% static '/scss/pages/member.css' %}" type="text/css">
<script src="{% static '/js/member.js' %}"></script>

<div class="page" style="padding-inline: 0;">
    <div class="cover">
        <div class="content">
            <div class="text" id="coverText">
                {% if request.user.is_authenticated %}
                <h1 class="cover-h1" id="dynamic-texttwo"></h1>
                {% else %}
                <h1 class="cover-h1" style="max-width: 600px;" >You must login in order to become a member</h1>
                {% endif %}
                <p class="cover-p">
                  Get acess to systems that will make your life easier. Become a member today to gain acess!
                </p>
                {% if request.user.is_authenticated %}
                <form action="{% url 'create_checkout_session' %}" method="POST">
                    {% csrf_token %}
                    <button class="animated-btn"  type="submit">  <span>Subscribe</span></button>
                </form>
                {% else %}
                <form>
                    <button  class="animated-btn"  type="button"  onclick="window.location.href='/login/?next=/become-a-member/'">  <span>Login into account</span></button>
                </form>
                {% endif %}

            </div>
            <div class="border" id="borderForImage"></div>
            <img src="{% static '/images/covers/member.jpg' %}" alt="" id="imageForBorder">
    
        </div>
    </div>
    
</div>

{% endblock %}