{% extends 'core/base.html' %}
{% load static %}

{% block content %}

{% block head %}
<title>Budet ble motatt</title>
<meta name="description" content="Bilmeglerne har spesialisert seg på salg av bil. Vi har utviklet denne tjenesten for å gjøre deg trygg på at bilsalget foregår i henhold til gjeldende lover og forskrifter">
<meta name="author" content="Bilmeglerne">
<meta name="keywords" content="Bilmeglerne, Selge bil, Kjøpe bil, Biler til salg, Kjøp ny bil, Kjøp en bil, Bil, Biler, Bilene">
<meta property="og:type" content="website">
<meta property="og:url" content="{{ request.get_full_path }}">
<meta property="og:description" content="Bilmeglerne har spesialisert seg på salg av bil. Vi har utviklet denne tjenesten for å gjøre deg trygg på at bilsalget foregår i henhold til gjeldende lover og forskrifter">
{% endblock %}

<link rel="stylesheet" href="{% static '/scss/pages/page.css' %}" type="text/css">
<link rel="stylesheet" href="{% static '/scss/pages/buy.css' %}" type="text/css">
<link rel="stylesheet" href="{% static '/scss/pages/book-success.css' %}" type="text/css">

<div class="page">
    <div class="cover">
        <div class="content" style="padding-bottom: 15px;">
            <div class="text">
                <h1 class="cover-h1">Budet ble mottatt</h1>
                <p class="cover-p" style="padding: 0;">Vi har mottatt budet, og venter på at selger skal akseptere eller avslå budet.</p>
            </div>  
        </div>
    </div>
    <br>
    <button onclick="window.location.href='/min-bruker/mine-bud/'">Mine bud</button>
</div>


<style type="text/css">
    button{
                width: 100%;
                max-width: 400px;
                height: 42px;
                background: linear-gradient(to bottom right, #f0a432, #ffb649);
                color: white;
                border-radius: 7px;
                font-size: 16px;
                padding: 3px;
                cursor: pointer;
                transition: .4s;
                border: none !important;
                outline: none !important;
                font-weight: 400;
                position: relative;
                left: 50%;
                transform: translateX(-50%);
            }
            button:hover{
        filter: brightness(89%);
        transform: scale(1.01) translateX(-50%);
        
        }
        button:focus{
        filter: brightness(89%) translateX(-50%);
        } 
</style>

{% endblock %}