{% extends 'core/base.html' %}
{% load static %}


{% block head %}
<title>Bruksmerker på bil {{car.name}}</title>
<meta name="description" content="Bilmeglerne har spesialisert seg på salg av bil. Vi har utviklet denne tjenesten for å gjøre deg trygg på at bilsalget foregår i henhold til gjeldende lover og forskrifter">
<meta name="author" content="Bilmeglerne">
<meta name="keywords" content="Bilmeglerne, Selge bil, Kjøpe bil, Biler til salg, Kjøp ny bil, Kjøp en bil, Bil, Biler, Bilene">
<meta property="og:type" content="website">
<meta property="og:url" content="{{ request.get_full_path }}">
<meta property="og:description" content="Bilmeglerne har spesialisert seg på salg av bil. Vi har utviklet denne tjenesten for å gjøre deg trygg på at bilsalget foregår i henhold til gjeldende lover og forskrifter">
{% endblock %}
{% block content %}

<link rel="stylesheet" href="{% static '/scss/pages/store/bruksmerker.css' %}" type="text/css">

<div class="page" style="padding-inline: 0;">
    <div class="cover">
        <div class="content">
            <div class="text">
                <h1 class="cover-h1">Bruksmerkene til {{car.name}} ({{car.reg_nr}})</h1>
                
                {% if egenerkling_data.bruksmerker_text %}
                    <p class="cover-p" style="max-width: max-content;">
                        {{ egenerkling_data.bruksmerker_text }}
                    </p>
                {% endif %}
            </div>  

            {% if egenerkling_data.bruksmerker_bilde1 %}
            <div class="images">
                <img src="{{ egenerkling_data.bruksmerker_bilde1.url }}" alt="Bruksmerke bilde 1">
                {% if egenerkling_data.bruksmerker_bilde2 %}
                    <img src="{{ egenerkling_data.bruksmerker_bilde2.url }}" alt="Bruksmerke bilde 2">
                {% endif %}

                {% if egenerkling_data.bruksmerker_bilde3 %}
                    <img src="{{ egenerkling_data.bruksmerker_bilde3.url }}" alt="Bruksmerke bilde 3">
                {% endif %}

                {% if egenerkling_data.bruksmerker_bilde4 %}
                    <img src="{{ egenerkling_data.bruksmerker_bilde4.url }}" alt="Bruksmerke bilde 4">
                {% endif %}

                {% if egenerkling_data.bruksmerker_bilde5 %}
                    <img src="{{ egenerkling_data.bruksmerker_bilde5.url }}" alt="Bruksmerke bilde 5">
                {% endif %}

                {% if egenerkling_data.bruksmerker_bilde6 %}
                    <img src="{{ egenerkling_data.bruksmerker_bilde6.url }}" alt="Bruksmerke bilde 6">
                {% endif %}

                {% if egenerkling_data.bruksmerker_bilde7 %}
                    <img src="{{ egenerkling_data.bruksmerker_bilde7.url }}" alt="Bruksmerke bilde 7">
                {% endif %}

                {% if car.egenerkling_data.bruksmerker_bilde8 %}
                    <img src="{{ car.egenerkling_data.bruksmerker_bilde8.url }}" alt="Bruksmerke bilde 8">
                {% endif %}

                {% if car.egenerkling_data.bruksmerker_bilde9 %}
                    <img src="{{ car.egenerkling_data.bruksmerker_bilde9.url }}" alt="Bruksmerke bilde 9">
                {% endif %}

                {% if egenerkling_data.bruksmerker_bilde10 %}
                    <img src="{{ egenerkling_data.bruksmerker_bilde10.url }}" alt="Bruksmerke bilde 10">
                {% endif %}

                {% if egenerkling_data.bruksmerker_bilde11 %}
                    <img src="{{ egenerkling_data.bruksmerker_bilde11.url }}" alt="Bruksmerke bilde 11">
                {% endif %}

                {% if egenerkling_data.bruksmerker_bilde12 %}
                    <img src="{{ egenerkling_data.bruksmerker_bilde12.url }}" alt="Bruksmerke bilde 12">
                {% endif %}

                {% if egenerkling_data.bruksmerker_bilde13 %}
                    <img src="{{ egenerkling_data.bruksmerker_bilde13.url }}" alt="Bruksmerke bilde 13">
                {% endif %}

                {% if egenerkling_data.bruksmerker_bilde14 %}
                    <img src="{{ egenerkling_data.bruksmerker_bilde14.url }}" alt="Bruksmerke bilde 14">
                {% endif %}

                {% if egenerkling_data.bruksmerker_bilde15 %}
                    <img src="{{ egenerkling_data.bruksmerker_bilde15.url }}" alt="Bruksmerke bilde 15">
                {% endif %}

                {% if egenerkling_data.bruksmerker_bilde16 %}
                    <img src="{{ egenerkling_data.bruksmerker_bilde16.url }}" alt="Bruksmerke bilde 16">
                {% endif %}

                {% if egenerkling_data.bruksmerker_bilde17 %}
                    <img src="{{.egenerkling_data.bruksmerker_bilde17.url }}" alt="Bruksmerke bilde 17">
                {% endif %}

                {% if egenerkling_data.bruksmerker_bilde18 %}
                    <img src="{{ egenerkling_data.bruksmerker_bilde18.url }}" alt="Bruksmerke bilde 18">
                {% endif %}

                {% if egenerkling_data.bruksmerker_bilde19 %}
                    <img src="{{ egenerkling_data.bruksmerker_bilde19.url }}" alt="Bruksmerke bilde 19">
                {% endif %}

                {% if car.egenerkling_data.bruksmerker_bilde20 %}
                    <img src="{{ car.egenerkling_data.bruksmerker_bilde20.url }}" alt="Bruksmerke bilde 20">
                {% endif %}

            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
