{% extends 'core/base.html' %}
{% load static %}
{% load custom_filters  %}


{% block content %}
<link rel="stylesheet" href="{% static '/scss/pages/page.css' %}" type="text/css">
<link rel="stylesheet" href="{% static '/scss/pages/buy.css' %}" type="text/css">


<div class="page">
    <div class="buy">
        <div class="text">
            <h1>Biler til salgs ({{cars.count}})</h1>
        </div>
        <div class="form-flex">
            <form id="searchForm" action="{% url 'home_page_search' %}" method="GET">
                {% csrf_token %}
                <i onclick="search()" class="fa-solid fa-magnifying-glass"></i><input name="q" type="text" id="mobNavSearchInput" placeholder="Søk">
            </form>
            <form method="get" id="buyFilter">
                <input name="price_order" id="price_order" style="display: none;">
                <div onclick="showSort()" class="sort">Sorter<i class="fa-solid fa-chevron-down"></i></div>
                    <div id="filterChoices">
                        <div onclick="filterHighToLow()">Pris: høy til lav</div>
                        <div onclick="filterLowToHigh()">Pris: lav til høy</div>
                        <div onclick="filterNewestToOldest()">Alder: nyest til eldst</div>
                        <div onclick="filterOldestToNewest()">Alder: eldst til nyest</div>
                        <div onclick="filterKmHighToLow()">Km: høy til lav</div>
                        <div onclick="filterKmLowToHigh()">Km: lav til høy</div>
                    </div>
            </form>
        </div>
        <div class="cars">
            {% for car in cars %}
            <div class="car" onclick="window.location.href='{% url  'car_detail' car.slug car.id %}'">
                <div class="top">
                    <img src="{{car.image1.url}}" alt="" class="car-image" >
                </div>
                {% if car.days_until_expiry > 0 %}
                {% if car.sold %}
                <div class="status" id="status" style="background: #ffc876;">Solgt</div>
                {% endif %}
                {% if car.buys %}
                <div class="status" id="status" style="background: #ffc876;">Solgt</div>
                {% endif %}
                
              {% endif %}
                <div class="bottom">
                    <div class="adress">{{car.adress}}</div>
                      <div class="name"><strong style="font-weight: 600 !important;">{{car.name}}</strong> {{car.car_spesifikasjoner}}</div>
                      <!-- <div class="adress">{{car.adress}}</div> -->
                      <div class="flex">
                            <div class="year">{{car.year}}</div>
                            <div class="km">{{car.km}}km</div>
                            <div class="price">{{car.price|add_space_separator}}kr</div>
                      </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>


<script type="text/javascript">


    function search(){
        document.getElementById('searchForm').submit();
    }


    function showSort(){
        if (window.getComputedStyle(document.getElementById('filterChoices'),null).getPropertyValue("opacity") == '0'){
            document.getElementById('filterChoices').classList.add('active');
        }else{
            document.getElementById('filterChoices').classList.remove('active');
        }

    }

    function filterHighToLow(){
        const form = document.getElementById('buyFilter')
        const price_order = document.getElementById('price_order')

        price_order.value = "high_to_low";
        console.log(price_order.value);
        setTimeout(() => {
            form.submit()
        }, 300);
    }

    function filterLowToHigh(){
        const form = document.getElementById('buyFilter')
        const price_order = document.getElementById('price_order')

        price_order.value = "low_to_high";
        console.log(price_order.value);
        setTimeout(() => {
            form.submit()
        }, 300);
    }

    function filterNewestToOldest(){
        const form = document.getElementById('buyFilter')
        const price_order = document.getElementById('price_order')

        price_order.value = "newest_to_oldest";
        console.log(price_order.value);
        setTimeout(() => {
            form.submit()
        }, 300);
    }

    function filterOldestToNewest(){
        const form = document.getElementById('buyFilter')
        const price_order = document.getElementById('price_order')

        price_order.value = "oldest_to_newest";
        console.log(price_order.value);
        setTimeout(() => {
            form.submit()
        }, 300);
    }

    function filterKmHighToLow(){
        const form = document.getElementById('buyFilter')
        const price_order = document.getElementById('price_order')

        price_order.value = "km_high_to_low";
        console.log(price_order.value);
        setTimeout(() => {
            form.submit()
        }, 300);
    }

    function filterKmLowToHigh(){
        const form = document.getElementById('buyFilter')
        const price_order = document.getElementById('price_order')

        price_order.value = "km_low_to_high";
        console.log(price_order.value);
        setTimeout(() => {
            form.submit()
        }, 300);
    }

</script>
{% endblock %}