{% extends 'core/base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static '/scss/pages/page.css' %}" type="text/css">


<div class="page">
    <br>
    <br>
    <br>
    <br>
    {% for car in car %}
 <div class="card" onclick="window.location.href='{% url  'car_detail' car.slug  %}'">
    {{car.name}}
    {{car.days_until_expiry}}
    <h2>Bids</h2>
    <ul>
        {% for bud in car.bud_set.all %}
        <li>{{ bud.bidder_name }}: ${{ bud.bid_amount }} ({{ bud.days_until_expiry }})</li>
        {% endfor %}
    </ul>
</div>
<br>
{% endfor %}
</div>

{% endblock %}