{% extends 'core/base.html' %}
{% load static %}
{% load custom_filters  %}

{% block content %}

{% block head %}
<title>Bil {{car.name}}</title>
<meta name="description" content="{{car.name}}, {{car.description}}, Bilmeglerne har spesialisert seg på salg av bil. Vi har utviklet denne tjenesten for å gjøre deg trygg på at bilsalget foregår i henhold til gjeldende lover og forskrifter">
<meta name="author" content="Bilmeglerne">
<meta name="keywords" content="Bilmeglerne, Selge bil, Kjøpe bil, Biler til salg, Kjøp ny bil, Kjøp en bil, Bil, Biler, Bilene">
<meta property="og:type" content="website">
<meta property="og:url" content="{{ request.get_full_path }}">
<meta property="og:description" content="{{car.name}}, {{car.description}}, Bilmeglerne har spesialisert seg på salg av bil. Vi har utviklet denne tjenesten for å gjøre deg trygg på at bilsalget foregår i henhold til gjeldende lover og forskrifter">
{% endblock %}

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<!-- Links and scripts -->
<link rel="stylesheet" href="{% static '/scss/page/pages.css' %}" type="text/css">
<link rel="stylesheet" href="{% static '/scss/pages/product.css' %}" type="text/css">
<script rel="stylesheet" src="{% static '/js/product.js' %}" type="text/javascript"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr@4.6.9/dist/flatpickr.min.css">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link href='https://api.mapbox.com/mapbox-gl-js/v2.9.1/mapbox-gl.css' rel='stylesheet' />
<script src='https://api.mapbox.com/mapbox-gl-js/v2.9.1/mapbox-gl.js'></script>
<script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-draw/v1.0.9/mapbox-gl-draw.js'></script>
<script src="https://unpkg.com/@turf/turf@6/turf.min.js"></script>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>



<div id="onlyDes">
  <div class="first-info">
    
    <div class="info" style="margin-bottom: 30px;">
      <div class="left"><i class="fa-regular fa-calendar-days"></i></div>
      <div class="right">
        <p>Modellår</p>
        <p style="font-weight: 600;">{{car.year}}</p>
      </div>
    </div>
    
    <div class="info" style="margin-bottom: 30px;">
      <div class="left"><i class="fa-solid fa-gauge-simple-high"></i></div>
      <div class="right">
        <p>Kilometer</p>
        <p style="font-weight: 600;">{{car.km}} km</p>
      </div>
    </div>
    
    <div class="info">
      <div class="left"><i class="fa-solid fa-gear"></i></div>
      <div class="right">
        <p>Girkasse</p>
        <p style="font-weight: 600;">{{car.girkasse}}</p>
      </div>
    </div>
    
    <div class="info">
      <div class="left"><i class="fa-solid fa-gas-pump"></i></div>
      <div class="right">
        <p>Drivstoff</p>
        <p style="font-weight: 600;">{{car.drivstoff}}</p>
      </div>
    </div>

  </div>
</div>



 <div class="page">
   
   <div id="overlay"></div>
   
   <div class="max-w">

    {% if car.service or car.garanti %}
    <div id="onlyDesTwo">
      <div class="additional-info">
        <div id="addInfoChoices">
          {% if car.service %}
              {% if car.garanti %}
              <div id="service" class="active" style="width: auto; position: relative; margin-right: 15px;" onclick="serviceChoice()">
                <i class="fa-light fa-car-wrench"></i>
                <p style="padding-left: 0;">Service</p>
              </div>
            {% else %}
            <div id="service" class="active" style="width: auto; position: relative;" onclick="serviceChoice()">
              <i class="fa-light fa-car-wrench"></i>
              <p style="padding-left: 0;">Service</p>
            </div>
            {% endif %}
          {% endif %}
    
          {% if car.garanti %}
            {% if car.service %}
              <div id="garanti" style="width: auto; position: relative;" onclick="garantiChoice()">
                <i class="fa-regular fa-shield-heart"></i>
                <p>Garanti</p>
              </div>
              {% else %}
              <div id="garanti" class="active" style="width: auto; position: relative;" onclick="garantiChoice()">
                <i class="fa-regular fa-shield-heart"></i>
                <p>Garanti</p>
              </div>
            {% endif %}
          {% endif %}
        </div>
        <div class="content">
          {% if car.service %}
          <div id="serviceText" class="active">
            <p>{{car.service}}</p>
          </div>
          {% endif %}
          {% if car.garanti %}
            {% if car.service %}
              <div id="garantiText">
                <p>{{car.garanti}}</p>
              </div>
              {% else %}
              <div id="garantiText" class="active">
                <p>{{car.garanti}}</p>
              </div>
            {% endif %}
          {% endif %}
        </div>
      </div>
    </div>
    {% endif %}
    
   <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">


     <div class="carousel-inner">
       <div class="carousel-item active">
         <img class="pr-img" id="productImageSliderOne" src="{{car.image1.url}}" alt="{{car.name}} image1" draggable="false">
       </div>
       {% if car.image2 %}
       <div class="carousel-item">
         <img class="pr-img " src="{{car.image2.url}}" alt="{{car.name}}  image2" draggable="false">
       </div>
       {% endif %}
       {% if car.image3 %}
       <div class="carousel-item">
         <img class="pr-img " src="{{car.image3.url}}" alt="{{car.name}}  image3" draggable="false">
       </div>
       {% endif %}
       {% if car.image4 %}
       <div class="carousel-item">
         <img class="pr-img " src="{{car.image4.url}}" alt="{{car.name}}  image4" draggable="false">
       </div>
       {% endif %}
       {% if car.image5 %}
       <div class="carousel-item">
         <img class="pr-img" src="{{car.image5.url}}" alt="{{car.name}}   image5" draggable="false">
       </div>
       {% endif %}
       {% if car.image6 %}
       <div class="carousel-item">
         <img class="pr-img" src="{{car.image6.url}}" alt="{{car.name}}   image6" draggable="false">
       </div>
       {% endif %}
       {% if car.image7 %}
       <div class="carousel-item">
         <img class="pr-img" src="{{car.image7.url}}" alt="{{car.name}}   image7" draggable="false">
       </div>
       {% endif %}
       {% if car.image8 %}
       <div class="carousel-item">
         <img class="pr-img" src="{{car.image8.url}}" alt="{{car.name}}   image8" draggable="false">
       </div>
       {% endif %}
       {% if car.image9 %}
       <div class="carousel-item">
         <img class="pr-img" src="{{car.image9.url}}" alt="{{car.name}}   image9" draggable="false">
       </div>
       {% endif %}
       {% if car.image10 %}
       <div class="carousel-item">
         <img class="pr-img" src="{{car.image10.url}}" alt="{{car.name}}   image10" draggable="false">
       </div>
       {% endif %}
       {% if car.image11 %}
       <div class="carousel-item">
         <img class="pr-img" src="{{car.image11.url}}" alt="{{car.name}}   image11" draggable="false">
       </div>
       {% endif %}
       {% if car.image12 %}
       <div class="carousel-item">
         <img class="pr-img" src="{{car.image12.url}}" alt="{{car.name}}   image12" draggable="false">
       </div>
       {% endif %}
       {% if car.image13 %}
       <div class="carousel-item">
         <img class="pr-img" src="{{car.image13.url}}" alt="{{car.name}}   image13" draggable="false">
       </div>
       {% endif %}
       {% if car.image14 %}
       <div class="carousel-item">
         <img class="pr-img" src="{{car.image14.url}}" alt="{{car.name}}   image14" draggable="false">
       </div>
       {% endif %}
       {% if car.image15 %}
       <div class="carousel-item">
         <img class="pr-img" src="{{car.image15.url}}" alt="{{car.name}}   image15" draggable="false">
       </div>
       {% endif %}
       {% if car.image16 %}
       <div class="carousel-item">
         <img class="pr-img" src="{{car.image16.url}}" alt="{{car.name}}   image16" draggable="false">
       </div>
       {% endif %}
       {% if car.image17 %}
       <div class="carousel-item">
         <img class="pr-img" src="{{car.image17.url}}" alt="{{car.name}}   image17" draggable="false">
       </div>
       {% endif %}
       {% if car.image18 %}
       <div class="carousel-item">
         <img class="pr-img" src="{{car.image18.url}}" alt="{{car.name}}   image18" draggable="false">
       </div>
       {% endif %}
       {% if car.image19 %}
       <div class="carousel-item">
         <img class="pr-img" src="{{car.image19.url}}" alt="{{car.name}}   image19" draggable="false">
       </div>
       {% endif %}
       {% if car.image20 %}
       <div class="carousel-item">
         <img class="pr-img" src="{{car.image20.url}}" alt="{{car.name}}   image20" draggable="false">
       </div>
       {% endif %}
       {% if car.image21 %}
       <div class="carousel-item">
         <img class="pr-img" src="{{car.image21.url}}" alt="{{car.name}}   image21" draggable="false">
       </div>
       {% endif %}
       {% if car.image22 %}
       <div class="carousel-item">
         <img class="pr-img" src="{{car.image22.url}}" alt="{{car.name}}   image22" draggable="false">
       </div>
       {% endif %}
       {% if car.image23 %}
       <div class="carousel-item">
         <img class="pr-img" src="{{car.image23.url}}" alt="{{car.name}}   image23" draggable="false">
       </div>
       {% endif %}
       {% if car.image24 %}
       <div class="carousel-item">
         <img class="pr-img" src="{{car.image24.url}}" alt="{{car.name}}   image24" draggable="false">
       </div>
       {% endif %}
       {% if car.image25 %}
       <div class="carousel-item">
         <img class="pr-img" src="{{car.image25.url}}" alt="{{car.name}}   image25" draggable="false">
       </div>
       {% endif %}
       {% if car.image26 %}
       <div class="carousel-item">
         <img class="pr-img" src="{{car.image26.url}}" alt="{{car.name}}   image26" draggable="false">
       </div>
       {% endif %}
       {% if car.image27 %}
       <div class="carousel-item">
         <img class="pr-img" src="{{car.image27.url}}" alt="{{car.name}}   image27" draggable="false">
       </div>
       {% endif %}
       {% if car.image28 %}
       <div class="carousel-item">
         <img class="pr-img" src="{{car.image28.url}}" alt="{{car.name}}   image28" draggable="false">
       </div>
       {% endif %}
       {% if car.image29 %}
       <div class="carousel-item">
         <img class="pr-img" src="{{car.image29.url}}" alt="{{car.name}}   image29" draggable="false">
       </div>
       {% endif %}
       {% if car.image30 %}
       <div class="carousel-item">
         <img class="pr-img" src="{{car.image30.url}}" alt="{{car.name}}   image30" draggable="false">
       </div>
       {% endif %}
       {% if car.image31 %}
       <div class="carousel-item">
         <img class="pr-img" src="{{car.image31.url}}" alt="{{car.name}}   image31" draggable="false">
       </div>
       {% endif %}
       {% if car.image32 %}
       <div class="carousel-item">
         <img class="pr-img" src="{{car.image32.url}}" alt="{{car.name}}   image32" draggable="false">
       </div>
       {% endif %}
       {% if car.image33 %}
       <div class="carousel-item">
         <img class="pr-img" src="{{car.image33.url}}" alt="{{car.name}}   image33" draggable="false">
       </div>
       {% endif %}
       {% if car.image34 %}
       <div class="carousel-item">
         <img class="pr-img" src="{{car.image34.url}}" alt="{{car.name}}   image34" draggable="false">
       </div>
       {% endif %}
       {% if car.image35 %}
       <div class="carousel-item">
         <img class="pr-img" src="{{car.image35.url}}" alt="{{car.name}}   image35" draggable="false">
       </div>
       {% endif %}
       {% if car.image36 %}
       <div class="carousel-item">
         <img class="pr-img" src="{{car.image36.url}}" alt="{{car.name}}   image36" draggable="false">
       </div>
       {% endif %}
       {% if car.image37 %}
       <div class="carousel-item">
         <img class="pr-img" src="{{car.image37.url}}" alt="{{car.name}}   image37" draggable="false">
       </div>
       {% endif %}
       {% if car.image38 %}
       <div class="carousel-item">
         <img class="pr-img" src="{{car.image38.url}}" alt="{{car.name}}   image38" draggable="false">
       </div>
       {% endif %}
       {% if car.image39 %}
       <div class="carousel-item">
         <img class="pr-img" src="{{car.image39.url}}" alt="{{car.name}}   image39" draggable="false">
       </div>
       {% endif %}
       {% if car.image40 %}
       <div class="carousel-item">
         <img class="pr-img" src="{{car.image40.url}}" alt="{{car.name}}   image40" draggable="false">
       </div>
       {% endif %}
       {% if car.image41 %}
       <div class="carousel-item">
         <img class="pr-img" src="{{car.image41.url}}" alt="{{car.name}}   image41" draggable="false">
       </div>
       {% endif %}
       {% if car.image42 %}
       <div class="carousel-item">
         <img class="pr-img" src="{{car.image42.url}}" alt="{{car.name}}   image42" draggable="false">
       </div>
       {% endif %}
       {% if car.image43 %}
       <div class="carousel-item">
         <img class="pr-img" src="{{car.image43.url}}" alt="{{car.name}}   image43" draggable="false">
       </div>
       {% endif %}
       {% if car.image44 %}
       <div class="carousel-item">
         <img class="pr-img" src="{{car.image44.url}}" alt="{{car.name}}   image44" draggable="false">
       </div>
       {% endif %}
       {% if car.image45 %}
       <div class="carousel-item">
         <img class="pr-img" src="{{car.image45.url}}" alt="{{car.name}}   image45" draggable="false">
       </div>
       {% endif %}
       {% if car.image46 %}
       <div class="carousel-item">
         <img class="pr-img" src="{{car.image46.url}}" alt="{{car.name}}   image46" draggable="false">
       </div>
       {% endif %}
       {% if car.image47 %}
       <div class="carousel-item">
         <img class="pr-img" src="{{car.image47.url}}" alt="{{car.name}}   image47" draggable="false">
       </div>
       {% endif %}
       {% if car.image48 %}
       <div class="carousel-item">
         <img class="pr-img" src="{{car.image48.url}}" alt="{{car.name}}   image48" draggable="false">
       </div>
       {% endif %}
       {% if car.image49 %}
       <div class="carousel-item">
         <img class="pr-img" src="{{car.image49.url}}" alt="{{car.name}}   image49" draggable="false">
       </div>
       {% endif %}
       {% if car.image50 %}
       <div class="carousel-item">
         <img class="pr-img" src="{{car.image50.url}}" alt="{{car.name}}   image50" draggable="false">
       </div>
       {% endif %}
       {% if car.image51 %}
       <div class="carousel-item">
         <img class="pr-img" src="{{car.image51.url}}" alt="{{car.name}}   image51" draggable="false">
       </div>
       {% endif %}
       {% if car.image52 %}
       <div class="carousel-item">
         <img class="pr-img" src="{{car.image52.url}}" alt="{{car.name}}   image52" draggable="false">
       </div>
       {% endif %}
       {% if car.image53 %}
       <div class="carousel-item">
         <img class="pr-img" src="{{car.image53.url}}" alt="{{car.name}}   image53" draggable="false">
       </div>
       {% endif %}
       {% if car.image54 %}
       <div class="carousel-item">
         <img class="pr-img" src="{{car.image54.url}}" alt="{{car.name}}   image54" draggable="false">
       </div>
       {% endif %}
       {% if car.image55 %}
       <div class="carousel-item">
         <img class="pr-img" src="{{car.image55.url}}" alt="{{car.name}}   image6" draggable="false">
       </div>
       {% endif %}
       {% if car.image56 %}
       <div class="carousel-item">
         <img class="pr-img" src="{{car.image56.url}}" alt="{{car.name}}   image56" draggable="false">
       </div>
       {% endif %}
       {% if car.image57 %}
       <div class="carousel-item">
         <img class="pr-img" src="{{car.image57.url}}" alt="{{car.name}}   image57" draggable="false">
       </div>
       {% endif %}
       {% if car.image58 %}
       <div class="carousel-item">
         <img class="pr-img" src="{{car.image58.url}}" alt="{{car.name}}   image58" draggable="false">
       </div>
       {% endif %}
       {% if car.image59 %}
       <div class="carousel-item">
         <img class="pr-img" src="{{car.image59.url}}" alt="{{car.name}}   image59" draggable="false">
       </div>
       {% endif %}
       {% if car.image60 %}
       <div class="carousel-item">
         <img class="pr-img" src="{{car.image60.url}}" alt="{{car.name}}   image60" draggable="false">
       </div>
       {% endif %}
       {% if car.image61 %}
       <div class="carousel-item">
         <img class="pr-img" src="{{car.image61.url}}" alt="{{car.name}}   image61" draggable="false">
       </div>
       {% endif %}
       {% if car.image62 %}
       <div class="carousel-item">
         <img class="pr-img" src="{{car.image62.url}}" alt="{{car.name}}   image62" draggable="false">
       </div>
       {% endif %}
       {% if car.image63 %}
       <div class="carousel-item">
         <img class="pr-img" src="{{car.image63.url}}" alt="{{car.name}}   image63" draggable="false">
       </div>
       {% endif %}
       {% if car.image64 %}
       <div class="carousel-item">
         <img class="pr-img" src="{{car.image64.url}}" alt="{{car.name}}   image64" draggable="false">
       </div>
       {% endif %}
       {% if car.image65 %}
       <div class="carousel-item">
         <img class="pr-img" src="{{car.image65.url}}" alt="{{car.name}}   image65" draggable="false">
       </div>
       {% endif %}
       {% if car.image66 %}
       <div class="carousel-item">
         <img class="pr-img" src="{{car.image66.url}}" alt="{{car.name}}   image66" draggable="false">
       </div>
       {% endif %}
       {% if car.image67 %}
       <div class="carousel-item">
         <img class="pr-img" src="{{car.image67.url}}" alt="{{car.name}}   image67" draggable="false">
       </div>
       {% endif %}
       {% if car.image68 %}
       <div class="carousel-item">
         <img class="pr-img" src="{{car.image68.url}}" alt="{{car.name}}   image68" draggable="false">
       </div>
       {% endif %}
       {% if car.image69 %}
       <div class="carousel-item">
         <img class="pr-img" src="{{car.image69.url}}" alt="{{car.name}}   image69" draggable="false">
       </div>
       {% endif %}
       {% if car.image70 %}
       <div class="carousel-item">
         <img class="pr-img" src="{{car.image70.url}}" alt="{{car.name}}   image70" draggable="false">
       </div>
       {% endif %}
       {% if car.image71 %}
       <div class="carousel-item">
         <img class="pr-img" src="{{car.image71.url}}" alt="{{car.name}}   image71" draggable="false">
       </div>
       {% endif %}
       {% if car.image72 %}
       <div class="carousel-item">
         <img class="pr-img" src="{{car.image72.url}}" alt="{{car.name}}   image72" draggable="false">
       </div>
       {% endif %}
       {% if car.image73 %}
       <div class="carousel-item">
         <img class="pr-img" src="{{car.image73.url}}" alt="{{car.name}}   image73" draggable="false">
       </div>
       {% endif %}
       {% if car.image74 %}
       <div class="carousel-item">
         <img class="pr-img" src="{{car.image74.url}}" alt="{{car.name}}   image74" draggable="false">
       </div>
       {% endif %}
       {% if car.image75 %}
       <div class="carousel-item">
         <img class="pr-img" src="{{car.image75.url}}" alt="{{car.name}}   image75" draggable="false">
       </div>
       {% endif %}
       {% if car.image76 %}
       <div class="carousel-item">
         <img class="pr-img" src="{{car.image76.url}}" alt="{{car.name}}   image76" draggable="false">
       </div>
       {% endif %}
       {% if car.image77 %}
       <div class="carousel-item">
         <img class="pr-img" src="{{car.image77.url}}" alt="{{car.name}}   image77" draggable="false">
       </div>
       {% endif %}
       {% if car.image78 %}
       <div class="carousel-item">
         <img class="pr-img" src="{{car.image78.url}}" alt="{{car.name}}   image78" draggable="false">
       </div>
       {% endif %}
       {% if car.image79 %}
       <div class="carousel-item">
         <img class="pr-img" src="{{car.image79.url}}" alt="{{car.name}}   image79" draggable="false">
       </div>
       {% endif %}
       {% if car.image80 %}
       <div class="carousel-item">
         <img class="pr-img" src="{{car.image80.url}}" alt="{{car.name}}   image80" draggable="false">
       </div>
       {% endif %}
     </div>


     {% if car.image2 %}
     <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
       <span class="carousel-control-prev-icon" aria-hidden="true"></span>
       <span class="sr-only">Previous</span>
     </a>
     <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
       <span class="carousel-control-next-icon" aria-hidden="true"></span>
       <span class="sr-only">Next</span>
     </a>
     {% else %}
     {% endif %}
   </div>



  <div class="car">
    <div class="info">

      <div class="flex">
        {% if car.days_until_expiry > 0 %}
      

        {% endif %}
      </div>



    <div class="main-info">

        <div class="name"><strong style="font-weight: 600;">{{car.name}}</strong> {{ car.car_spesifikasjoner }}</div>
        <p style="margin-bottom: 0; margin-top: 15px; color: black; font-size: 16px; opacity: 0.7;">Pris</p>
        <div class="price">{{car.price|add_space_separator}}kr</div>
        {% if highest_bid %}
          {% if car.sold %}
          {% else %}
            {% if highest_bid.days_until_expiry > 0 %}
              {% if highest_bid.status == 'declined' %}
              {% else %}
              <div class="current-bid">
                <div class="price" style="font-size: 18px;">Høyeste bud: <strong>{{highest_bid.bid_amount|add_space_separator }}kr</strong></div>
              </div>
              {% endif %}
            {% else %}
            {% endif %}
          {% endif %}
        {% endif %}

        <div class="actions">
          {% if request.user == car.user %}
                <button  style=" background: #ffc876; color: #1F1F1F; border: none; pointer-events: none;" class="secondary">Du eier bilen</button>
                {% if car.sold %}
                <button style="background: #ffc876; color: #1F1F1F; border: none; pointer-events: none;"  class="secondary">Bilen ble solgt</button>
                {% else %}
                <button style="opacity: 0; pointer-events: none;"  class="secondary">Bilen ble solgt</button>
                {% endif %}
                <button  style="opacity: 0; pointer-events: none;" class="secondary">Du eier bilen</button>
                <button  style="opacity: 0; pointer-events: none;" >Du eier bilen</button>
          {% else %}
            {% if car.sold %}
            <button   style=" background: #ffc876; color: #1F1F1F; border: none; pointer-events: none;" class="secondary">Bilen ble solgt</button>
            <button style="opacity: 0; pointer-events: none;"  class="secondary">Se annonsen under min bruker</button>
            <button  style="opacity: 0; pointer-events: none;" class="secondary">Du eier bilen</button>
            <button  style="opacity: 0; pointer-events: none;" >Du eier bilen</button>
            {% else %}
              {% if highest_bid %}
                {% if highest_bid.status == 'pending' %}
                <button onclick="testDrive()" class="secondary">Prøvekjøring</button>
                <button onclick="contactOwner()" class="secondary">Kontakt eier</button>
                <button onclick="makeBid()" class="secondary">Gi bud</button>
                {% endif %}
              {% else %}
                <button onclick="testDrive()" class="secondary">Prøvekjøring</button>
                <button onclick="contactOwner()" class="secondary">Kontakt eier</button>
                <button onclick="makeBid()" class="secondary">Gi bud</button>
              {% endif %}
              {% if highest_bid_status|default:'' == 'declined' or days_until_expiry|default:0 == 0 %}
                <button onclick="confirmBuy()">Kjøp bilen</button>
              {% elif highest_bid_status|default:'' == 'expired' %}
                <button onclick="confirmBuy()">Kjøp bilen</button>
              {% endif %}
            {% endif %}
          {% endif %}
        </div>
        
      </div>

    <div id="onlyMob">
      <div class="first-info">
        
        <div class="info" style="margin-bottom: 30px;">
          <div class="left"><i class="fa-regular fa-calendar-days"></i></div>
          <div class="right">
            <p>Modellår</p>
            <p style="font-weight: 600;">{{car.year}}</p>
          </div>
        </div>
        
        <div class="info" style="margin-bottom: 30px;">
          <div class="left"><i class="fa-solid fa-gauge-simple-high"></i></div>
          <div class="right">
            <p>Kilometer</p>
            <p style="font-weight: 600;">{{car.km}} km</p>
          </div>
        </div>
        
        <div class="info">
          <div class="left"><i class="fa-solid fa-gear"></i></div>
          <div class="right">
            <p>Girkasse</p>
            <p style="font-weight: 600;">{{car.girkasse}}</p>
          </div>
        </div>
        
        <div class="info">
          <div class="left"><i class="fa-solid fa-gas-pump"></i></div>
          <div class="right">
            <p>Drivstoff</p>
            <p style="font-weight: 600;">{{car.drivstoff}}</p>
          </div>
        </div>

      </div>
    </div>

      
      <!-- Usynlig -->
      <div style="opacity: 0;">
        <h1>Høyste bud</h1>her: {{highest_bid.bid_amount}} <h1>Dager igjen</h1>{{ highest_bid.days_until_expiry }} <p>OBS: her vil høyeste budet komme opp. Både prisen og dato til den går bort kan bli vist. Dette er valgfritt</p>
      </div>

      <div id="infoChoices">
        <p onclick="infoChoicesOne()" id="infoChoicesPOne" class="active">Beskrivelse</p>
        <p onclick="infoChoicesTwo()" id="infoChoicesPTwo">Utstyr</p>
        <p onclick="infoChoicesThree()" id="infoChoicesPThree">Spesifikasjoner</p>
      </div>

      <div class="third-info" id="utstyr">
        <p style="margin-bottom: 10px; margin-top: 25px; color: black; font-size: 22px;">Utstyr</p>
        {% if car.ABS_bremser %}<li>ABS bremser</li>{% endif %}
        {% if car.AUX_inngang %}<li>AUX inngang</li>{% endif %}
        {% if car.air_Condition %}<li>Air Condition</li>{% endif %}
        {% if car.airbag_foran %}<li>Airbag foran</li>{% endif %}
        {% if car.alarm %}<li>Alarm</li>{% endif %}
        {% if car.antiskrens %}<li>Antiskrens</li>{% endif %}
        {% if car.antispin %}<li>Antispin</li>{% endif %}
        {% if car.bagasjeromstrekk %}<li>Bagasjeromstrekk</li>{% endif %}
        {% if car.bluetooth %}<li>Bluetooth</li>{% endif %}
        {% if car.cd_spiller %}<li>CD spiller</li>{% endif %}
        {% if car.cruisekontroll %}<li>Cruisekontroll</li>{% endif %}
        {% if car.cruisekontroll_Adaptiv %}<li>Cruisekontroll Adaptiv</li>{% endif %}
        {% if car.diesel_partikkelfilter %}<li>Diesel partikkelfilter</li>{% endif %}
        {% if car.diffsperre %}<li>Diffsperre</li>{% endif %}
        {% if car.elektrisk_sete_med_memory %}<li>Elektrisk sete med memory</li>{% endif %}
        {% if car.elektrisk_sete_uten_memory %}<li>Elektrisk sete uten memory</li>{% endif %}
        {% if car.elvinduer %}<li>El vinduer</li>{% endif %}
        {% if car.elektriske_speil %}<li>Elektriske speil</li>{% endif %}
        {% if car.fjernlysassitent %}<li>Fjernlysassitent</li>{% endif %}
        {% if car.gjenfinningssystem %}<li>Gjenfinningssystem</li>{% endif %}
        {% if car.handsfree_opplegg %}<li>Handsfree opplegg</li>{% endif %}
        {% if car.head_up_display %}<li>Head up display</li>{% endif %}
        {% if car.helårsdekk %}<li>Helårsdekk</li>{% endif %}
        {% if car.hengerfeste_eller_svingbart %}<li>Hengerfeste / Svingbart speil</li>{% endif %}
        {% if car.isofix %}<li>Isofix</li>{% endif %}
        {% if car.kassetspiller %}<li>Kassetspiller</li>{% endif %}
        {% if car.kjørecomputer %}<li>Kjørecomputer</li>{% endif %}
        {% if car.led_lys %}<li>LED lys</li>{% endif %}
        {% if car.laserlys %}<li>Laserlys speil</li>{% endif %}
        {% if car.lasterholdere_eller_skistativ %}<li>Lasterholdere / Skistativ</li>{% endif %}
        {% if car.luftfjæring %}<li>Luftfjæring</li>{% endif %}
        {% if car.lyssensor %}<li>Lyssensor</li>{% endif %}
        {% if car.mørke_ruter_bak %}<li>Mørke ruter bak</li>{% endif %}
        {% if car.metalic_lakk %}<li>Metalic lakk</li>{% endif %}
        {% if car.motorvarmer %}<li>Motorvarmer</li>{% endif %}
        {% if car.multifunksjonsratt %}<li>Multifunksjonsratt</li>{% endif %}
        {% if car.navigasjonssystem %}<li>Navigasjonssystem</li>{% endif %}
        {% if car.nivåregulering %}<li>Nivåregulering</li>{% endif %}
        {% if car.nøkkelløs_start %}<li>Nøkkelløs start</li>{% endif %}
        {% if car.oppvarmende_seter %}<li>Oppvarmende seter</li>{% endif %}
        {% if car.original_telefon %}<li>Original telefon</li>{% endif %}
        {% if car.parkeringsensor_bak %}<li>Parkeringsensor bak</li>{% endif %}
        {% if car.parkeringsensor_foran %}<li>Parkeringsensor foran</li>{% endif %}
        {% if car.radio_DAB %}<li>Radio DAB</li>{% endif %}
        {% if car.radio_FM %}<li>Radio FM</li>{% endif %}
        {% if car.regnesensor %}<li>Regnesensor</li>{% endif %}
        {% if car.ruggekamera %}<li>Ryggekamera</li>{% endif %}
        {% if car.sentrallås %}<li>Sentrallås</li>{% endif %}
        {% if car.servostyring %}<li>Servostyring</li>{% endif %}
        {% if car.seter_i_delskinn %}<li>Seter i delskinn</li>{% endif %}
        {% if car.seter_i_helskinn %}<li>Seter i helskinn</li>{% endif %}
        {% if car.soltak_eller_glasstak %}<li>Soltak / Glasstak</li>{% endif %}
        {% if car.sportsseter %}<li>Sportsseter</li>{% endif %}
        {% if car.startsperre %}<li>Startsperre</li>{% endif %}
        {% if car.xenolys %}<li>Xenolys</li>{% endif %}
        
      </div>

      <div class="second-info" id="spesifikasjoner" >
        <p style="margin-bottom: 18px; margin-top: 25px; color: black; font-size: 22px;">Spesifikasjoner</p>
        <div class="specs">
          <div class="spec">
            <p class="spec-heading">Omregistrering</p>
            <p class="spec-body">{{car.reg_pris}} kr</p>
          </div>
          <div class="spec">
            <p class="spec-heading">Effekt</p>
            <p class="spec-body">{{car.effekt_i_hk}} Hk</p>
          </div>
          <div class="spec">
            <p class="spec-heading">Avgiftsklasse</p>
            <p class="spec-body">{{car.avgiftsklasse}}</p>
          </div>
          <div class="spec">
            <p class="spec-heading">Vekt</p>
            <p class="spec-body">{{car.egenvekt_i_kg}} kg</p>
          </div>
          <div class="spec">
            <p class="spec-heading">Reg.nr.</p>
            <p class="spec-body">{{car.reg_nr}}</p>
          </div>
          <div class="spec">
            <p class="spec-heading">Antall seter</p>
            <p class="spec-body">{{car.antall_seter}}</p>
          </div>
          <div class="spec">
            <p class="spec-heading">1. gang registrert</p>
            <p class="spec-body">{{car.first_registered|date:"d.m.Y"}}</p>
          </div>
          <div class="spec">
            <p class="spec-heading">Karosseri</p>
            <p class="spec-body">{{car.karosseritype}}</p>
          </div>
          {% if car.amount_of_owners %}
          <div class="spec">
            <p class="spec-heading">Antall eiere</p>
            <p class="spec-body">{{car.amount_of_owners}}</p>
          </div>
          {% endif %}
          {% if car.rekkevidde %}
          <div class="spec">
            <p class="spec-heading">Rekkevidde (WLTP)</p>
            <p class="spec-body">{{car.rekkevidde}} km</p>
          </div>
          {% endif %}
          {% if car.batterikapasitet_i_kWh %}
          <div class="spec">
            <p class="spec-heading">Batterikapasitet </p>
            <p class="spec-body">{{car.batterikapasitet_i_kWh}} kWh</p>
          </div>
          {% endif %}
          {% if car.fargebeskrivelse %}
          <div class="spec">
            <p class="spec-heading">Fargebeskrivelse </p>
            <p class="spec-body">{{car.fargebeskrivelse}}</p>
          </div>
          {% endif %}
          <div class="spec">
            <p class="spec-heading">Farge</p>
            <p class="spec-body">{{car.hovedfarge}}</p>
          </div>
          <div class="spec">
            <p class="spec-heading">Antall dører</p>
            <p class="spec-body">{{car.antall_dører}}</p>
          </div>
          <div class="spec">
            <p class="spec-heading">Bilen står i</p>
            <p class="spec-body">{{car.bilen_står_i}}</p>
          </div>
          {% if car.interiorfarge %}
          <div class="spec">
            <p class="spec-heading">Interiorfarge </p>
            <p class="spec-body">{{car.interiorfarge}}</p>
          </div>
          {% endif %}
          <div class="spec">
            <p class="spec-heading">Neste frist for EU-kontroll</p>
            <p class="spec-body">{{car.next_EU_test_deadline}}</p>
          </div>
          <div class="spec">
            <p class="spec-heading">Hjuldrift</p>
            <p class="spec-body">{{car.hjuldrift}}</p>
          </div>
          {% if car.maks_tilhengervekt_i_kg %}
          <div class="spec">
            <p class="spec-heading">Maks tilhengervekt</p>
            <p class="spec-body">{{car.maks_tilhengervekt_i_kg}} kg</p>
          </div>
          {% endif %}
        </div>
      </div>

      <div class="fourth-info" id="beskrivelse" style="display: inline-block;">
        <p style="margin-bottom: 10px; margin-top: 25px; color: black; font-size: 22px;">Beskrivelse</p>
          <p style="font-size: 16px !important;" class="des">{{car.description|safe}}</p>
      </div>


      {% if car.service or car.garanti %}
      <div id="onlyMobTwo">
        <div class="additional-info">
          <div id="addInfoChoicesOne">
            {% if car.service %}
                {% if car.garanti %}
                <div id="serviceOne" class="active" style="width: auto; position: relative; margin-right: 15px;" onclick="serviceChoiceOne()">
                  <i class="fa-light fa-car-wrench"></i>
                  <p style="padding-left: 0;">Service</p>
                </div>
              {% else %}
              <div id="serviceOne" class="active" style="width: auto; position: relative;" onclick="serviceChoiceOne()">
                <i class="fa-light fa-car-wrench"></i>
                <p style="padding-left: 0;">Service</p>
              </div>
              {% endif %}
            {% endif %}

            {% if car.garanti %}
              {% if car.service %}
                <div id="garantiOne" style="width: auto; position: relative;" onclick="garantiChoiceOne()">
                  <i class="fa-regular fa-shield-heart"></i>
                  <p>Garanti</p>
                </div>
                {% else %}
                <div id="garantiOne" class="active" style="width: auto; position: relative;" onclick="garantiChoiceOne()">
                  <i class="fa-regular fa-shield-heart"></i>
                  <p>Garanti</p>
                </div>
              {% endif %}
            {% endif %}
          </div>
          <div class="content">
            {% if car.service %}
            <div id="serviceTextOne" class="active">
              <p>{{car.service|safe}}</p>
            </div>
            {% endif %}
            {% if car.garanti %}
              {% if car.service %}
                <div id="garantiTextOne">
                  <p>{{car.garanti|safe}}</p>
                </div>
                {% else %}
                <div id="garantiTextOne" class="active">
                  <p>{{car.garanti|safe}}</p>
                </div>
              {% endif %}
            {% endif %}
          </div>
        </div>
      </div>
      {% endif %}

      <div class="location">
        <h1 style="font-size: 18px; font-weight: 500; color: #1F1F1F; margin-top: 50px;">Bilen står i {{car.post_nr}} {{car.adress}}</h1>
        <img style="border:0; width: 100%;  height: 400px; max-width: 900px; object-fit: cover; border-radius: 4px; margin-inline: auto; position: relative; left: 50%; transform: translateX(-50%) translateY(12px);"  src="{{car.map_images.url}}" alt="{{car.name}}  image2" draggable="false">
      </div>


    </div>

    <form id="testDrive" action="" method="POST">
      {% csrf_token %}
      <div onclick="testDriveClose()" class="close"><i class="fa-solid fa-x"></i>Lukk</div>
      <h1 class="heading">Prøvekjøring</h1>
      <br>
      <div class="inputs-labels">


        <div class="time">
          <label>Tidspunkt 1</label>
          <div class="icon-input">
            <input required type="text" name="date1_Y_m_d" id="id_date1" class="flatpickr" placeholder="Dato">
            <i class="fa-regular fa-calendar-lines"></i>
          </div>
          <br>
          <div class="icon-input">
            <input required type="text" name="time1" id="id_time1" class="flatpickr" style="width: 100% !important;" placeholder="Klokkeslett">
            <i class="fa-light fa-clock"></i>          
          </div>
          <br>
        </div>

        <br>

        <div class="time">
          <label>Tidspunkt 2</label>
          <div class="icon-input">
            <input required type="text" name="date2_Y_m_d" id="id_date1" class="flatpickr" placeholder="Dato">
            <i class="fa-regular fa-calendar-lines"></i>
          </div>
          <br>
          <div class="icon-input">
            <input required type="text" name="time2" id="id_time2" class="flatpickr" style="width: 100% !important;" placeholder="Klokkeslett">
            <i class="fa-light fa-clock"></i>          
          </div>
          <br>
        </div>

        <br>

        <div class="time">
          <label for="navn">Informasjon om deg</label>
          <br>
          <input type="text" placeholder="Navn" name="name" id="name" required  oninput="this.setCustomValidity('')" value="{{request.user.get_full_name}}">
          <br>
          <br>
          <input type="email" placeholder="Epost" name="email" id="email"  required oninput="this.setCustomValidity('')" value="{{request.user.email}}">
          <br>
          <br>
          <textarea name="message" placeholder="Melding" id="message" oninput="this.setCustomValidity('')"></textarea>
        </div>
        </div>
      <div class="form-actions">
        <button class="primary" type="submit" name="testdrive" value="testdrive">Send</button>
      </div>
    </form>



    {% if request.user.is_authenticated %}
    <form action="" method="POST" id="makeBid">
        {% csrf_token %}
        <div onclick="makeBidClose()" class="close"><i class="fa-solid fa-x"></i>Lukk</div>
        <h1 class="heading">Gi bud</h1>

        <div class="inputs-labels">
          <div class="time">
            <input type="text" name="user" id="user" value="{{request.user}}" style="opacity: 0; pointer-events: none; width: 0; height: 0;">
            <br>
            <div class="icon-input">
              <input type="number" required name="bid_amount" id="bid_amount" placeholder="Bud beløp">
              <i class="fa-duotone fa-tally-3"></i>
            </div>
            {% if highest_bid.days_until_expiry > 0  %}
            {% if highest_bid.status == 'declined' %}
            {% else %}
            <p style="margin-left: 5px; margin-top: 3px; margin-bottom: 0;" id="minPriceValueTxt">Må være større enn <span id="minPriceValue"></span>kr</p>
            {% endif %}
            {% else %}
            {% endif %}
            <br>
            <div class="icon-input">
              <input type="text" required name="expiry_date" id="expiry_date" placeholder="Utløpsdato">
              <i class="fa-regular fa-calendar-lines"></i>
            </div>
            <br>
            <div class="alert alert-danger" role="alert" id="alert" style="display: none;">Alle feltene må fylles inn</div>
          </div>
        </div>

        <div class="form-actions">
          <button type="submit" name="make_bid" value="make_bid">Gi bud</button>
          </div>
    </form>
    {% else %}
    <form id="makeBid">
      <div onclick="makeBidClose()" class="close"><i class="fa-solid fa-x"></i>Lukk</div>
      <h1 class="heading">Logg inn for å gi bud</h1>
      <div class="form-actions">
        <button type="button" onclick="window.location.href='/logg-inn/?next={% firstof request.path '/' %}'">Logg inn</button>
        </div>
    </form>
    {% endif %}


    {% if request.user.is_authenticated %}
    <div id="contactOwner">
      <div onclick="contactOwnerClose()" class="close"><i class="fa-solid fa-x"></i>Lukk</div>
      <h1 class="heading" style="margin-bottom: 20px;">Kontakt eier</h1>
      <div class="time">
        <label for="">Fullt navn</label>
        <br>
        {% if car.user.get_full_name %}
        {{car.user.get_full_name}}
        {% else %}
        Ikke oppgitt
        {% endif %}
      </div>
      <div class="time">
        <label for="">Telefonnummer</label>
        <br>
        {% if car.user.profile.telefon %}
        +47 {{car.user.profile.telefon}}
        {% else %}
        Ikke oppgitt
        {% endif %}
      </div>
      <div class="time">
        <label for="">Epost</label>
        <br>
        {% if car.user.username %}
        {{car.user.username}}
        {% else %}
        Ikke oppgitt
        {% endif %}
      </div>
    </div>
    {% else %}
    <div id="contactOwner">
      <div onclick="contactOwnerClose()" class="close"><i class="fa-solid fa-x"></i>Lukk</div>
      <h1 class="heading">Logg inn for å se info</h1>
      <div class="form-actions">
        <button type="button" onclick="window.location.href='/logg-inn/?next={% firstof request.path '/' %}'">Logg inn</button>
        </div>
    </div>
    {% endif %}


    {% if request.user.is_authenticated %}
    <form action="" method="POST" id="confirmBuy">
      {% csrf_token %}
      <div onclick="confirmBuyClose()" class="close"><i class="fa-solid fa-x"></i>Lukk</div>
      <h1 class="heading">Bekfreft kjøpet</h1>
      <p>Så spennende at du ønsker akkurat denne bilen! Bekfrekt kjøpet så vil du snart motta kontrakt for digital signering</p>
      <div class="time">
        <label for="">Bil</label>
        <br>
        {{car.name}}
      </div>
      <div class="time">
        <label for="">Pris</label>
        <br>
         {{car.price|add_space_separator}}kr
      </div>
      <div class="time" style="display: flex; align-items: center;">
        <input type="checkbox" required style="width: 29px; height: 29px; border-radius: 4px; cursor: pointer;">
        <p style="margin-bottom: 0; margin-left: 15px;">Jeg bekrefter at jeg ønsker å kjøpe denne bilen</p>
      </div>
      <div class="form-actions">
        <button type="submit" name="buy" value="buy">Gå videre</button>
       </div>
    </form>
    {% else %}
    <form action="" method="POST" id="confirmBuy">
      <div onclick="confirmBuyClose()" class="close"><i class="fa-solid fa-x"></i>Lukk</div>
      <h1 class="heading">Logg inn for å kjøpe</h1>
      <div class="form-actions">
        <button type="button" onclick="window.location.href='/logg-inn/?next={% firstof request.path '/' %}'">Logg inn</button>
        </div>
    {% endif %}

  </div>
</div>

  </div>


  <style>
    .fullscreen-image {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 9999;
      background-color: rgba(0, 0, 0, 0.9);
      display: flex;
      justify-content: center;
      align-items: center;
    }
  
    .fullscreen-image img {
      max-width: 90%;
      max-height: 90%;
      object-fit: contain;
    }
  </style>
  


  <script>
    // Function to open fullscreen image
    function openFullScreenImage(imageUrl) {
      const fullscreenContainer = document.createElement('div');
      fullscreenContainer.className = 'fullscreen-image';
  
      const imgElement = document.createElement('img');
      imgElement.src = imageUrl;
      imgElement.alt = 'Fullscreen Image';
  
      // Close the fullscreen image when clicking on the black overlay
      fullscreenContainer.onclick = () => {
        fullscreenContainer.remove();
      };
  
      fullscreenContainer.appendChild(imgElement);
      document.body.appendChild(fullscreenContainer);
    }
  
    // Attach click event to each carousel item
    const carouselItems = document.querySelectorAll('.carousel-item');
    carouselItems.forEach((item, index) => {
      const image = item.querySelector('.pr-img');
      const imageUrl = image.getAttribute('src');
  
      image.onclick = () => {
        openFullScreenImage(imageUrl);
      };
    });
  </script>
  
  

  <script type="text/javascript">

    mapboxgl.accessToken = '{{mapbox_access_token}}';
     const map = new mapboxgl.Map({
       container: 'map', // Specify the container ID
       style: 'mapbox://styles/bogdantro/cld3lse3v000301lidywd9qfs',
       center: [10.776038, 59.912196], // Specify the starting position
       zoom: 4.5, // Specify the starting zoom
     });
   
     map.on('load', () => {
 map.addSource('places', {
    // This GeoJSON contains features that include an "icon"
    // property. The value of the "icon" property corresponds
    // to an image in the Mapbox Streets style's sprite.
    'type': 'geojson',
    'data': {
       'type': 'FeatureCollection',
       'features': [
          '{% for locations in locations %}',
    {
    'geometry': {
       'type': 'Point',
       'coordinates': ['{{locations.cords1}}', '{{locations.cords2}}']
    },
    },
    '{% endfor %}',
    ]
    }
    });
 // Add a layer showing the places.
 map.addLayer({
 'id': 'places',
 'type': 'symbol',
 'source': 'places',
 'layout': {
 "icon-image": "marker-editor",
 'icon-allow-overlap': true,
 'icon-size': 0.9,
 }
 });
  

 });
 
   </script>



  
  <script src="https://cdn.jsdelivr.net/npm/flatpickr@4.6.9/dist/flatpickr.min.js"></script>
  <script>
      document.addEventListener('DOMContentLoaded', function() {

        flatpickr("#id_date1", {
    enable: [
      function(date) {
        return date
      }
      // Add other date restrictions here
    ],
    enableTime: false,
    minDate: 'today',
    altInput: true,
    altFormat: "j F, Y",
    // maxDate: new Date().fp_incr(14) // 14 days from now
  });
});
  </script>

  <script>
      document.addEventListener('DOMContentLoaded', function() {

        flatpickr("#id_date2", {
    enable: [
      function(date) {
        return date
      }
      // Add other date restrictions here
    ],
    enableTime: false,
    minDate: 'today',
    altInput: true,
    altFormat: "j F, Y",
  });
});
  </script>


  <script>
      document.addEventListener('DOMContentLoaded', function() {

        flatpickr("#id_time1", {
    enable: [
      function(date) {
        return date.getDay() !== 0; // Disable Sundays
      }
      // Add other date restrictions here
    ],
    enableTime: true,
    noCalendar: true,
    dateFormat: "H:i",
    time_24hr: true
  });
});
  </script>

  <script>
      document.addEventListener('DOMContentLoaded', function() {

        flatpickr("#id_time2", {
    enable: [
      function(date) {
        return date.getDay() !== 0; // Disable Sundays
      }
      // Add other date restrictions here
    ],
    enableTime: true,
    noCalendar: true,
    dateFormat: "H:i",
    time_24hr: true
  });
});
  </script>

  <script>
      document.addEventListener('DOMContentLoaded', function() {

        flatpickr("#expiry_date", {
    enable: [
      function(date) {
        return date
      }
      // Add other date restrictions here
    ],
    enableTime: false,
    minDate: 'today',
    altInput: true,
    altFormat: "j F, Y",
  });
});
  </script>

  <script>
  $('.carousel').on('touchstart', function(event){
      const xClick = event.originalEvent.touches[0].pageX;
      $(this).one('touchmove', function(event){
          const xMove = event.originalEvent.touches[0].pageX;
          const sensitivityInPx = 7;

          if( Math.floor(xClick - xMove) > sensitivityInPx ){
              $(this).carousel('next');
          }
          else if( Math.floor(xClick - xMove) < -sensitivityInPx ){
              $(this).carousel('prev');
          }
      });
      $(this).on('touchend', function(){
          $(this).off('touchmove');
      });
  });



function infoChoicesOne(){
  document.getElementById('beskrivelse').style.display = 'inline-block';
  document.getElementById('utstyr').style.display = 'none';
  document.getElementById('spesifikasjoner').style.display = 'none';
  
  document.getElementById('infoChoicesPOne').classList.add('active')

  document.getElementById('infoChoicesPTwo').classList.remove('active')
  document.getElementById('infoChoicesPThree').classList.remove('active')

}

function infoChoicesTwo(){
  document.getElementById('utstyr').style.display = 'inline-block';
  document.getElementById('spesifikasjoner').style.display = 'none';
  document.getElementById('beskrivelse').style.display = 'none';

  document.getElementById('infoChoicesPTwo').classList.add('active')

  document.getElementById('infoChoicesPOne').classList.remove('active')
  document.getElementById('infoChoicesPThree').classList.remove('active')

}

function infoChoicesThree(){
  document.getElementById('spesifikasjoner').style.display = 'inline-block';
  document.getElementById('beskrivelse').style.display = 'none';
  document.getElementById('utstyr').style.display = 'none';

  document.getElementById('infoChoicesPThree').classList.add('active')

  document.getElementById('infoChoicesPTwo').classList.remove('active')
  document.getElementById('infoChoicesPOne').classList.remove('active')

}



function serviceChoice(){
  document.getElementById('service').classList.add('active');
  document.getElementById('serviceText').classList.add('active');

  document.getElementById('garanti').classList.remove('active');
  document.getElementById('garantiText').classList.remove('active');
}

function garantiChoice(){
  document.getElementById('garanti').classList.add('active');
  document.getElementById('garantiText').classList.add('active');

  document.getElementById('service').classList.remove('active');
  document.getElementById('serviceText').classList.remove('active');
}

function serviceChoiceOne(){
  document.getElementById('serviceOne').classList.add('active');
  document.getElementById('serviceTextOne').classList.add('active');

  document.getElementById('garantiOne').classList.remove('active');
  document.getElementById('garantiTextOne').classList.remove('active');
}

function garantiChoiceOne(){
  document.getElementById('garantiOne').classList.add('active');
  document.getElementById('garantiTextOne').classList.add('active');

  document.getElementById('serviceOne').classList.remove('active');
  document.getElementById('serviceTextOne').classList.remove('active');
}



function checkIfBidGood(){
  const expiry_date = document.getElementById('expiry_date');
  const bid_amount = document.getElementById('bid_amount');
  const alert = document.getElementById('alert');

  if(expiry_date.value && bid_amount.value){
    alert.style.display = 'none';
  }else{
    alert.style.display = 'block';
  }
}

setInterval(() => {
  checkIfBidGood();
}, 1);

    function minPriceValue(){
      const input = document.getElementById('bid_amount');
      const minPriceValueTxt = document.getElementById('minPriceValueTxt');
      const minPriceValue = document.getElementById('minPriceValue');

      '{% if highest_bid.bid_amount %}'
      '{% if highest_bid.days_until_expiry > 0 %}'
      '{% if highest_bid.status == "declined" %}'
      '{% else %}'
      var bidAmount = '{{highest_bid.bid_amount|add_space_separator}}';
      minPriceValue.innerHTML = '{{highest_bid.bid_amount|add_space_separator}}'
      input.min = parseInt('{{highest_bid.bid_amount|add_space_separator}}') + 1
      '{% endif %}'
        '{% else %}'
        '{% endif %}'
      '{% else %}'
      minPriceValueTxt.style.display = 'none'
    
      '{% endif %}'

    }
    minPriceValue();







    function testDrive(){
      document.getElementById('testDrive').classList.add('active');
      document.getElementById('overlay').style.display = 'block';
    }
    
    function testDriveClose(){
      document.getElementById('testDrive').classList.remove('active');
      document.getElementById('overlay').style.display = 'none';
    }
    
    
    function makeBid(){
      document.getElementById('makeBid').classList.add('active');
      document.getElementById('overlay').style.display = 'block';
    }
    
    function makeBidClose(){
      document.getElementById('makeBid').classList.remove('active');
      document.getElementById('overlay').style.display = 'none';
    }


    function contactOwner(){
      document.getElementById('contactOwner').classList.add('active')
      document.getElementById('overlay').style.display = 'block';
    }
    
    function contactOwnerClose(){
      document.getElementById('contactOwner').classList.remove('active')
      document.getElementById('overlay').style.display = 'none';
    }


    function confirmBuy(){
      document.getElementById('confirmBuy').classList.add('active')
      document.getElementById('overlay').style.display = 'block';
    }
    
    function confirmBuyClose(){
      document.getElementById('confirmBuy').classList.remove('active')
      document.getElementById('overlay').style.display = 'none';
    }



    // function restrictValue() {
    //   const input = document.getElementById('bid_amount');
    //     if (input.value < '{{highest_bid.bid_amount}}' + 1) {
    //         input.value = '{{highest_bid.bid_amount}}';
    //     }
    // }
    // setInterval(() => {
    //   restrictValue();
    // }, 2000);
    </script>

<br>
<br>
{% endblock %}