{% extends 'core/base.html' %}
{% load static %}


{% block content %}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<!-- Links and scripts -->
<link rel="stylesheet" href="{% static '/scss/page/pages.css' %}" type="text/css">
<link rel="stylesheet" href="{% static '/scss/store/product/product.css' %}" type="text/css">
<script rel="stylesheet" src="{% static '/js/product.js' %}" type="text/javascript"></script>


<br>
<br>
<br>
<br>
 <div class="page">
    {{car.name}} 
    <h1>Høyste bud</h1>her: {{highest_bid.bid_amount}} <h1>Dager igjen</h1>{{ highest_bid.days_until_expiry }} <p>OBS: her vil høyeste budet komme opp. Både prisen og dato til den går bort kan bli vist. Dette er valgfritt</p>
<hr>
    <h1>Alle andre bud</h1>
    {% for bud in car.bud_set.all %}
        <li>{{ bud.bidder_name }}: ${{ bud.bid_amount }} ({{ bud.days_until_expiry }})</li>
    {% empty %}
    <h1>Ingen bud enda</h1>
    {% endfor %}

    <br>

    {% if request.user.is_authenticated %}
    <h2>Place a Bid</h2>
    <form action="" method="POST">
        {% csrf_token %}
       <label for="bidder_name">bidder_name</label>
       <br>
       <input type="text" name="user" id="user" value="{{request.user}}" style="opacity: 0; pointer-events: none; width: 0; height: 0;">
       <br>
       <br>
       <label for="bid_amount">bid_amount</label>
       <br>
       <input type="number" name="bid_amount" id="bid_amount">
       <p>Minste verdien må være <span id="minPriceValue"></span></p>
       <br>
       <br>
       <label for="expiry_date">expiry_date</label>
       <br>
       <input type="date" name="expiry_date" id="expiry_date">
        <button type="submit" name="make_bid" value="make_bid">Place Bid</button>
    </form>
    {% else %}
    <h1>logg inn for å gi bud</h1>
    <a href="/logg-inn/">logg inn</a>
    {% endif %}

  </div>


  <script>
    function minPriceValue(){
      const text = document.getElementById('minPriceValue');
      const input = document.getElementById('bid_amount');

      var bidAmount = parseInt('{{highest_bid.bid_amount}}');

      text.innerHTML = bidAmount + 1;
      input.value = bidAmount + 1

      input.min = bidAmount + 1
    }
    minPriceValue();


    // function restrictValue() {
    //   const input = document.getElementById('bid_amount');
    //     if (input.value < '{{highest_bid.bid_amount}}' + 1) {
    //         input.value = '{{highest_bid.bid_amount}}';
    //     }
    // }
    // setInterval(() => {
    //   restrictValue();
    // }, 2000);
    </script>

<br>
<br>
{% endblock %}