{% extends 'core/base.html' %}    
{% load static %}    
    

{% block content %}

{% block head %}
<title>Lag en ny passord</title>
<meta name="description" content="Bilmeglerne har spesialisert seg på salg av bil. Vi har utviklet denne tjenesten for å gjøre deg trygg på at bilsalget foregår i henhold til gjeldende lover og forskrifter">
<meta name="author" content="Bilmeglerne">
<meta name="keywords" content="Bilmeglerne, Selge bil, Kjøpe bil, Biler til salg, Kjøp ny bil, Kjøp en bil, Bil, Biler, Bilene">
<meta property="og:type" content="website">
<meta property="og:url" content="{{ request.get_full_path }}">
<meta property="og:description" content="Bilmeglerne har spesialisert seg på salg av bil. Vi har utviklet denne tjenesten for å gjøre deg trygg på at bilsalget foregår i henhold til gjeldende lover og forskrifter">
{% endblock %}

<link rel="stylesheet" href="{% static '/scss/userprofile/login.css' %}" type="text/css">
<link rel="stylesheet" href="{% static '/scss/forms/form.css' %}" type="text/css">
<script rel="stylesheet" src="{% static '/js/login.js' %}" type="text/javascript"></script>



<div class="login">
    <!-- USER LOGIN -->
    <form id="loginForm" method="post" autocomplete="off">
        <div class="text">
            <h1 class="heading">Lag en ny passord</h1>
        </div>
        {% csrf_token %}
        <div class="form">
            <!-- <button class="vipps">Logg inn med vipps</button>
            <div class="or-vipps">
                <span></span>
                <p>Eller bruk</p>
                <span></span>
            </div> -->
            <div class="inputs-labels">
                <!-- NAME -->
                <label for="username">Epost</label>
                <br>
                <input type="email" name="email" id="email" autocomplete="off" required oninvalid="this.setCustomValidity('Kan ikke være tom')" oninput="this.setCustomValidity('')">
            </div> 
            <div class="form-actions">
                <button type='submit'>Send</button>
            </div>
        </div>
        <br>
    </form>
</div>
{% endblock %}