{% extends 'core/base.html' %}
{% load static %}

{% block page_title %}Passord byttet{% endblock %}

{% block head %}
  <link rel="stylesheet" href="{% static 'scss/pages/account/auth-forms.css' %}">
{% endblock %}

{% block content %}
<section class="account-page">
  <div class="account-card">
    <h1 class="account-card__title">Passordet er byttet</h1>
    <p class="account-card__subtitle">Det nye passordet ditt er lagret.</p>
    <a href="{% url 'myaccount' %}" class="btn-primary" style="width:100%; justify-content:center; margin-top:24px;">Tilbake til min side</a>
  </div>
</section>
{% endblock %}
