#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  z-index: 1000;
  display: none;
  pointer-events: none !important;
}

.car {
  padding-inline: 20px;
}
.car .heading {
  font-size: 26px;
  color: #1F1F1F;
  margin-bottom: 15px;
  text-align: center;
  font-weight: 600;
}
.car .step {
  background: rgb(237, 237, 237);
  padding: 10px 20px;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 12px;
  border-radius: 8px;
}
.car .step .left {
  display: flex;
}
.car .step .left i {
  font-size: 24px;
  color: #1F1F1F;
}
.car .step .left h1 {
  color: #1F1F1F;
  font-size: 19px;
  margin-left: 17px;
}
.car .step .right button {
  background: #183b56;
  width: 80px;
  height: 40px;
  color: white;
  border-radius: 20px;
  outline: none;
  border: none;
  font-size: 15px;
}
.car .step.conf {
  background: rgba(167, 255, 167, 0.753);
}
.car .step.conf .check {
  font-size: 23px;
  border: 2px solid rgb(26, 196, 63);
  color: rgb(26, 196, 63);
  padding: 5px;
  border-radius: 100%;
}
.car #stepOne {
  background: white;
  border-radius: 12px;
  padding-inline: 10px;
  padding-block: 16px;
  padding-bottom: 26px;
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%) translateY(100px);
  width: 95%;
  height: 93%;
  overflow-y: scroll !important;
  z-index: 1000;
  padding-bottom: 40px;
  opacity: 0;
  pointer-events: none;
  transition: 0.2s;
}
.car #stepOne.active {
  opacity: 1;
  transform: translateX(-50%) translateY(0);
  pointer-events: visible;
}
.car #stepOne .close {
  font-size: 16px;
  border: 1px solid red;
  background: rgb(254, 202, 202);
  display: flex;
  align-items: center;
  opacity: 1;
  color: #1F1F1F;
  padding: 9px 13px;
  border-radius: 4px;
  box-shadow: none;
  opacity: 1 !important;
  position: absolute;
  right: 17px;
  top: 17px;
}
.car #stepOne .close i {
  color: red;
  font-size: 20px;
  margin-right: 15px;
}
.car #stepOne .heading {
  margin-top: 55px;
  color: #1F1F1F;
  font-size: 30px;
}
.car #stepOne .time {
  background: rgba(255, 236, 207, 0.6470588235);
  padding: 14px;
  border-radius: 5px;
}
.car #stepOne .time label {
  font-size: 19px;
  color: #1F1F1F;
  font-weight: 500;
  margin-bottom: 10px;
}
.car #stepOne .time .icon-input {
  position: relative;
  width: 100%;
}
.car #stepOne .time .icon-input i {
  position: absolute;
  right: 18px;
  top: 13px;
  color: #1F1F1F;
  font-size: 20px;
  opacity: 0.9;
}
.car #stepOne .time input {
  background: white !important;
  padding-left: 6px;
  color: #1F1F1F;
  font-size: 16px;
}
.car #stepOne .time input::-moz-placeholder {
  padding-left: 6px;
}
.car #stepOne .time input::placeholder {
  padding-left: 6px;
}
.car #stepOne .inputs-labels input {
  width: 100%;
  height: 48px;
  border: 1px solid lightgray;
  outline: none;
  padding: 8px;
  color: #1F1F1F;
  font-size: 16px;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 7px;
}
.car #stepOne .inputs-labels input:focus, .car #stepOne .inputs-labels input:active {
  border: 2px solid #f0a432;
  cursor: text;
  background: rgb(255, 255, 255);
}
.car #stepOne .inputs-labels input::-moz-placeholder {
  color: #1F1F1F;
  opacity: 0.6;
}
.car #stepOne .inputs-labels input::placeholder {
  color: #1F1F1F;
  opacity: 0.6;
}
.car #stepOne .inputs-labels textarea {
  width: 100%;
  min-height: 75px;
  max-height: 125px;
  border: 1px solid lightgray;
  outline: none;
  padding: 8px;
  color: #1F1F1F;
  font-size: 16px;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 7px;
  background: white !important;
}
.car #stepOne .inputs-labels textarea:focus, .car #stepOne .inputs-labels textarea:active {
  border: 2px solid #f0a432;
  cursor: text;
  background: rgb(255, 255, 255);
}
.car #stepOne .inputs-labels textarea::-moz-placeholder {
  color: #1F1F1F;
  opacity: 0.6;
}
.car #stepOne .inputs-labels textarea::placeholder {
  color: #1F1F1F;
  opacity: 0.6;
}
.car #stepOne .form-actions button {
  border: 1px solid transparent;
  border-radius: 6px;
  outline: none;
  background: linear-gradient(to bottom right, #f0a432, #ffb649);
  color: white;
  font-weight: 500;
  font-size: 17px;
  width: 100%;
  display: block;
  height: 44px;
  margin-top: 32px;
}
.car #stepTwo {
  background: white;
  border-radius: 12px;
  padding-inline: 10px;
  padding-block: 16px;
  padding-bottom: 26px;
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%) translateY(100px);
  width: 95%;
  height: 93%;
  overflow-y: scroll !important;
  z-index: 1000;
  padding-bottom: 40px;
  opacity: 0;
  pointer-events: none;
  transition: 0.2s;
}
.car #stepTwo.active {
  opacity: 1;
  transform: translateX(-50%) translateY(0);
  pointer-events: visible;
}
.car #stepTwo .close {
  font-size: 16px;
  border: 1px solid red;
  background: rgb(254, 202, 202);
  display: flex;
  align-items: center;
  opacity: 1;
  color: #1F1F1F;
  padding: 9px 13px;
  border-radius: 4px;
  box-shadow: none;
  opacity: 1 !important;
  position: absolute;
  right: 17px;
  top: 17px;
}
.car #stepTwo .close i {
  color: red;
  font-size: 20px;
  margin-right: 15px;
}
.car #stepTwo .heading {
  margin-top: 55px;
  color: #1F1F1F;
  font-size: 30px;
}
.car #stepTwo .time {
  background: rgba(255, 236, 207, 0.6470588235);
  padding: 14px;
  border-radius: 5px;
}
.car #stepTwo .time label {
  font-size: 19px;
  color: #1F1F1F;
  font-weight: 500;
  margin-bottom: 10px;
}
.car #stepTwo .time .icon-input {
  position: relative;
  width: 100%;
}
.car #stepTwo .time .icon-input i {
  position: absolute;
  right: 18px;
  top: 13px;
  color: #1F1F1F;
  font-size: 20px;
  opacity: 0.9;
}
.car #stepTwo .time input {
  background: white !important;
  padding-left: 6px;
  color: #1F1F1F;
  font-size: 16px;
}
.car #stepTwo .time input::-moz-placeholder {
  padding-left: 6px;
}
.car #stepTwo .time input::placeholder {
  padding-left: 6px;
}
.car #stepTwo .inputs-labels input {
  width: 100%;
  height: 48px;
  border: 1px solid lightgray;
  outline: none;
  padding: 8px;
  color: #1F1F1F;
  font-size: 16px;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 7px;
}
.car #stepTwo .inputs-labels input:focus, .car #stepTwo .inputs-labels input:active {
  border: 2px solid #f0a432;
  cursor: text;
  background: rgb(255, 255, 255);
}
.car #stepTwo .inputs-labels input::-moz-placeholder {
  color: #1F1F1F;
  opacity: 0.6;
}
.car #stepTwo .inputs-labels input::placeholder {
  color: #1F1F1F;
  opacity: 0.6;
}
.car #stepTwo .inputs-labels textarea {
  width: 100%;
  min-height: 75px;
  max-height: 125px;
  border: 1px solid lightgray;
  outline: none;
  padding: 8px;
  color: #1F1F1F;
  font-size: 16px;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 7px;
  background: white !important;
}
.car #stepTwo .inputs-labels textarea:focus, .car #stepTwo .inputs-labels textarea:active {
  border: 2px solid #f0a432;
  cursor: text;
  background: rgb(255, 255, 255);
}
.car #stepTwo .inputs-labels textarea::-moz-placeholder {
  color: #1F1F1F;
  opacity: 0.6;
}
.car #stepTwo .inputs-labels textarea::placeholder {
  color: #1F1F1F;
  opacity: 0.6;
}
.car #stepTwo .form-actions button {
  border: 1px solid transparent;
  border-radius: 6px;
  outline: none;
  background: linear-gradient(to bottom right, #f0a432, #ffb649);
  color: white;
  font-weight: 500;
  font-size: 17px;
  width: 100%;
  display: block;
  height: 44px;
  margin-top: 32px;
}
.car #stepThree {
  background: white;
  border-radius: 12px;
  padding-inline: 10px;
  padding-block: 16px;
  padding-bottom: 26px;
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%) translateY(100px);
  width: 95%;
  height: 93%;
  overflow-y: scroll !important;
  z-index: 1000;
  padding-bottom: 40px;
  opacity: 0;
  pointer-events: none;
  transition: 0.2s;
}
.car #stepThree.active {
  opacity: 1;
  transform: translateX(-50%) translateY(0);
  pointer-events: visible;
}
.car #stepThree .close {
  font-size: 16px;
  border: 1px solid red;
  background: rgb(254, 202, 202);
  display: flex;
  align-items: center;
  opacity: 1;
  color: #1F1F1F;
  padding: 9px 13px;
  border-radius: 4px;
  box-shadow: none;
  opacity: 1 !important;
  position: absolute;
  right: 17px;
  top: 17px;
}
.car #stepThree .close i {
  color: red;
  font-size: 20px;
  margin-right: 15px;
}
.car #stepThree .heading {
  margin-top: 55px;
  color: #1F1F1F;
  font-size: 30px;
}
.car #stepThree .time {
  background: rgba(255, 236, 207, 0.6470588235);
  padding: 14px;
  border-radius: 5px;
}
.car #stepThree .time label {
  font-size: 19px;
  color: #1F1F1F;
  font-weight: 500;
  margin-bottom: 10px;
}
.car #stepThree .time .icon-input {
  position: relative;
  width: 100%;
}
.car #stepThree .time .icon-input i {
  position: absolute;
  right: 18px;
  top: 13px;
  color: #1F1F1F;
  font-size: 20px;
  opacity: 0.9;
}
.car #stepThree .time input {
  background: white !important;
  padding-left: 6px;
  color: #1F1F1F;
  font-size: 16px;
}
.car #stepThree .time input::-moz-placeholder {
  padding-left: 6px;
}
.car #stepThree .time input::placeholder {
  padding-left: 6px;
}
.car #stepThree .inputs-labels input {
  width: 100%;
  height: 48px;
  border: 1px solid lightgray;
  outline: none;
  padding: 8px;
  color: #1F1F1F;
  font-size: 16px;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 7px;
}
.car #stepThree .inputs-labels input:focus, .car #stepThree .inputs-labels input:active {
  border: 2px solid #f0a432;
  cursor: text;
  background: rgb(255, 255, 255);
}
.car #stepThree .inputs-labels input::-moz-placeholder {
  color: #1F1F1F;
  opacity: 0.6;
}
.car #stepThree .inputs-labels input::placeholder {
  color: #1F1F1F;
  opacity: 0.6;
}
.car #stepThree .inputs-labels textarea {
  width: 100%;
  min-height: 75px;
  max-height: 125px;
  border: 1px solid lightgray;
  outline: none;
  padding: 8px;
  color: #1F1F1F;
  font-size: 16px;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 7px;
  background: white !important;
}
.car #stepThree .inputs-labels textarea:focus, .car #stepThree .inputs-labels textarea:active {
  border: 2px solid #f0a432;
  cursor: text;
  background: rgb(255, 255, 255);
}
.car #stepThree .inputs-labels textarea::-moz-placeholder {
  color: #1F1F1F;
  opacity: 0.6;
}
.car #stepThree .inputs-labels textarea::placeholder {
  color: #1F1F1F;
  opacity: 0.6;
}
.car #stepThree .form-actions button {
  border: 1px solid transparent;
  border-radius: 6px;
  outline: none;
  background: linear-gradient(to bottom right, #f0a432, #ffb649);
  color: white;
  font-weight: 500;
  font-size: 17px;
  width: 100%;
  display: block;
  height: 44px;
  margin-top: 32px;
}
.car #stepFour {
  background: white;
  border-radius: 12px;
  padding-inline: 10px;
  padding-block: 16px;
  padding-bottom: 26px;
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%) translateY(100px);
  width: 95%;
  height: 93%;
  overflow-y: scroll !important;
  z-index: 1000;
  padding-bottom: 40px;
  opacity: 0;
  pointer-events: none;
  transition: 0.2s;
}
.car #stepFour.active {
  opacity: 1;
  transform: translateX(-50%) translateY(0);
  pointer-events: visible;
}
.car #stepFour .close {
  font-size: 16px;
  border: 1px solid red;
  background: rgb(254, 202, 202);
  display: flex;
  align-items: center;
  opacity: 1;
  color: #1F1F1F;
  padding: 9px 13px;
  border-radius: 4px;
  box-shadow: none;
  opacity: 1 !important;
  position: absolute;
  right: 17px;
  top: 17px;
}
.car #stepFour .close i {
  color: red;
  font-size: 20px;
  margin-right: 15px;
}
.car #stepFour .heading {
  margin-top: 55px;
  color: #1F1F1F;
  font-size: 30px;
}
.car #stepFour .time {
  background: rgba(255, 236, 207, 0.6470588235);
  padding: 14px;
  border-radius: 5px;
}
.car #stepFour .time label {
  font-size: 19px;
  color: #1F1F1F;
  font-weight: 500;
  margin-bottom: 10px;
}
.car #stepFour .time .icon-input {
  position: relative;
  width: 100%;
}
.car #stepFour .time .icon-input i {
  position: absolute;
  right: 18px;
  top: 13px;
  color: #1F1F1F;
  font-size: 20px;
  opacity: 0.9;
}
.car #stepFour .time input {
  background: white !important;
  padding-left: 6px;
  color: #1F1F1F;
  font-size: 16px;
}
.car #stepFour .time input::-moz-placeholder {
  padding-left: 6px;
}
.car #stepFour .time input::placeholder {
  padding-left: 6px;
}
.car #stepFour .inputs-labels input {
  width: 100%;
  height: 48px;
  border: 1px solid lightgray;
  outline: none;
  padding: 8px;
  color: #1F1F1F;
  font-size: 16px;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 7px;
}
.car #stepFour .inputs-labels input:focus, .car #stepFour .inputs-labels input:active {
  border: 2px solid #f0a432;
  cursor: text;
  background: rgb(255, 255, 255);
}
.car #stepFour .inputs-labels input::-moz-placeholder {
  color: #1F1F1F;
  opacity: 0.6;
}
.car #stepFour .inputs-labels input::placeholder {
  color: #1F1F1F;
  opacity: 0.6;
}
.car #stepFour .inputs-labels textarea {
  width: 100%;
  min-height: 75px;
  max-height: 125px;
  border: 1px solid lightgray;
  outline: none;
  padding: 8px;
  color: #1F1F1F;
  font-size: 16px;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 7px;
  background: white !important;
}
.car #stepFour .inputs-labels textarea:focus, .car #stepFour .inputs-labels textarea:active {
  border: 2px solid #f0a432;
  cursor: text;
  background: rgb(255, 255, 255);
}
.car #stepFour .inputs-labels textarea::-moz-placeholder {
  color: #1F1F1F;
  opacity: 0.6;
}
.car #stepFour .inputs-labels textarea::placeholder {
  color: #1F1F1F;
  opacity: 0.6;
}
.car #stepFour .form-actions button {
  border: 1px solid transparent;
  border-radius: 6px;
  outline: none;
  background: linear-gradient(to bottom right, #f0a432, #ffb649);
  color: white;
  font-weight: 500;
  font-size: 17px;
  width: 100%;
  display: block;
  height: 44px;
  margin-top: 32px;
}

@media only screen and (min-device-width: 1140px) {
  .car {
    padding-inline: 35px;
    max-width: 1300px;
  }
  .car .heading {
    font-size: 28px;
    color: #1F1F1F;
    margin-bottom: 25px;
    text-align: center;
    font-weight: 600;
  }
  .car .step {
    background: rgb(237, 237, 237);
    padding: 10px 20px;
    width: 100%;
    max-width: 420px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 8px;
    margin-bottom: 15px;
    margin-inline: auto;
  }
  .car .step .left {
    display: flex;
  }
  .car .step .left i {
    font-size: 24px;
    color: #1F1F1F;
  }
  .car .step .left h1 {
    color: #1F1F1F;
    font-size: 19px;
    margin-left: 17px;
  }
  .car .step .right button {
    background: #183b56;
    width: 80px;
    height: 40px;
    color: white;
    border-radius: 20px;
    outline: none;
    border: none;
    font-size: 15px;
  }
  .car .step.conf {
    background: rgba(167, 255, 167, 0.753);
  }
  .car .step.conf .check {
    font-size: 23px;
    border: 2px solid rgb(26, 196, 63);
    color: rgb(26, 196, 63);
    padding: 5px;
    border-radius: 100%;
  }
  .car #stepOne {
    background: white;
    border-radius: 12px;
    padding-inline: 18px;
    padding-block: 16px;
    padding-bottom: 26px;
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%) translateY(100px);
    width: 95%;
    height: 93%;
    overflow-y: scroll !important;
    z-index: 10000;
    padding-bottom: 40px;
    opacity: 0;
    pointer-events: none;
    transition: 0.2s;
    max-width: 490px;
  }
  .car #stepOne.active {
    opacity: 1;
    transform: translateX(-50%) translateY(0);
    pointer-events: visible;
  }
  .car #stepOne .close {
    font-size: 16px;
    border: 1px solid red;
    background: rgb(254, 202, 202);
    display: flex;
    align-items: center;
    opacity: 1;
    color: #1F1F1F;
    padding: 9px 13px;
    border-radius: 4px;
    box-shadow: none;
    opacity: 1 !important;
    position: absolute;
    right: 17px;
    top: 17px;
  }
  .car #stepOne .close i {
    color: red;
    font-size: 20px;
    margin-right: 15px;
  }
  .car #stepOne .heading {
    margin-top: 55px;
    color: #1F1F1F;
    font-size: 30px;
  }
  .car #stepOne .time {
    background: rgba(255, 236, 207, 0.6470588235);
    padding: 14px;
    border-radius: 5px;
  }
  .car #stepOne .time label {
    font-size: 19px;
    color: #1F1F1F;
    font-weight: 500;
    margin-bottom: 10px;
  }
  .car #stepOne .time .icon-input {
    position: relative;
    width: 100%;
  }
  .car #stepOne .time .icon-input i {
    position: absolute;
    right: 18px;
    top: 13px;
    color: #1F1F1F;
    font-size: 20px;
    opacity: 0.9;
  }
  .car #stepOne .time input {
    background: white !important;
    padding-left: 6px;
    color: #1F1F1F;
    font-size: 16px;
  }
  .car #stepOne .time input::-moz-placeholder {
    padding-left: 6px;
  }
  .car #stepOne .time input::placeholder {
    padding-left: 6px;
  }
  .car #stepOne .inputs-labels input {
    width: 100%;
    height: 48px;
    border: 1px solid lightgray;
    outline: none;
    padding: 8px;
    color: #1F1F1F;
    font-size: 16px;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 7px;
  }
  .car #stepOne .inputs-labels input:focus, .car #stepOne .inputs-labels input:active {
    border: 2px solid #f0a432;
    cursor: text;
    background: rgb(255, 255, 255);
  }
  .car #stepOne .inputs-labels input::-moz-placeholder {
    color: #1F1F1F;
    opacity: 0.6;
  }
  .car #stepOne .inputs-labels input::placeholder {
    color: #1F1F1F;
    opacity: 0.6;
  }
  .car #stepOne .inputs-labels textarea {
    width: 100%;
    min-height: 75px;
    max-height: 125px;
    border: 1px solid lightgray;
    outline: none;
    padding: 8px;
    color: #1F1F1F;
    font-size: 16px;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 7px;
    background: white !important;
  }
  .car #stepOne .inputs-labels textarea:focus, .car #stepOne .inputs-labels textarea:active {
    border: 2px solid #f0a432;
    cursor: text;
    background: rgb(255, 255, 255);
  }
  .car #stepOne .inputs-labels textarea::-moz-placeholder {
    color: #1F1F1F;
    opacity: 0.6;
  }
  .car #stepOne .inputs-labels textarea::placeholder {
    color: #1F1F1F;
    opacity: 0.6;
  }
  .car #stepOne .form-actions button {
    border: 1px solid transparent;
    border-radius: 6px;
    outline: none;
    background: linear-gradient(to bottom right, #f0a432, #ffb649);
    color: white;
    font-weight: 500;
    font-size: 17px;
    width: 100%;
    display: block;
    height: 44px;
    margin-top: 32px;
  }
  .car #stepTwo {
    background: white;
    border-radius: 12px;
    padding-inline: 18px;
    padding-block: 16px;
    padding-bottom: 26px;
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%) translateY(100px);
    width: 95%;
    height: 93%;
    overflow-y: scroll !important;
    z-index: 10000;
    padding-bottom: 40px;
    opacity: 0;
    pointer-events: none;
    transition: 0.2s;
    max-width: 490px;
  }
  .car #stepTwo.active {
    opacity: 1;
    transform: translateX(-50%) translateY(0);
    pointer-events: visible;
  }
  .car #stepTwo .close {
    font-size: 16px;
    border: 1px solid red;
    background: rgb(254, 202, 202);
    display: flex;
    align-items: center;
    opacity: 1;
    color: #1F1F1F;
    padding: 9px 13px;
    border-radius: 4px;
    box-shadow: none;
    opacity: 1 !important;
    position: absolute;
    right: 17px;
    top: 17px;
  }
  .car #stepTwo .close i {
    color: red;
    font-size: 20px;
    margin-right: 15px;
  }
  .car #stepTwo .heading {
    margin-top: 55px;
    color: #1F1F1F;
    font-size: 30px;
  }
  .car #stepTwo .time {
    background: rgba(255, 236, 207, 0.6470588235);
    padding: 14px;
    border-radius: 5px;
  }
  .car #stepTwo .time label {
    font-size: 19px;
    color: #1F1F1F;
    font-weight: 500;
    margin-bottom: 10px;
  }
  .car #stepTwo .time .icon-input {
    position: relative;
    width: 100%;
  }
  .car #stepTwo .time .icon-input i {
    position: absolute;
    right: 18px;
    top: 13px;
    color: #1F1F1F;
    font-size: 20px;
    opacity: 0.9;
  }
  .car #stepTwo .time input {
    background: white !important;
    padding-left: 6px;
    color: #1F1F1F;
    font-size: 16px;
  }
  .car #stepTwo .time input::-moz-placeholder {
    padding-left: 6px;
  }
  .car #stepTwo .time input::placeholder {
    padding-left: 6px;
  }
  .car #stepTwo .inputs-labels input {
    width: 100%;
    height: 48px;
    border: 1px solid lightgray;
    outline: none;
    padding: 8px;
    color: #1F1F1F;
    font-size: 16px;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 7px;
  }
  .car #stepTwo .inputs-labels input:focus, .car #stepTwo .inputs-labels input:active {
    border: 2px solid #f0a432;
    cursor: text;
    background: rgb(255, 255, 255);
  }
  .car #stepTwo .inputs-labels input::-moz-placeholder {
    color: #1F1F1F;
    opacity: 0.6;
  }
  .car #stepTwo .inputs-labels input::placeholder {
    color: #1F1F1F;
    opacity: 0.6;
  }
  .car #stepTwo .inputs-labels textarea {
    width: 100%;
    min-height: 75px;
    max-height: 125px;
    border: 1px solid lightgray;
    outline: none;
    padding: 8px;
    color: #1F1F1F;
    font-size: 16px;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 7px;
    background: white !important;
  }
  .car #stepTwo .inputs-labels textarea:focus, .car #stepTwo .inputs-labels textarea:active {
    border: 2px solid #f0a432;
    cursor: text;
    background: rgb(255, 255, 255);
  }
  .car #stepTwo .inputs-labels textarea::-moz-placeholder {
    color: #1F1F1F;
    opacity: 0.6;
  }
  .car #stepTwo .inputs-labels textarea::placeholder {
    color: #1F1F1F;
    opacity: 0.6;
  }
  .car #stepTwo .form-actions button {
    border: 1px solid transparent;
    border-radius: 6px;
    outline: none;
    background: linear-gradient(to bottom right, #f0a432, #ffb649);
    color: white;
    font-weight: 500;
    font-size: 17px;
    width: 100%;
    display: block;
    height: 44px;
    margin-top: 32px;
  }
  .car #stepThree {
    background: white;
    border-radius: 12px;
    padding-inline: 18px;
    padding-block: 16px;
    padding-bottom: 26px;
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%) translateY(100px);
    width: 95%;
    height: 93%;
    overflow-y: scroll !important;
    z-index: 10000;
    padding-bottom: 40px;
    opacity: 0;
    pointer-events: none;
    transition: 0.2s;
    max-width: 490px;
  }
  .car #stepThree.active {
    opacity: 1;
    transform: translateX(-50%) translateY(0);
    pointer-events: visible;
  }
  .car #stepThree .close {
    font-size: 16px;
    border: 1px solid red;
    background: rgb(254, 202, 202);
    display: flex;
    align-items: center;
    opacity: 1;
    color: #1F1F1F;
    padding: 9px 13px;
    border-radius: 4px;
    box-shadow: none;
    opacity: 1 !important;
    position: absolute;
    right: 17px;
    top: 17px;
  }
  .car #stepThree .close i {
    color: red;
    font-size: 20px;
    margin-right: 15px;
  }
  .car #stepThree .heading {
    margin-top: 55px;
    color: #1F1F1F;
    font-size: 30px;
  }
  .car #stepThree .time {
    background: rgba(255, 236, 207, 0.6470588235);
    padding: 14px;
    border-radius: 5px;
  }
  .car #stepThree .time label {
    font-size: 19px;
    color: #1F1F1F;
    font-weight: 500;
    margin-bottom: 10px;
  }
  .car #stepThree .time .icon-input {
    position: relative;
    width: 100%;
  }
  .car #stepThree .time .icon-input i {
    position: absolute;
    right: 18px;
    top: 13px;
    color: #1F1F1F;
    font-size: 20px;
    opacity: 0.9;
  }
  .car #stepThree .time input {
    background: white !important;
    padding-left: 6px;
    color: #1F1F1F;
    font-size: 16px;
  }
  .car #stepThree .time input::-moz-placeholder {
    padding-left: 6px;
  }
  .car #stepThree .time input::placeholder {
    padding-left: 6px;
  }
  .car #stepThree .inputs-labels input {
    width: 100%;
    height: 48px;
    border: 1px solid lightgray;
    outline: none;
    padding: 8px;
    color: #1F1F1F;
    font-size: 16px;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 7px;
  }
  .car #stepThree .inputs-labels input:focus, .car #stepThree .inputs-labels input:active {
    border: 2px solid #f0a432;
    cursor: text;
    background: rgb(255, 255, 255);
  }
  .car #stepThree .inputs-labels input::-moz-placeholder {
    color: #1F1F1F;
    opacity: 0.6;
  }
  .car #stepThree .inputs-labels input::placeholder {
    color: #1F1F1F;
    opacity: 0.6;
  }
  .car #stepThree .inputs-labels textarea {
    width: 100%;
    min-height: 75px;
    max-height: 125px;
    border: 1px solid lightgray;
    outline: none;
    padding: 8px;
    color: #1F1F1F;
    font-size: 16px;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 7px;
    background: white !important;
  }
  .car #stepThree .inputs-labels textarea:focus, .car #stepThree .inputs-labels textarea:active {
    border: 2px solid #f0a432;
    cursor: text;
    background: rgb(255, 255, 255);
  }
  .car #stepThree .inputs-labels textarea::-moz-placeholder {
    color: #1F1F1F;
    opacity: 0.6;
  }
  .car #stepThree .inputs-labels textarea::placeholder {
    color: #1F1F1F;
    opacity: 0.6;
  }
  .car #stepThree .form-actions button {
    border: 1px solid transparent;
    border-radius: 6px;
    outline: none;
    background: linear-gradient(to bottom right, #f0a432, #ffb649);
    color: white;
    font-weight: 500;
    font-size: 17px;
    width: 100%;
    display: block;
    height: 44px;
    margin-top: 32px;
  }
  .car #stepFour {
    background: white;
    border-radius: 12px;
    padding-inline: 18px;
    padding-block: 16px;
    padding-bottom: 26px;
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%) translateY(100px);
    width: 95%;
    height: 93%;
    overflow-y: scroll !important;
    z-index: 10000;
    padding-bottom: 40px;
    opacity: 0;
    pointer-events: none;
    transition: 0.2s;
    max-width: 490px;
  }
  .car #stepFour.active {
    opacity: 1;
    transform: translateX(-50%) translateY(0);
    pointer-events: visible;
  }
  .car #stepFour .close {
    font-size: 16px;
    border: 1px solid red;
    background: rgb(254, 202, 202);
    display: flex;
    align-items: center;
    opacity: 1;
    color: #1F1F1F;
    padding: 9px 13px;
    border-radius: 4px;
    box-shadow: none;
    opacity: 1 !important;
    position: absolute;
    right: 17px;
    top: 17px;
  }
  .car #stepFour .close i {
    color: red;
    font-size: 20px;
    margin-right: 15px;
  }
  .car #stepFour .heading {
    margin-top: 55px;
    color: #1F1F1F;
    font-size: 30px;
  }
  .car #stepFour .time {
    background: rgba(255, 236, 207, 0.6470588235);
    padding: 14px;
    border-radius: 5px;
  }
  .car #stepFour .time label {
    font-size: 19px;
    color: #1F1F1F;
    font-weight: 500;
    margin-bottom: 10px;
  }
  .car #stepFour .time .icon-input {
    position: relative;
    width: 100%;
  }
  .car #stepFour .time .icon-input i {
    position: absolute;
    right: 18px;
    top: 13px;
    color: #1F1F1F;
    font-size: 20px;
    opacity: 0.9;
  }
  .car #stepFour .time input {
    background: white !important;
    padding-left: 6px;
    color: #1F1F1F;
    font-size: 16px;
  }
  .car #stepFour .time input::-moz-placeholder {
    padding-left: 6px;
  }
  .car #stepFour .time input::placeholder {
    padding-left: 6px;
  }
  .car #stepFour .inputs-labels input {
    width: 100%;
    height: 48px;
    border: 1px solid lightgray;
    outline: none;
    padding: 8px;
    color: #1F1F1F;
    font-size: 16px;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 7px;
  }
  .car #stepFour .inputs-labels input:focus, .car #stepFour .inputs-labels input:active {
    border: 2px solid #f0a432;
    cursor: text;
    background: rgb(255, 255, 255);
  }
  .car #stepFour .inputs-labels input::-moz-placeholder {
    color: #1F1F1F;
    opacity: 0.6;
  }
  .car #stepFour .inputs-labels input::placeholder {
    color: #1F1F1F;
    opacity: 0.6;
  }
  .car #stepFour .inputs-labels textarea {
    width: 100%;
    min-height: 75px;
    max-height: 125px;
    border: 1px solid lightgray;
    outline: none;
    padding: 8px;
    color: #1F1F1F;
    font-size: 16px;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 7px;
    background: white !important;
  }
  .car #stepFour .inputs-labels textarea:focus, .car #stepFour .inputs-labels textarea:active {
    border: 2px solid #f0a432;
    cursor: text;
    background: rgb(255, 255, 255);
  }
  .car #stepFour .inputs-labels textarea::-moz-placeholder {
    color: #1F1F1F;
    opacity: 0.6;
  }
  .car #stepFour .inputs-labels textarea::placeholder {
    color: #1F1F1F;
    opacity: 0.6;
  }
  .car #stepFour .form-actions button {
    border: 1px solid transparent;
    border-radius: 6px;
    outline: none;
    background: linear-gradient(to bottom right, #f0a432, #ffb649);
    color: white;
    font-weight: 500;
    font-size: 17px;
    width: 100%;
    display: block;
    height: 44px;
    margin-top: 32px;
  }
}/*# sourceMappingURL=buy.css.map */