.myaccount .user-cars {
  padding-top: 25px;
  width: 100%;
  height: auto;
  padding-inline: 20px;
  position: relative;
  border-radius: 6px;
}
.myaccount .user-cars .car {
  margin-bottom: 60px;
}
.myaccount .user-cars .car .car-image {
  border-radius: 6px;
  width: 100%;
  height: 140px;
  -o-object-fit: cover;
     object-fit: cover;
}
.myaccount .user-cars .car .flex {
  display: flex;
  align-items: center;
  width: 100%;
  height: -moz-max-content;
  height: max-content;
  margin-top: 14px;
}
.myaccount .user-cars .car .flex .status {
  background: #9cffcc;
  width: -moz-max-content;
  width: max-content;
  padding: 2px 7px;
  font-size: 15px;
  color: #1F1F1F;
  border-radius: 5px;
}
.myaccount .user-cars .car .flex .time-left {
  background: #ffd698;
  width: -moz-max-content;
  width: max-content;
  padding: 2px 7px;
  font-size: 15px;
  color: #1F1F1F;
  border-radius: 5px;
  margin-left: 10px;
}
.myaccount .user-cars .car .name {
  color: #1F1F1F;
  font-size: 18px;
  margin-top: 8px;
  font-weight: 500;
}
.myaccount .user-cars .car .bids {
  margin-top: 15px;
  text-align: left;
}
.myaccount .user-cars .car .bids h1 {
  color: #1F1F1F;
  font-size: 23px;
  font-weight: 500;
}
.myaccount .user-cars .car .bids .flex {
  display: flex;
  align-items: center;
  width: 100%;
  height: -moz-max-content;
  height: max-content;
}
.myaccount .user-cars .car .bids .flex .price {
  background: #8ce8ff;
  width: -moz-max-content;
  width: max-content;
  padding: 6px 9px;
  font-size: 15px;
  color: #1F1F1F;
  border-radius: 5px;
}
.myaccount .user-cars .car .bids .flex .time-left {
  padding: 6px 9px;
}
.myaccount .user-cars .car .bids .actions {
  margin-top: 23px;
  width: 100%;
}
.myaccount .user-cars .car .bids .actions button {
  display: block;
  width: 230px;
  height: 42px;
  background: linear-gradient(to bottom right, #f0a432, #ffb649);
  color: rgb(246, 246, 246);
  border-radius: 7px;
  font-size: 16px;
  padding: 3px;
  cursor: pointer;
  transition: 0.4s;
  border: none;
  outline: none;
  font-weight: 400;
}

@media only screen and (min-device-width: 1140px) {
  .myaccount .user-cars {
    padding-top: 25px;
    width: 100%;
    height: auto;
    padding-inline: 20px;
    position: relative;
    border-radius: 6px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1290px;
    margin-inline: auto;
  }
  .myaccount .user-cars .car {
    min-width: 380px;
    max-width: 380px;
    margin-right: 20px;
  }
  .myaccount .user-cars .car .car-image {
    border-radius: 6px;
    width: 100%;
    height: auto;
    -o-object-fit: cover;
       object-fit: cover;
    cursor: pointer;
  }
  .myaccount .user-cars .car .car-image:hover {
    filter: brightness(70%);
  }
  .myaccount .user-cars .car .flex {
    display: flex;
    align-items: center;
    width: 100%;
    height: -moz-max-content;
    height: max-content;
    margin-top: 14px;
  }
  .myaccount .user-cars .car .flex .status {
    background: #9cffcc;
    width: -moz-max-content;
    width: max-content;
    padding: 2px 7px;
    font-size: 15px;
    color: #1F1F1F;
    border-radius: 5px;
  }
  .myaccount .user-cars .car .flex .time-left {
    background: #ffd698;
    width: -moz-max-content;
    width: max-content;
    padding: 2px 7px;
    font-size: 15px;
    color: #1F1F1F;
    border-radius: 5px;
    margin-left: 10px;
  }
  .myaccount .user-cars .car .name {
    color: #1F1F1F;
    font-size: 19px;
    margin-top: 8px;
    font-weight: 500;
  }
  .myaccount .user-cars .car .bids {
    margin-top: 15px;
    text-align: left;
  }
  .myaccount .user-cars .car .bids h1 {
    color: #1F1F1F;
    font-size: 23px;
    font-weight: 500;
  }
  .myaccount .user-cars .car .bids .flex {
    display: flex;
    align-items: center;
    width: 100%;
    height: -moz-max-content;
    height: max-content;
  }
  .myaccount .user-cars .car .bids .flex .price {
    background: #8ce8ff;
    width: -moz-max-content;
    width: max-content;
    padding: 6px 9px;
    font-size: 15px;
    color: #1F1F1F;
    border-radius: 5px;
  }
  .myaccount .user-cars .car .bids .flex .time-left {
    padding: 6px 9px;
  }
  .myaccount .user-cars .car .bids .actions {
    margin-top: 23px;
    width: 100%;
  }
  .myaccount .user-cars .car .bids .actions button {
    display: block;
    width: 230px;
    height: 42px;
    background: linear-gradient(to bottom right, #f0a432, #ffb649);
    color: rgb(246, 246, 246);
    border-radius: 7px;
    font-size: 16px;
    padding: 3px;
    cursor: pointer;
    transition: 0.4s;
    border: none;
    outline: none;
    font-weight: 400;
  }
}/*# sourceMappingURL=car.css.map */