$black: #1F1F1F;
$white: rgb(246,246,246);
$primBtn: #f0a432;
$txt: #183b56;

.bids{
    padding-inline: 20px;
    width: auto;
    height: auto;
    .bid{
        width: 100%;
        height: auto;
        background: rgb(239,239,239);
        padding: 10px;
        border-radius: 5px;
        margin-bottom: 25px;
        .name{
            font-size: 22px;
            color: $black;
            font-weight: 500;
            span{
                font-size: 16px;
                opacity: 0.8;
                margin-left: 5px;
            }
        }
        .price{
            margin-bottom: 5px;
            font-size: 18px;
            color: $black;
        }
        .status{
            margin-top: 15px;
            p{
                margin-bottom: 0;
                font-size: 16px;
            }
        }
    }
}