{% extends 'core/base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static '/scss/pages/book-success.css' %}" type="text/css">
<link rel="stylesheet" href="{% static '/scss/pages/page.css' %}" type="text/css">

<div class="page">
    <div class="cover">
        <div class="content" style="padding-bottom: 15px;">
            <div class="text">
                <h1 class="cover-h1">Time ble booket!</h1>
                <p class="cover-p">Tusen takk for at du booka time med oss. Under ser du sammendraget</p>
            </div>  
        </div>
    </div>
    <div class="divivivi">
        <p>Dato: <strong>{{ booking.date }}</strong></p>
        <p>Tidspunkt: <strong>{{ booking.time }}</strong></p>
        <p>Plassering: <strong>{{ booking.location }}</strong></p>
        <p>Medarbeider: <strong>{{ booking.preference }}</strong></p>
        <p>Fulltnavn: <strong>{{ booking.full_name }}</strong></p>
        <p>Epost: <strong>{{ booking.email }}</strong></p>
        <p>Telefonnummer: <strong>{{ booking.mobile_number }}</strong></p>
        <p>Registreringsnummer: <strong style="text-transform: uppercase;">{{ booking.reg_number }}</strong></p>
        <p>Km: <strong>{{ booking.km }}</strong></p>
        <p>Bil og modell: <strong>{{ booking.car_name_model }}</strong></p>
    </div>
    <br>
    <button>Til hjemmesiden</button>
</div>


<style type="text/css">
    button{
                width: 100%;
                height: 42px;
                background: linear-gradient(to bottom right, #f0a432, #ffb649);
                color: white;
                border-radius: 7px;
                font-size: 16px;
                padding: 3px;
                cursor: pointer;
                transition: .4s;
                border: none;
                outline: none;
                font-weight: 400;
            }
</style>

{% endblock %}