{% extends 'core/base.html' %}
{% load static %}

{% block content %}
<!-- Add these in the <head> section of your template -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<link rel="stylesheet" href="{% static '/scss/pages/book.css' %}" type="text/css">

<div class="page">
    <div class="cover">
        <div class="content">
            <div class="text">
                <h1 class="cover-h1">Vi gleder oss å se deg som kunde</h1>
                <p class="cover-p">Å booke en time er veldig enkel. Bruk skjema nedenfor</p>
            </div>  
        </div>
    </div>

</div>






{% endblock %}

Give me full code on how to make to make a booking system in django, where only the following dates are available for customers to book: All weekdays are available, but only 08:00, 10:00, 12:00 and 14:00 are available to book. On saturdays, only 10:00, 12:00 and 14:00 should be available to book. Sunday should not be available to book at all. If a customer books, lets say 10:00 on tuesday 02.05.2023, that exact date should become unvailable. So only one customer per date and time. I need this information from the user, when he books a date and time: Location, Preference, Full name, Email, Mobile number, Reg nr, Km, 3 checboxes and Car name and model.  The date field must be a calender, but sundays cant be clickable at all! The time field has to be a dropdown of the times available for the date chosen in the date field. Note! If a customer picks a date and time, That date and time must be unvailable for other customers to book.




