{% extends 'core/base.html' %}
{% load static %}

{% block content %}

{% block head %}
<title>ERROR</title>
<meta name="description" content="Bilmeglerne har spesialisert seg på salg av bil. Vi har utviklet denne tjenesten for å gjøre deg trygg på at bilsalget foregår i henhold til gjeldende lover og forskrifter">
<meta name="author" content="Bilmeglerne">
<meta name="keywords" content="Bilmeglerne, Selge bil, Kjøpe bil, Biler til salg, Kjøp ny bil, Kjøp en bil, Bil, Biler, Bilene">
<meta property="og:type" content="website">
<meta property="og:url" content="{{ request.get_full_path }}">
<meta property="og:description" content="Bilmeglerne har spesialisert seg på salg av bil. Vi har utviklet denne tjenesten for å gjøre deg trygg på at bilsalget foregår i henhold til gjeldende lover og forskrifter">
{% endblock %}

<link rel="stylesheet" href="{% static '/scss/pages/book-error.css' %}" type="text/css">
<link rel="stylesheet" href="{% static '/scss/pages/page.css' %}" type="text/css">

<div class="page">
    <div class="cover">
        <div class="content" style="padding-bottom: 15px;">
            <div class="text">
                <h1 class="cover-h1">Dato og time er ikke tilgjengelig</h1>
                <p class="cover-p">Endre dato og tidspunkt og prøv igjen. All data ble lagret, så du trenger ikke å utfylle hele skjemaet på nytt</p>
            </div>  
            <button onclick="history.back()">Prøv igjen</button>
        </div>
    </div>
</div>

{% endblock %}