{% extends 'core/base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static '/scss/pages/legal.css' %}" type="text/css">
<link rel="stylesheet" href="{% static '/scss/pages/page.css' %}" type="text/css">

<div class="page">
    <div class="cover">
        <div class="content">
            <div class="text">
                <h1 class="cover-h1">Personvern for Bilmeglerne.no</h1>
            </div> 
        </div>
    </div>

    <div class="legal">

        <div class="text" style="padding-top: 5px;">
            <h1>Behandlingsansvarlig</h1>
            <p>Øystein Elias Helgheim er på vegne av Bilmeglerne.no As behandlingsansvarlig for selskapets behandling av personopplysninger</p>
        </div>

        <div class="text">
            <h1>Personopplysninger som lagres</h1>
            <p>Vi lagrer følgende personopplysninger om våre kunder:navn, adresse, telefonnummer, e-postadresse,kjønn, fødselsdato,passord for min side. Vi lagrer i tillegg kjøpshistorikk og adferdsmønster på vår nettside, dvs. opplysninger om hvordan den enkelte kunde navigerer på siden</p>
        </div>

        <div class="text">
            <h1>Formål med behandlingen</h1>
            <p>Vi behandler opplysningene for å kunne gjennomføre våre forpliktelser etter avtale med deg. Vi benytter også opplysningene for å kunne gi deg informasjon, tilbud og service i forbindelse med ditt kjøp via e-post, telefon, SMS og postutsendelser.Å administrere medlemskap,kursadministratjon,påmelding/deltagelse i aktiviteter,lisenser, forsikringer og lignende. Vi lagrer i tillegg kjøpshistorikk og adferdsmønster på vår nettside, dvs. opplysninger om hvordan den enkelte kunde navigerer på siden</p>
        </div>

        <div class="text">
            <h1>Grunnlaget for behandlingen </h1>
            <p>Informasjon om navn, adresse, telefon, e-postadresse benyttes for å oppfylle kjøpsavtalen. Grunnlaget for denne behandlingen er personvernforordningens artikkel Art 6 (b). Der du har samtykket vil det benyttes også opplysningene til å gi deg informasjon, tilbud og service i forbindelse med ditt kjøp via e-post, telefon og SMS. Grunnlaget for denne behandlingen er personvernforordningen Art 6 (a). Du kan når som helst takke nei til å motta slik informasjon fra oss.Der du har samtykket til det benyttes kjøpshistorikk og adferdsmønster til å gi anbefalinger og reklame spesielt tilpasset deg som bruker. Grunnlaget for denne behandlingen er personvernforordningen Art 6 (a). Du kan når som helst trekke tilbake ditt samtykke til slik bruk</p>
        </div>

        <div class="text">
            <h1>Innhenting av personopplysninger </h1>
            <p>Vi lagrer de personopplysningene du har avgitt på våre nettsider. Vi bruker informasjonskapsler/cookies på våre nettsider for å gi deg som besøker siden best kundeopplevelse og service. Lov om elektronisk kommunikasjon krever at vi informerer våre besøkende om bruk av informasjonskapsler (cookies). Les mer om bruk av informasjonskapsler på linken i venstre hjørne</p>
        </div>

        <div class="text">
            <h1>Kjøp av bil</h1>
            <p>Hvis du kjøper en bil av Bilmeglerne.no As registrerer vi ditt navn, personnummer, adresse, e-postadresse, telefonnummer, informasjon om bilkjøp, eventuelle kjøp av tilbehør/tilleggsutstyr eller -tjenester, betalingsinformasjon, all informasjon som er nødvendig for å tilby tilleggstjenester og informasjon om innbyttebil hvis relevant. Denne informasjonen er nødvendig for å inngå avtale med deg, for å overføre og levere bilen og eventuell innbyttebil, for å tilby den forespurte tilleggstjenesten, for å fakturere og behandle betalingen, for å kommunisere med deg og yte god  kundeservice. Innhenting av personnummer er nødvendig for at vi kan registrere bilen i ditt navn ved levering, og hvis du får finansiering eller forsikring gjennom oss. Vi vil også behandle og oppbevare ditt fødselsnummer for å overføre og underrette myndighetene om overføringen av den kjøpte bilen og innbyttebilen dersom dette er relevant</p>
        </div>

        <div class="text">
            <h1>Finansiering</h1>
            <p>Hvis du ønsker å finansiere ditt bilkjøp, vil vi registrere ditt navn, tittel, adresse, e-postadresse, telefonnummer, fødselsnummer, finansieringsbeløp, kilde for nedbetaling, forsikringsselskap, for å kunne sende en forespørsel om å tilby finansiering til vår finansieringspartner Santander. Vår finansieringspartner vil utføre en kredittsjekk og rapportere eller på annen måte gjøre tilgjengelig kredittinformasjon til Gjeldsregisteret dersom det gis usikret kreditt. Vennligst se Santander.no/personvern for mer informasjon om deres personvernerklæring</p>
        </div>

        <div class="text">
            <h1>Utlevering av opplysninger til tredjeparter</h1>
            <p>Vi vil ikke dele, selge, overføre eller på annen måte utlevere personopplysninger til andre, med mindre vi er rettslig forpliktet til det eller følgende:
                <li>Dersom du har samtykket til det</li>
                <li>Når vi handler på din forespørsel, oppfyller din kontrakt med oss eller utfører din ordre, til Bilmeglerne.no As selskaper eller til tredjeparts leverandører, service-, betalings- eller vareleverandører (eksempelvis finansiering eller forsikring)</li>
                <li>I tilfellet en transaksjon for finansiering av vår virksomhet, fusjon eller kjøp av Bilmeglerne.no As eller (deler av) dets eiendeler av en tredjepart</li>
                <li>I tilfellet rettslige krav, rettslige prosesser eller som en del av en juridisk, personvern og datasikkerhet, risiko eller finansiell revisjon</li>
                <li>For å gjennomføre kredittsjekker eller kontraktsmotparts due diligence undersøkelser innenfor de ovennevnte formålene</li>
                <li>Til parter som opptrer som databehandlere på våre vegne, for eksempel IT-leverandører eller nettskyleverandører</li>
            </p>
        </div>

        <div class="text">
            <h1>Sletting av personopplysninger</h1>
            <p>Opplysninger vi har mottatt i forbindelse med ditt kjøp lagres i vårt aktive kunderegister i 3,5 år.</p>
        </div>

        <div class="text">
            <h1>Rettigheter for den registrerte </h1>
            <p>Vi behandler dine personopplysninger i henhold til personopplysningsloven og gjeldende forskrifter. Det gjøres oppmerksom på at du kan kreve innsyn i og flytting av egne personopplysninger, samt kreve retting eller sletting av opplysninger. Det kan klages til Datatilsynet på behandling i strid med reglene</p>
        </div>

        <div class="text">
            <h1>Personvernombud</h1>
            <p>Vi har et personvernombud, Øystein Elias Helgheim, som påser at personopplysningslovens regler om behandling av personopplysninger blir fulgt</p>
        </div>

        <div class="text">
            <h1>Informasjonssikkerhet </h1>
            <p>Vi sikrer dine personopplysninger ved både fysisk og virtuell adgangs- og tilgangskontroll, samt ved kryptering av sensitive deler av avgitte opplysninger</p>
        </div>

        <div class="text">
            <h1>Endringer</h1>
            <p>Bilmeglerne.no As forbeholder seg retten til å endre denne erklæringen. Sørg for at du alltid er kjent med gjeldende versjon av denne personvernerklæringen. Vi vil informere deg om viktige endringer i god tid</p>
        </div>

        <div class="text">
            <h1>Kontaktinformasjon</h1>
            <p>envendelser om hvilke opplysninger som er registrert, retting og sletting kan sende skriftlig til følgende adresse: <a href="mailto:kontakt@bilmeglerne.no">kontakt@bilmeglerne.no</a></p>
        </div>

    </div>

</div>
{% endblock %}