{% extends 'core/base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static '/scss/pages/legal.css' %}" type="text/css">
<link rel="stylesheet" href="{% static '/scss/pages/page.css' %}" type="text/css">

<div class="page">
    <div class="cover">
        <div class="content">
            <div class="text">
                <h1 class="cover-h1">Selg bilen din med oss</h1>
                <p class="cover-p">La oss vise deg prossesen av å selge bilen din</p>
            </div>
            <div class="cover-actions">
                <button onclick="window.location.href='/selg-bilen/book-time/'">Book time</button>
             </div>   
        </div>
    </div>
</div>
{% endblock %}