{% extends 'core/base.html' %}
{% load static %}

{% block head %}
<title>Salgsvilkår for Bilmeglerne.no</title>
<meta name="description" content="Bilmeglerne har spesialisert seg på salg av bil. Vi har utviklet denne tjenesten for å gjøre deg trygg på at bilsalget foregår i henhold til gjeldende lover og forskrifter">
<meta name="author" content="Bilmeglerne">
<meta name="keywords" content="Bilmeglerne, Selge bil, Kjøpe bil, Biler til salg, Kjøp ny bil, Kjøp en bil, Bil, Biler, Bilene">
<meta property="og:type" content="website">
<meta property="og:url" content="{{ request.get_full_path }}">
<meta property="og:description" content="Bilmeglerne har spesialisert seg på salg av bil. Vi har utviklet denne tjenesten for å gjøre deg trygg på at bilsalget foregår i henhold til gjeldende lover og forskrifter">
{% endblock %}
{% block content %}


<link rel="stylesheet" href="{% static '/scss/pages/legal.css' %}" type="text/css">
<link rel="stylesheet" href="{% static '/scss/pages/page.css' %}" type="text/css">

<div class="page">
    <div class="cover">
        <div class="content">
            <div class="text">
                <h1 class="cover-h1">Salgsvilkår for Bilmeglerne.no</h1>
</div> 
        </div>
    </div>

    <div class="legal">

        <div class="text" style="padding-top: 5px;">
            <h1>Partene</h1>
            <p>
                Kunden: er den forbruker som foretar bestillingen og omtales i denne kontrakten som kunde(n).
                Selger: Bilmeglerne.no AS er den parten som leverer tjenesten og omtales som Bilmeglerne. 
                <br>
                <br>
                Post adresse: Schultz gate 16b, 0365 Oslo
                <br>
                Telefon: 40179859
                <br>
                Firmanavn: Bilmeglerne.no As
                <br>
                Organisasjonsnummer: 929 370 643
                <br>
                E-post: <a href="mailto:kontakt@bilmeglerne.no">kontakt@bilmeglerne.no</a>
            </p>
        </div>

        <div class="text">
            <h1>Avtalen</h1>
            <p>Avtalen består av disse salgsbetingelsene, opplysninger gitt i bestillingsløsningen og eventuelt særskilt avtalte vilkår. Ved eventuell motstrid mellom opplysningene, går det som særskilt er avtalt mellom partene foran, så fremt det ikke strider mot ufravikelig lovgivning. Avtalen vil i tillegg bli utfylt av relevante lovbestemmelser som regulerer kjøp av varer mellom næringsdrivende og forbrukere</p>
        </div>

        <div class="text">
            <h1>Avtalens omfang</h1>
            <p>Disse salgsvilkårene omhandler vask, fotografering og kontroll av kjøretøyet. Dette belastes kunden ved betaling etter punkt 4 i salgsvilkårene. Disse salgsvilkårene har ikke tilknytning tilleggstjenesten/tilleggsavtalen og omhandler bare vask, fotografering og kontroll av kjøretøyet</p>
        </div>

        <div class="text">
            <h1>Betalingen</h1>
            <p>
                Betalingen for tilleggsavtalen blir trukket fra oppgjøret før salgsbeløpet minus avtalt beløp blir overført til kundens bankkonto.
                <br>
                <br>
                For betaling av del 1:

                Vi godtar kredittkort, Vipps og Klarna. Alle betalinger behandles gjennom en sikret betalingsprosess.

                Kredittkort-Visa / Mastercard: Pengene trekkes direkte etter at kjøpet er fullført.

                Vipps Hurtigkasse: Når du benytter deg av Vipps hurtigkasse blir du ført videre til Vipps-appen via din enhet. 

                Vipps i kassen: Etter å ha klikket på "Fullfør betaling" blir du ført til "Vipps via QuickPay" for å fullføre din sikre betaling.

                Klarna: Du kan enten vente i 14 dager til å betale fakturaen, eller så kan du dele opp betalingen - noe som betyr at du kan velge hvor mye du vil betale hver måned. Vi sender deg fakturaen per mail eller til postkassen din.

                Klarna kan kontaktes på telefon 21 01 89 91 eller på <a href="https://www.klarna.no">www.klarna.no</a>
                <br>
                <br>
                Bilmeglerne kan kreve betaling for tjenesten fra det tidspunkt tjenesten er levert kunden.
                Dersom kunden bruker kredittkort eller debetkort ved betaling, kan selgeren reservere kjøpesummen på kortet ved bestilling. Kortet blir belastet samme dag som tjenesten er levert.
                <br>
                <br>
                Ved fakturabetaling, blir fakturaen til kjøperen utstedt ved booking av tjenesten. Betalingsfristen fremgår av fakturaen og er på minimum 14 dager fra mottak. Ved for sen betaling tilfaller renter også videre inkasso ved manglende betaling etter gjeldende lover og regler. Er ikke fakturaen betalt når bilen er solgt, kan kunden samtykke at utestående beløp inkludert renter trekkes fra oppgjøret for bilen. Dette gjelder ikke om fakturaen har blitt videresendt til inkasso
                <br>
                <br>
                Kjøpere under 18 år kan ikke betale med etterfølgende faktura.
            </p>
        </div>

        <div class="text">
            <h1>Avtaleinngåelse</h1>
            <p>
                Avtalen er inngått når kunden har betalt for tjenesten, lest salgsvilkårene og tilleggsavtalen samt bekreftet å ha lest disse. Avtalen er bindende for begge parter når kjøperen har sendt sin bestilling til bilmeglerne.
                <br>
                <br>
                Avtalen er likevel ikke bindende hvis det har forekommet skrive- eller tastefeil i tilbudet fra selgeren i bestillingsløsningen i nettbutikken eller i kjøperens bestilling, og den annen part innså eller burde ha innsett at det forelå en slik feil
            </p>
        </div>

        <div class="text">
            <h1>Pris</h1>
            <p>Den oppgitte prisen for varen og tjenester er den totale prisen kjøper skal betale. Denne prisen inkluderer alle avgifter og tilleggskostnader. Ytterligere kostnader som selger før kjøpet ikke har informert om, skal kjøper ikke bære</p>
        </div>

        <div class="text">
            <h1>Levering</h1>
            <p>Levering av tjenesten påbegynt 48 timer før timen starter og er skjedd når kunden, eller hans representant, har hentet bilen fra Naf-senteret kunden leverte bilen til. Tidligst mulig booket time er 2 dager frem i tid og senest 30 dager om ikke annet er avtalt mellom partene. Hvis ikke leveringstidspunkt fremgår av bestillingsløsningen, skal selgeren levere stjenesten til kunden uten unødig opphold og senest 30 dager etter bestillingen fra kunden. Tjenesten skal leveres kjøperen med mindre annet er særskilt avtalt mellom partene</p>
        </div>

        <div class="text">
            <h1>Manglende oppmøte til booket time</h1>
            <p>
                Møter man ikke opp til timen uten å melde fra innen 48 timer før booket time, vil man bli belastet det fulle beløpet. Kunden belastes kr 0 ved kansellering av timen senest 48 timer før timen starter. Kunden kan da be om ny time med tidspunkt ikke lenger enn 30 dager frem i tid eller om refusjon
                <br>
                <br>
                For å angre bookingen sender du mail til Bilmeglerne.no As eller bruker “angreskjemaet” nederst på nettsiden senest 48 timer før booket time 
            </p>
        </div>

        <div class="text">
            <h1>Angrerett</h1>
            <p>
                Avbestille tjenesten frem til 48 timer før booket time. Etter dette vil det ikke være mulig å avbestille ettersom bilmeglerne vil bli økonomisk belastet om en slik avbestilling ikke blir gitt før tidsfristen eller ved manglende oppmøte. Det vil si at etter 48 timer anses tjenesteleveringen som startet og kunden har ansvar for påløpte kostnader
                <br>
                <br>
                Angreretten bortfaller dersom levering har begynt med forbrukerens uttrykkelige forhåndssamtykke, og forbrukeren har erkjent at angreretten vil gå tapt når den næringsdrivende har oppfylt sine forpliktelser etter avtalen, jf. bokstav c (angrl § 22.)
            </p>
        </div>

        <div class="text">
            <h1>Forsinkelse og manglende levering</h1>
            <p>
                Kjøperens rettigheter og frist for å melde krav dersom selgeren ikke leverer tjenesten eller leverer den for sent i henhold til avtalen mellom partene, og dette ikke skyldes kjøperen eller forhold på kjøperens side, kan kjøperen i henhold til reglene i forbrukerkjøpslovens kapittel 5 etter omstendighetene kreve oppfyllelse og/eller heve avtalen fra selgeren. 
                <br>
                <br>
                Ved krav om misligholdsbeføyelser bør meldingen av bevishensyn være skriftlig.
            </p>
        </div>

        <div class="text">
            <h1>Oppfyllelse</h1>
            <p>
                Kjøper kan fastholde kjøpet og kreve oppfyllelse fra selger. Kjøper kan imidlertid ikke kreve oppfyllelse dersom det foreligger en hindring som selgeren ikke kan overvinne, eller dersom oppfyllelse vil medføre en så stor ulempe eller kostnad for selger at det står i vesentlig misforhold til kjøperens interesse i at selgeren oppfyller. Skulle vanskene falle bort innen rimelig tid, kan kjøper likevel kreve oppfyllelse. 
                <br>
                <br>
                Kjøperen taper sin rett til å kreve oppfyllelse om han eller hun venter urimelig lenge med å fremme kravet
            </p>
        </div>

        <div class="text">
            <h1>Heving</h1>
            <p>
                Dersom selgeren ikke leverer tjenesten på leveringstidspunktet, skal kjøperen oppfordre selger til å levere innen en rimelig tilleggsfrist for oppfyllelse. Dersom selger ikke leverer tjenesten innen tilleggsfristen, kan kjøperen heve kjøpet. Kjøper kan imidlertid heve kjøpet umiddelbart hvis selger nekter å levere tjenesten. Tilsvarende gjelder dersom levering til avtalt tid var avgjørende for inngåelsen av avtalen, eller dersom kjøperen har underrettet selger om at leveringstidspunktet er avgjørende.
                <br>
                <br>
                Leveres tjenesten etter tilleggsfristen forbrukeren har satt eller etter leveringstidspunktet som var avgjørende for inngåelsen av avtalen, må krav om heving gjøres gjeldende innen rimelig tid etter at kjøperen fikk vite om leveringen
            </p>
        </div>

        <div class="text">
            <h1>Selgerens rettigheter ved kjøperens mislighold</h1>
            <p>Dersom kjøperen ikke betaler eller oppfyller de øvrige pliktene etter avtalen eller loven, og dette ikke skyldes selgeren eller forhold på selgerens side, kan selgeren i henhold til reglene i forbrukerkjøpsloven kapittel 9 etter omstendighetene heve avtalen og ikke levere tjenesten</p>
        </div>

        <div class="text">
            <h1>Personopplysninger</h1>
            <p>Behandlingsansvarlig for innsamlede personopplysninger er selger. Med mindre Kunden samtykker til noe annet, kan selgeren, i tråd med personopplysningsloven, kun innhente og lagre de personopplysninger som er nødvendig for at selgeren skal kunne gjennomføre forpliktelsene etter avtalen. Kjøperens personopplysninger vil kun bli utlevert til andre hvis det er nødvendig for at selger skal få gjennomført avtalen med kjøperen, eller i lovbestemte tilfelle. Se personvernerklæringen som du finner nederst på nettsiden for mer informasjon</p>
        </div>

        <div class="text">
            <h1>Konfliktløsning</h1>
            <p>
                Klager rettes til selger innen rimelig tid, jf. punkt 9 og 10. Partene skal forsøke å løse eventuelle tvister i minnelighet. Dersom dette ikke lykkes, kan kjøperen ta kontakt med Forbrukerrådet for mekling. Forbrukerrådet er tilgjengelig på telefon 23 400 500 eller <a href="https://www.forbrukerradet.no">www.forbrukerradet.no</a>
            </p>
        </div>

        <div class="text">
            <h1>Bekreftelse</h1>
            <p>
                Jeg bekrefter å ha lest og forstått innholdet i dette dokumentet og at denne avtalen gjøres gyldig fra signeringstidspunktet/bekreftelsestidspunktet. 
                Bilmeglerne.no AS (Org.nr)
            </p>
        </div>

    </div>

</div>
{% endblock %}