.cover {
  width: 100%;
  min-height: -moz-max-content;
  min-height: max-content;
  position: relative;
  padding-bottom: 5px;
  background: transparent;
}
.cover .content {
  padding-inline: 20px;
  padding-top: 72px;
  padding-bottom: 25px;
  height: -moz-max-content;
  height: max-content;
  position: relative;
}
.cover .content .text {
  text-align: center;
  margin-top: 28px;
}
.cover .content .text .cover-h1 {
  color: #1F1F1F;
  font-size: 34px;
  font-weight: 600;
  margin-bottom: 10px;
}
.cover .content .text .cover-p {
  margin: auto;
  max-width: 270px;
  font-size: 18px;
  margin-bottom: 0;
  color: #1F1F1F;
  font-weight: 500;
}

.page .book-time {
  padding-bottom: 60px;
  padding-inline: 20px;
}
.page .book-time #overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  z-index: 1000000000000;
  display: none;
}
.page .book-time #loader {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 90%;
  height: 400px;
  background: #f0a432;
  transform: translateX(-50%) translateY(-50%);
  z-index: 10000000000000000000;
  display: none;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}
.page .book-time #loader .load { /* Safari */
  animation: spin 2s linear infinite;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #183b56;
  width: 120px;
  height: 120px; /* Safari */
  animation: spin 1s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.page form {
  background: white;
  border-radius: 12px;
  padding-inline: 30px;
  padding-block: 16px;
}
.page form .icon-input {
  position: relative;
  width: 100%;
}
.page form .icon-input i {
  position: absolute;
  right: 18px;
  top: 13px;
  color: #1F1F1F;
  font-size: 20px;
  opacity: 0.9;
}
.page form #bookTimeStepTwo {
  display: none;
}
.page form #bookTimeStepTwo .mobile_number {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.page form #bookTimeStepTwo .mobile_number .nr {
  width: 20%;
  background: rgba(233, 233, 233, 0.699);
  color: #1F1F1F;
  font-size: 16px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
  border: 1px solid lightgray;
  border-right: 0;
}
.page form #bookTimeStepTwo .mobile_number input {
  width: 80% !important;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.page form #bookTimeStepTwo .mobile_number input:focus, .page form #bookTimeStepTwo .mobile_number input:active {
  border: 1px solid #f0a432;
  cursor: text;
  background: rgb(255, 255, 255);
}
.page form #bookTimeStepTwo .checkbox {
  display: flex;
  align-items: center;
  margin-top: 22px;
  margin-bottom: 18px;
}
.page form #bookTimeStepTwo .checkbox p {
  margin-bottom: 0;
  margin-left: 15px;
  font-size: 14px;
  color: #1F1F1F;
  transform: translateY(1px);
}
.page form #bookTimeStepTwo .checkbox p a {
  text-decoration: underline;
}
.page form #bookTimeStepTwo .checkbox input {
  min-width: 25px !important;
  max-width: 25px !important;
  min-height: 25px !important;
  max-height: 25px !important;
}
.page form #bookTimeStepTwo .reg-nr {
  display: flex;
  position: relative;
  margin-top: 30px;
}
.page form #bookTimeStepTwo .reg-nr input {
  height: 60px;
  border-radius: 12px;
  text-align: center;
  font-size: 26px;
  text-transform: uppercase;
}
.page form #bookTimeStepTwo .reg-nr input:focus, .page form #bookTimeStepTwo .reg-nr input:active {
  border: 1px solid rgb(172, 172, 172);
  cursor: text;
  background: rgb(255, 255, 255);
}
.page form #bookTimeStepTwo .reg-nr input::-moz-placeholder {
  font-size: 26px;
}
.page form #bookTimeStepTwo .reg-nr input::placeholder {
  font-size: 26px;
}
.page form #bookTimeStepTwo .reg-nr img {
  position: absolute;
  left: 0;
  height: 60px;
  width: auto;
  border-bottom-left-radius: 12px;
  border-top-left-radius: 12px;
}
.page form #bookTimeStepTwo .km {
  position: relative;
  display: flex;
}
.page form #bookTimeStepTwo .km input {
  height: 60px;
  border-radius: 12px;
  text-align: center;
  font-size: 26px;
}
.page form #bookTimeStepTwo .km input:focus, .page form #bookTimeStepTwo .km input:active {
  border: 1px solid rgb(172, 172, 172);
  cursor: text;
  background: rgb(255, 255, 255);
}
.page form #bookTimeStepTwo .km input::-moz-placeholder {
  font-size: 26px;
}
.page form #bookTimeStepTwo .km input::placeholder {
  font-size: 26px;
}
.page form #bookTimeStepTwo .km p {
  position: absolute;
  right: 7px;
  bottom: -4px;
  color: #1F1F1F;
  opacity: 0.95;
  font-size: 16px;
  font-weight: 500;
}
.page form label {
  font-size: 16px;
  color: #1F1F1F;
  font-weight: 500;
}
.page form input {
  width: 100%;
  height: 48px;
  border: 1px solid lightgray;
  outline: none;
  padding: 8px;
  color: #1F1F1F;
  font-size: 16px;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 7px;
}
.page form input:focus, .page form input:active {
  border: 2px solid #f0a432;
  cursor: text;
  background: rgb(255, 255, 255);
}
.page form input::-moz-placeholder {
  color: #1F1F1F;
  opacity: 0.6;
}
.page form input::placeholder {
  color: #1F1F1F;
  opacity: 0.6;
}
.page form select {
  width: 100%;
  height: 48px;
  border: 1px solid lightgray;
  outline: none;
  padding: 8px;
  color: #1F1F1F;
  font-size: 16px;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 7px;
}
.page form select:focus, .page form select:active {
  border: 2px solid #f0a432;
  cursor: text;
  background: rgb(255, 255, 255);
}
.page form select::-moz-placeholder {
  color: #1F1F1F;
  opacity: 0.6;
}
.page form select::placeholder {
  color: #1F1F1F;
  opacity: 0.6;
}
.page form .form-actions button {
  border: 1px solid transparent;
  border-radius: 6px;
  outline: none;
  background: linear-gradient(to bottom right, #f0a432, #ffb649);
  color: white;
  font-weight: 500;
  font-size: 17px;
  width: 100%;
  display: block;
  height: 44px;
  margin-top: 25px;
}

@media only screen and (min-device-width: 1140px) {
  .page {
    padding-inline: 80px;
    padding-bottom: 90px;
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
  }
  .page .cover {
    background: transparent;
    max-width: -moz-max-content;
    max-width: max-content;
  }
  .page .cover .content {
    padding-inline: 0;
  }
  .page .cover .content .text {
    text-align: left;
  }
  .page .cover .content .text h1 {
    color: #1F1F1F;
    font-size: 34px;
    font-weight: 600;
    margin-bottom: -10px;
    max-width: 400px;
  }
  .page .cover .content .text p {
    margin: unset;
    max-width: 320px;
    color: #1F1F1F;
    font-size: 20px;
    font-weight: 500;
    margin-top: 18px;
  }
  .page .flex {
    display: flex;
    justify-content: space-between !important;
    margin-inline: auto;
    padding-inline: 40px;
    width: 100%;
  }
  .page form {
    background: white;
    border-radius: 12px;
    padding-inline: 30px;
    padding-block: 16px;
    padding-bottom: 18px;
    width: 400px;
    height: -moz-max-content;
    height: max-content;
    border: 1px solid rgba(0, 0, 0, 0.2);
    transform: translateY(95px) translateX(-20px);
  }
  .page form .form-actions button {
    border: 1px solid transparent;
    border-radius: 6px;
    outline: none;
    background: linear-gradient(to bottom right, #f0a432, #ffb649);
    color: white;
    font-weight: 500;
    font-size: 17px;
    width: 100%;
    display: block;
    height: 44px;
    margin-top: 32px;
  }
}
@media only screen and (min-device-width: 1290px) {
  .page {
    padding-inline: 10px;
    padding-bottom: 170px;
    padding-top: 140px;
  }
  .page .cover {
    background: transparent;
    max-width: 1290px;
  }
  .page .cover .content {
    max-width: 1290px;
    padding-inline: 0;
  }
  .page .cover .content .text {
    text-align: left;
  }
  .page .cover .content .text h1 {
    color: #1F1F1F;
    font-size: 36px;
    font-weight: 600;
    margin-bottom: -10px;
  }
  .page .cover .content .text p {
    margin: unset;
    max-width: 340px;
    color: #1F1F1F;
    font-size: 22px;
    font-weight: 500;
    margin-top: 18px;
  }
  .page .cover .content .text #onlyOnDes {
    display: block;
    margin-top: 30px;
  }
  .page .cover .content .text #onlyOnDes .check {
    display: flex;
    margin-bottom: 25px;
  }
  .page .cover .content .text #onlyOnDes .check i {
    color: #1efa1e;
    background: #e0fae0;
    border-radius: 100%;
    padding: 10px;
    font-size: 24px;
  }
  .page .cover .content .text #onlyOnDes .check p {
    color: #1F1F1F;
    font-weight: 500;
    font-size: 20px;
    margin-left: 15px;
    transform: translateY(8px);
    margin-top: 0;
  }
  .page .flex {
    display: flex;
    justify-content: space-between;
    min-width: 1290px;
    max-width: 1290px;
    margin-inline: auto;
    padding-inline: 120px;
  }
  .page form {
    background: white;
    border-radius: 14px;
    padding-inline: 30px;
    padding-block: 22px;
    padding-bottom: 24px;
    width: 490px;
    height: -moz-max-content;
    height: max-content;
    border: 1px solid rgba(0, 0, 0, 0.2);
    transform: translateY(95px) translateX(40px);
    max-width: 1290px;
  }
  .page form .inputs-labels .step-one input {
    height: 60px;
    border-radius: 12px;
    text-align: center;
    font-size: 26px;
  }
  .page form .inputs-labels .step-one input:focus, .page form .inputs-labels .step-one input:active {
    border: 1px solid rgb(172, 172, 172);
    cursor: text;
    background: rgb(255, 255, 255);
  }
  .page form .inputs-labels .step-one input::-moz-placeholder {
    font-size: 26px;
  }
  .page form .inputs-labels .step-one input::placeholder {
    font-size: 26px;
  }
  .page form .inputs-labels label {
    font-size: 16px;
    color: #1F1F1F;
    font-weight: 500;
  }
  .page form .inputs-labels input {
    width: 100%;
    height: 48px;
    border: 1px solid lightgray;
    outline: none;
    padding: 8px;
    color: #1F1F1F;
    font-size: 16px;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 7px;
  }
  .page form .inputs-labels input:focus, .page form .inputs-labels input:active {
    border: 2px solid #f0a432;
    cursor: text;
    background: rgb(255, 255, 255);
  }
  .page form .inputs-labels input::-moz-placeholder {
    color: #1F1F1F;
    opacity: 0.6;
  }
  .page form .inputs-labels input::placeholder {
    color: #1F1F1F;
    opacity: 0.6;
  }
  .page form .inputs-labels .checkbox {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 18px;
    margin-bottom: 15px;
  }
  .page form .inputs-labels .checkbox p {
    margin-bottom: 0;
    margin-left: 15px;
    font-size: 14px;
    color: #1F1F1F;
  }
  .page form .inputs-labels .checkbox p a {
    text-decoration: underline;
  }
  .page form .inputs-labels .checkbox input {
    width: 30px;
    height: 30px;
  }
  .page form .form-actions button {
    border: 1px solid transparent;
    border-radius: 6px;
    outline: none;
    background: linear-gradient(to bottom right, #f0a432, #ffb649);
    color: white;
    font-weight: 500;
    font-size: 17px;
    width: 100%;
    display: block;
    height: 44px;
    margin-top: 32px;
  }
}/*# sourceMappingURL=book.css.map */