$black: #1F1F1F;
$white: rgb(246,246,246);
$primBtn: #f0a432;
$txt: #183b56;

.page{
    padding-inline: 20px;
    padding-bottom: 60px;
    .cover{
        background: transparent;
        .content{
            padding-inline: 0;
            .text{
                text-align: center;
                p{
                    margin: auto;
                }
            }
            button{
                border: 1px solid transparent;
                border-radius: 6px;
                outline: none;
                background: linear-gradient(to bottom right, $primBtn, #ffb649);
                color: white;
                font-weight: 500;
                font-size: 17px;
                width: 240px;
                display: block;
                height: 45px;
                margin: auto;
                margin-top: 25px;
              }
        }
    }
    .divivivi{
        background: white;
        margin-top: 10px;
        border-radius: 12px;
        padding-inline: 30px;
        padding-block: 16px;
    }
}