$black: #1F1F1F;
$white: rgb(246,246,246);
$primBtn: #f0a432;
$txt: #183b56;

.page{
    padding-inline: 20px;
    padding-bottom: 60px;
    .cover{
        background: transparent;
        .content{
            padding-inline: 0;
            .text{
                text-align: center;
                p{
                    margin: auto;
                }
            }
        }
    }

    .cards{
        width: 100%;
        position: relative;
        margin-top: 10px;
        .card{
            text-align: center;
            padding: 17px;
            border-radius: 14px;
            box-shadow: 0 3px 5px rgba(0,0,0,0.05);
            border: none;
            margin-bottom: 25px;
            i{
                color: $black;
                font-size: 32px;
                margin-bottom: 15px;
            }
            h1{
                font-size: 26px;
                color: $black;
            }
            .value{
                padding: 14px 22px;
                font-size: 17px;
                color: $black;
                box-shadow: 0 1px 5px rgba(0,0,0,0.1);
                border-radius: 25px;
                width: max-content;
                margin: auto;
                transition: .2s;
                &:hover{
                    background: $white;
                }
            }
        }
    }
}



@media only screen and (min-device-width: 1140px) {
    .page{
        padding-inline: 80px;
        padding-bottom: 140px;
        padding-top: 50px;
        .cover{
            background: transparent;
            max-width: 100%;
            .content{
                padding-inline: 0;
                .text{
                    text-align: center;
                    h1{
                        color: $black;
                        font-size: 34px;
                        font-weight: 600;
                        margin-bottom: -10px;
                        max-width: 400px;
                        margin: auto;
                      }
                      p{
                        margin: auto;
                        max-width: 320px;
                        color: $black;
                        font-size: 20px;
                        font-weight: 500;
                        margin-top: 18px;
                      }
               
                }
            }
        }
        .cards{
            width: 100%;
            position: relative;
            margin-top: 10px;
            display: flex;
            .card{
                text-align: center;
                padding: 17px;
                border-radius: 14px;
                box-shadow: 0 3px 5px rgba(0,0,0,0.05);
                border: none;
                margin-bottom: 0;
                margin-right: 20px;
                min-width: 330px;
                max-width: 330px;
                i{
                    color: $black;
                    font-size: 32px;
                    margin-bottom: 15px;
                }
                h1{
                    font-size: 26px;
                    color: $black;
                }
                .value{
                    padding: 14px 22px;
                    font-size: 17px;
                    color: $black;
                    box-shadow: 0 1px 5px rgba(0,0,0,0.1);
                    border-radius: 25px;
                    width: max-content;
                    margin: auto;
                }
            }
        }   
    }
    
}