{% extends 'core/base.html' %}    
{% load static %}    
    

{% block content %}
{% block head %}
<title>Endre medlemskap</title>
<meta name="author" content="Innlandet Søk">
<meta property="og:type" content="website">
<meta property="og:url" content="{{ request.get_full_path }}">
{% endblock %}

<link rel="stylesheet" href="{% static '/scss/userprofile/myaccount.css' %}" type="text/css">
<script rel="stylesheet" src="{% static '/js/myaccount.js' %}" type="text/javascript"></script>
<link rel="stylesheet" href="{% static '/scss/userprofile/account/user-info.css' %}" type="text/css">
<link rel="stylesheet" href="{% static '/scss/pages/page.css' %}" type="text/css">



<div class="page">
    <div class="cover">
        <div class="content">
            <div class="text">
                <h1>Endre medlemskap</h1>
                <div class="back" onclick="window.location.href='/min-bruker/'">
                    <i class="fa-solid fa-angle-left arrow"></i>
                    <h1>Tilbake</h1>
                </div>
            </div>
        </div>
    </div>

    <div class="section">
        <h1>Hva ønsker du å endre til?</h1>
        {% if request.user.profile.medlemskap == 'Vanlig' %}
        <p>(Du har Vanlig)</p>
        {% endif %}
        {% if request.user.profile.medlemskap == 'Pro' %}
        <p>(Du har Pro)</p>
        {% endif %}
        {% if request.user.profile.medlemskap == 'Pro+' %}
        <p>(Du har Pro+)</p>
        {% endif %}
        <form action=""  method="post" enctype="multipart/form-data">
            {% csrf_token %}

            {% if message %}
            <div class="alert alert-success">
                {{message}}
            </div>
            {% endif %}
            
            {% if not_allowed %}
            <p style="text-align: center; color: #183b56; font-size: 17px; margin-top: 0;">Du har endra ditt medlemskap. Du må vente til neste gang du kan endre på nytt.</p>
            {% else %}
            <div class="inputs-labels">
                <label for="">Medlemskap</label>
                <br>
                <select id="new_subscription" name="new_subscription" required>
                    <option disabled selected value>Medlemskap</option>
                    <option value="Vanlig">Vanlig</option>
                    <option value="Pro">Pro</option>
                    <option value="Pro+">Pro+</option>
                  </select>
            </div>
            <p style="text-align: left; color: #183b56; font-size: 16px; margin-top: 15px;">Du kan kunn endre medlemskapet 1 gang i måneden. Du må forsatt betale for det gamle medlemskapet når du endrer til en ny en, helt til 5.ende i måneden. Beløpet du skal betale endres 5.ende i måneden på den nye fakturaen.</p>
            <div class="form-actions">
                <button>Endre medlemskapet</button>
            </div>
            {% endif %}
        </form>
    </div>
</div>

{% endblock %}