{% extends 'core/base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static '/scss/userprofile/myaccount.css' %}" type="text/css">
<script rel="stylesheet" src="{% static '/js/account.js' %}" type="text/javascript"></script>
<link rel="stylesheet" href="{% static '/scss/pages/page.css' %}" type="text/css">
<link rel="stylesheet" href="{% static '/scss/userprofile/account/buy.css' %}" type="text/css">
<link rel="stylesheet" href="{% static '/scss/userprofile/account/egenerkl.css' %}" type="text/css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr@4.6.9/dist/flatpickr.min.css">
<script src="https://cdn.jsdelivr.net/npm/flatpickr@4.6.9/dist/flatpickr.min.js"></script>



<div class="account-nav-mob">
    <div class="logo" onclick="window.location.href='/min-bruker/'">
        <img src="{% static 'images/logo/logo2.png' %}" alt="" class="logo-image">
    </div>
    <div class="hamburger" id="Acnthamburger" onclick="Acntmenu()">
        <span class="upper-span"></span>
        <span class="center-span"></span>
        <span class="lower-span"></span>
    </div>
    <div class="sidebar" id="Acntsidebar">
      <a href="/">Tilbake hjem<i class="fa-solid fa-angle-right"></i></a>
      <a href="/min-bruker/mine-annonser/">Mine annonser<i class="fa-solid fa-angle-right"></i></a>
      <a href="/min-bruker/mine-bud/">Mine bud<i class="fa-solid fa-angle-right"></i></a>
      <a href="/min-bruker/mine-kjøp/">Mine Kjøp<i class="fa-solid fa-angle-right"></i></a>
      <a href="/min-bruker/kommende-visninger/">Kommende visninger<i class="fa-solid fa-angle-right"></i></a>
      <a href="/min-bruker/rediger-min-info/">Endre min info<i class="fa-solid fa-angle-right"></i></a>
  </div>
</div>


<div class="myaccount">
    <div id="overlay"></div>
    <div class="text">
        <h1 class="heading">Egenærklæring</h1>
        <h3 style="color: #1F1F1F; margin-bottom: 0; margin-top: 20px; font-size: 22px;">Egenærklæring for {{car.name}}</h3>
    </div>
    <br>
    <div class="car">
        {% if egnerklæring.stepOne %}
        <div class="step conf">
        {% else %}
        <div class="step">
        {% endif %}
            <div class="left">
                <i class="fa-solid fa-address-book"></i>
                <h1>Kontakt-info</h1>
            </div>
            <div class="right">
                {% if egnerklæring.stepOne %}
                    <i class="fa-solid fa-check check"></i>
                {% else %}
                    <button onclick="contactInfo()">Fullfør</button>
                {% endif %}
            </div>
        </div>

        {% if egnerklæring.stepTwo %}
        <div class="step conf">
        {% else %}
        <div class="step">
        {% endif %}
            <div class="left">
                <i class="fa-solid fa-circle-info"></i>                
                <h1>Bil-detaljer</h1>
            </div>
            <div class="right">
                {% if egnerklæring.stepTwo %}
                    <i class="fa-solid fa-check check"></i>
                {% else %}
                    <button onclick="carDetails()">Fullfør</button>
                {% endif %}
            </div>
        </div>

        {% if egnerklæring.stepThree %}
        <div class="step conf">
        {% else %}
        <div class="step">
        {% endif %}
            <div class="left">
                <i class="fa-solid fa-screwdriver-wrench"></i>
                <h1>Utstyrsliste</h1>
            </div>
            <div class="right">
                {% if egnerklæring.stepThree %}
                    <i class="fa-solid fa-check check"></i>
                {% else %}
                    <button onclick="tools()">Fullfør</button>
                {% endif %}
            </div>
        </div>
        
        <div class="step">
            <div class="left">
                <i class="fa-solid fa-car-wrench"></i>
                <h1>Servicehistorikk</h1>
            </div>
            <div class="right">
                <button onclick="service()">Fullfør</button>
            </div>
        </div>

        <div class="step">
            <div class="left">
                <i class="fa-solid fa-car"></i>
                <h1>Garantier</h1>
            </div>
            <div class="right">
                <button onclick="garanti()">Fullfør</button>
            </div>
        </div>


        <form action="" method="POST" id="kontaktForm" >
            {% csrf_token %}
            <input type="hidden" name="car_id" value="{{ car.id }}">
            <div onclick="contactInfoClose()" class="close"><i class="fa-solid fa-x"></i>Lukk</div>
            <br>
            <h1>Kontakt-info</h1>
            <br>
            <div class="inputs-labels">
                <div class="time">
                    <label for="">Personalia</label>
                    <input type="checkbox" checked="stepOne" name="stepOne" style="display: none;">
                    <br>
                    <input type="text" required name="name" id="name" placeholder="Fullt navn">
                    <br>
                    <br>
                    <input type="text" required name="mobile_nr" id="mobile_nr" placeholder="Telefonnummer">
                    <br>
                    <br>
                    <input type="text" required name="adress" id="adress" placeholder="Adresse">
                    <br>
                    <br>
                    <input type="text" required name="personal_number" id="personal_number" placeholder="Fødsels- og personnummer">
                </div>
                <br>
                <div class="time">
                    <label for="">Kontonummer</label>
                    <br>
                    <input type="text" required name="account_number" id="account_number" placeholder="Kontonummer for mottak av oppgjør">
                </div>
            </div>
            <div class="form-actions">
                <button type="submit" name="contactInfo" value="contactInfo">Lagre</button>
                </div>
          </form>

        <form action="" method="POST" id="carDetailsForm" >
            {% csrf_token %}
            <input type="hidden" name="car_id" value="{{ car.id }}">
            <div onclick="carDetailsClose()" class="close"><i class="fa-solid fa-x"></i>Lukk</div>
            <br>
            <h1>Bil-detaljer</h1>
            <br>
            <div class="inputs-labels">
                <div class="time">
                    <label for="">Om bilen</label>
                    <input type="checkbox" checked="stepTwo" name="stepTwo" style="display: none;">
                    <br>
                    <input type="text" name="reg_nr" id="reg_nr" placeholder="Registreringsnummer">
                    <br>
                    <br>
                    <input type="text" name="km" id="km" placeholder="Kilometerstand">
                    <br>
                    <br>
                    <input type="text" name="owners" id="owners" placeholder="Antall eiere">
                    <br>
                    <br>
                    <input type="text" name="bruktimportert" id="bruktimportert" placeholder="Bruktimportert (ja/nei)">
                    <br>
                    <br>
                    <input type="text" name="demobil" id="demobil" placeholder="Demobil (ja/nei)">
                </div>
            </div>
            <div class="form-actions">
                <button type="submit" name="carDetails" value="carDetails">Lagre</button>
                </div>
          </form>

        <form action="" method="POST" id="toolsForm" >
            {% csrf_token %}
            <div onclick="toolsClose()" class="close"><i class="fa-solid fa-x"></i>Lukk</div>
            <br>
            <h1>Utstyrsliste</h1>
            <input type="checkbox" checked="stepThree" name="stepThree" style="display: none;">
            <br>
            <div class="inputs-labels">
                <div class="time">
                    <label for="">Last opp vedlegg </label>
                    <br>
                    <input type="file" name="file_tools" id="file_tools" placeholder="Last opp vedlegg">
                </div>
                <br>
                <div class="time">
                    <label for="">Fyll ut manuelt</label>
                    <br>
                    <textarea type="text" name="manual_tools" id="manual_tools" style="min-height: 110px; max-height: 180px;" placeholder="Ha punktene under hverandre"></textarea>
                </div>
            </div>
            <div class="form-actions">
                <button type="submit" name="tools" value="tools">Lagre</button>
                </div>
          </form>

        <form action="" method="POST" id="serviceForm" >
            {% csrf_token %}
            <div onclick="serviceClose()" class="close"><i class="fa-solid fa-x"></i>Lukk</div>
            <br>
            <h1>Servicehistorikk</h1>
            <br>
            <div class="inputs-labels">
                <div class="time">
                    <label for="">Last opp verkstedshistorikk</label>
                    <br>
                    <input type="file" name="" id="" placeholder="Last opp verkstedshistorikk">
                </div>
                <br>
                <div class="time">
                    <label for="">Last opp service historikk</label>
                    <br>
                    <input type="file" name="" id="" placeholder="Last opp service historikk">
                </div>
                <br>
                <div class="time">
                    <label for="">Neste service</label>
                    <br>
                    <div class="icon-input">
                        <input type="text" required name="service_date" id="service_date" placeholder="Velg dato">
                        <i class="fa-regular fa-calendar-lines"></i>
                      </div>
                </div>
            </div>
            <div class="form-actions">
                <button type="submit" name="make_bid" value="make_bid">Lagre</button>
                </div>
          </form>
          
        <form action="" method="POST" id="garantiForm" >
            {% csrf_token %}
            <div onclick="garantiClose()" class="close"><i class="fa-solid fa-x"></i>Lukk</div>
            <br>
            <h1>Garantier</h1>
            <br>
            <div class="inputs-labels">
                <div class="time">
                    <label for="">Resterende garantier</label>
                    <br>
                    <input type="text" name="" id="" placeholder="Ingen garantier igjen (ja/nei)">
                    <br>
                    <br>
                    <input type="text" name="" id="" placeholder="Nybil garanti (ja/nei)">
                </div>
                <br>
                <div class="time">
                    <label for="">Om bilen</label>
                    <br>
                    <input type="text" name="" id="" placeholder="Batteri (varighet)">
                    <br>
                    <br>
                    <input type="text" name="" id="" placeholder="Karrosseri">
                    <br>
                    <br>
                    <input type="text" name="" id="" placeholder="Drivverk">
                </div>
            </div>
            <div class="form-actions">
                <button type="submit" name="make_bid" value="make_bid">Lagre</button>
                </div>
          </form>
    </div>
</div>



<script>
    document.addEventListener('DOMContentLoaded', function() {

      flatpickr("#service_date", {
  enable: [
    function(date) {
      return date
    }
    // Add other date restrictions here
  ],
  enableTime: false,
  minDate: 'today',
  altInput: true,
  altFormat: "j F, Y",
});
});
</script>


<script type="text/javascript">
    function contactInfo(){
     document.getElementById('kontaktForm').classList.add('active')
     document.getElementById('overlay').style.display = 'block';
   }
    function contactInfoClose(){
     document.getElementById('kontaktForm').classList.remove('active')
     document.getElementById('overlay').style.display = 'none';
   }

    function carDetails(){
     document.getElementById('carDetailsForm').classList.add('active')
     document.getElementById('overlay').style.display = 'block';
   }
    function carDetailsClose(){
     document.getElementById('carDetailsForm').classList.remove('active')
     document.getElementById('overlay').style.display = 'none';
   }

    function tools(){
     document.getElementById('toolsForm').classList.add('active')
     document.getElementById('overlay').style.display = 'block';
   }
    function toolsClose(){
     document.getElementById('toolsForm').classList.remove('active')
     document.getElementById('overlay').style.display = 'none';
   }

    function service(){
     document.getElementById('serviceForm').classList.add('active')
     document.getElementById('overlay').style.display = 'block';
   }
    function serviceClose(){
     document.getElementById('serviceForm').classList.remove('active')
     document.getElementById('overlay').style.display = 'none';
   }

    function garanti(){
     document.getElementById('garantiForm').classList.add('active')
     document.getElementById('overlay').style.display = 'block';
   }
    function garantiClose(){
     document.getElementById('garantiForm').classList.remove('active')
     document.getElementById('overlay').style.display = 'none';
   }
</script>


<div class="account-footer-mob">
    <p>&#169; 2023 Bilmeglerne.no AS</p>
</div>
{% endblock %}