{% extends 'core/base.html' %}    
{% load static %}    
    

{% block content %}
{% block head %}
<title>Hjelp</title>
<meta name="author" content="Innlandet Søk">
<meta property="og:type" content="website">
<meta property="og:url" content="{{ request.get_full_path }}">
{% endblock %}

<link rel="stylesheet" href="{% static '/scss/userprofile/myaccount.css' %}" type="text/css">
<link rel="stylesheet" href="{% static '/scss/pages/page.css' %}" type="text/css">
<link rel="stylesheet" href="{% static '/scss/userprofile/account/user-help.css' %}" type="text/css">
<script rel="stylesheet" src="{% static '/js/myaccount.js' %}" type="text/javascript"></script>



<div class="page">
    <div class="cover">
        <div class="content">
            <div class="text">
                <h1>Trenger du hjelp?</h1>
                <div class="back" onclick="window.location.href='/min-bruker/'">
                    <i class="fa-solid fa-angle-left arrow"></i>
                    <h1>Tilbake</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="section">
        <h1>Kontaktskjema</h1>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% if sucess %}
            <div class="alert alert-success">
                {{sucess}}
            </div>
            {% endif %}
            <div class="inputs-labels">
    
                <label for="navn">Navn</label>
                <br>
                <input type="text" name="name" id="name" value="{{request.user.get_full_name}}">
                <br>
                <br>
    
                <label for="navn">Epost</label>
                <br>
                <input type="email" name="email" id="email" value="{{request.user.username}}">
                <br>
                <br>
    
                <label for="navn">Hvordan kan vi hjelpe deg?</label>
                <br>
                <textarea type="text" name="message" id="message"></textarea>
                <br>
            </div>
            <div class="form-actions">
                <button type="submit">Send</button>
            </div>
        </form>
    </div>
</div>

{% endblock %}