{% extends 'core/base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static '/scss/userprofile/myaccount.css' %}" type="text/css">
<link rel="stylesheet" href="{% static '/scss/userprofile/account/my-bid.css' %}" type="text/css">
<script rel="stylesheet" src="{% static '/js/account.js' %}" type="text/javascript"></script>
<link rel="stylesheet" href="{% static '/scss/pages/page.css' %}" type="text/css">

<div class="account-nav-mob">
    <div class="logo" onclick="window.location.href='/min-bruker/'">
        <img src="{% static 'images/logo/logo2.png' %}" alt="" class="logo-image">
    </div>
    <div class="hamburger" id="Acnthamburger" onclick="Acntmenu()">
        <span class="upper-span"></span>
        <span class="center-span"></span>
        <span class="lower-span"></span>
    </div>
    <div class="sidebar" id="Acntsidebar">
        <a href="/">Tilbake hjem<i class="fa-solid fa-angle-right"></i></a>
        <a href="/min-bruker/mine-annonser/">Mine annonser<i class="fa-solid fa-angle-right"></i></a>
        <a href="/min-bruker/mine-bud/">Mine bud<i class="fa-solid fa-angle-right"></i></a>
        <a href="/min-bruker/mine-kjøp/">Mine Kjøp<i class="fa-solid fa-angle-right"></i></a>
        <a href="/min-bruker/kommende-visninger/">Kommende visninger<i class="fa-solid fa-angle-right"></i></a>
        <a href="/min-bruker/rediger-min-info/">Endre min info<i class="fa-solid fa-angle-right"></i></a>
    </div>
</div>

<div class="myaccount">
    <div class="text">
        <h1 class="heading">Mine bud</h1>
    </div>
    <br>

    <div class="bids">
        {% for bud in bud %}
    

        {% if bud.days_until_expiry == 0 %}
        <div class="bid expired" id="bid">
            <h1 class="name">{{bud.car.name}} <span>{{ bud.days_until_expiry }} {% if bud.days_until_expiry == 1 %} dag igjen {% else %} dager igjen {% endif %}</span></h1>
            <p class="price">{{bud.bid_amount}}kr</p>
                       
            <div class="status">
             <p>Utløpt</p>
            </div>
        </div>
        {% else %}
        <div class="bid" id="bid">
            <h1 class="name">{{bud.car.name}} <span>{{ bud.days_until_expiry }} {% if bud.days_until_expiry == 1 %} dag igjen {% else %} dager igjen {% endif %}</span></h1>
            <p class="price">{{bud.bid_amount}}kr</p>
                       
            <div class="status">
                {% if bud.status == 'pending' %}
                <p>Venter på selger</p>
                {% endif %}
                {% if bud.status == 'accepted' %}
                <p>Akseptert</p>
                {% endif %}
                {% if bud.status == 'declined' %}
                <p>Avslått</p>
                {% endif %}
            </div>
        </div>
        {% endif %}

        {% empty %}
        <h1 style="color: #1F1F1F; font-size: 22px; font-weight: 500; padding-top: 0; text-align: center;">Ingen bud enda...</h1>
        {% endfor %}
    </div>
    
</div>


<div class="account-footer-mob">
    <p>&#169; 2023 Bilmeglerne AS</p>
</div>



<script type="text/javascript">

</script>
{% endblock %}