{% extends 'core/base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static '/scss/userprofile/myaccount.css' %}" type="text/css">
<link rel="stylesheet" href="{% static '/scss/userprofile/account/car.css' %}" type="text/css">
<script rel="stylesheet" src="{% static '/js/account.js' %}" type="text/javascript"></script>
<link rel="stylesheet" href="{% static '/scss/pages/page.css' %}" type="text/css">

<div class="account-nav-mob">
    <div class="logo" onclick="window.location.href='/min-bruker/'">
        <img src="{% static 'images/logo/logo2.png' %}" alt="" class="logo-image">
    </div>
    <div class="hamburger" id="Acnthamburger" onclick="Acntmenu()">
        <span class="upper-span"></span>
        <span class="center-span"></span>
        <span class="lower-span"></span>
    </div>
    <div class="sidebar" id="Acntsidebar">
      <a href="/">Tilbake hjem<i class="fa-solid fa-angle-right"></i></a>
      <a href="/min-bruker/mine-annonser/">Mine annonser<i class="fa-solid fa-angle-right"></i></a>
      <a href="/min-bruker/mine-bud/">Mine bud<i class="fa-solid fa-angle-right"></i></a>
      <a href="/min-bruker/mine-kjøp/">Mine Kjøp<i class="fa-solid fa-angle-right"></i></a>
      <a href="/min-bruker/kommende-visninger/">Kommende visninger<i class="fa-solid fa-angle-right"></i></a>
      <a href="/min-bruker/rediger-min-info/">Endre min info<i class="fa-solid fa-angle-right"></i></a>
  </div>
</div>

<div class="myaccount">

<div class="account-card">
    <div class="text">
        <h1 class="heading">Mine annonser</h1>
    </div>
  </div>

    {% for car in cars_with_bids %}
    <div class="user-cars">
      <div class="car">
        <img src="{{car.image1.url}}" alt="" class="car-image" onclick="window.location.href='{% url  'car_detail' car.slug  %}'">
        <div class="flex">
          {% if car.days_until_expiry > 0 %}
            {% if car.highest_bid_instance == 'accepted' %}
            <div class="status" id="status" style="background: #ffc876;">Solgt for {{ car.highest_bid }}kr</div>
            {% else %}
            <div class="status" id="status">Aktiv</div>
            <div class="time-left">{{car.days_until_expiry}} dager igjen</div>
            {% endif %}
  
            {% else %}
            <div class="status" id="status" style="background: #ff8686;">Uaktiv</div>
            <div class="time-left">{{car.days_until_expiry}} dager igjen</div>
          {% endif %}
        </div>
  
        <div class="name">{{car.name}}</div>
        
        {% if car.highest_bid_instance == 'pending' %}
        <hr>

        <div class="bids">
          <h1>Høyeste bud</h1>
          {% if car.highest_bid %}
          <div class="flex">
            <div class="price">{{ car.highest_bid }}kr</div>
            <div class="time-left">{{car.remaining_days}} dager igjen</div>
          </div>
          {% if car.highest_bid_instance == 'pending' %}
          <div class="actions">
            <button onclick="window.location.href='{% url 'accept_highest_bid' car.id %}'" style="margin-bottom: 10px; background: #44cf5b;;">Aksepter bud</button>
            <button onclick="window.location.href='{% url 'decline_highest_bid' car.id %}'" style="background: #ff5e5e;">Avslå bud</button>
          </div>
          {% endif %}
        {% endif %}

        </div>

        {% else %}
        {% endif %}

        {% if car.highest_bid %}
        {% else %}
        <div class="bids">
          <h1 style="margin-top: 17px; margin-bottom: -20px;">Ingen bud enda...</h1>
        </div>
        {% endif %}

        <hr style="margin-top: 40px;">
      </div>

    </div>
    {% empty %}
    <h1 style="color: #1F1F1F; font-size: 22px; font-weight: 500; padding-top: 25px; text-align: center;">Ingen annonser enda...</h1>
    {% endfor %}
</div>



<div class="account-footer-mob">
    <p>&#169; 2023 Bilmeglerne AS</p>
</div>


{% endblock %}







{% if bud.status == 'pending' %}
<form method="post" action="{% url 'accept_bid' bud.id %}">
  {% csrf_token %}
  <button type="submit">Accept Bid</button>
</form>
<form method="post" action="{% url 'decline_bid' bud.id %}">
  {% csrf_token %}
  <button type="submit">Decline Bid</button>
</form>
{% endif %}


for car in request.user.cars.all
  
{% for bud in car.bud_set.all %}
<li>{{ bud.bidder_name }}: ${{ bud.bid_amount }} ({{ bud.days_until_expiry }})</li>
<hr>
{{bud.status}} 
<br>

<hr>
{% endfor %}