{% extends 'core/base.html' %}    
{% load static %}    
    

{% block content %}
{% block head %}
<title>Mine vurderinger</title>
<meta name="author" content="Innlandet Søk">
<meta property="og:type" content="website">
<meta property="og:url" content="{{ request.get_full_path }}">
{% endblock %}

<link rel="stylesheet" href="{% static '/scss/userprofile/myaccount.css' %}" type="text/css">
<script rel="stylesheet" src="{% static '/js/myaccount.js' %}" type="text/javascript"></script>
<link rel="stylesheet" href="{% static '/scss/pages/page.css' %}" type="text/css">
<link rel="stylesheet" href="{% static '/scss/userprofile/account/vurderinger.css' %}" type="text/css">



<div class="page">
    <div class="cover">
        <div class="content">
            <div class="text">
                <h1>Mine vurderinger</h1>
                <div class="back" onclick="window.location.href='/min-bruker/'">
                    <i class="fa-solid fa-angle-left arrow"></i>
                    <h1>Tilbake</h1>
                </div>
            </div>
        </div>
    </div>

    <div class="section">

      {% if user_reviews %}
        {% for review in user_reviews %}
          <div id="reviewCard">
            <div class="stars"><p>
              {% if review.stars == 1 %}
              <i class="fa-solid fa-star"></i>
              <i class="fa-regular fa-star"></i>
              <i class="fa-regular fa-star"></i>
              <i class="fa-regular fa-star"></i>
              <i class="fa-regular fa-star"></i>
              {% endif %}
              {% if review.stars == 2 %}
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-regular fa-star"></i>
              <i class="fa-regular fa-star"></i>
              <i class="fa-regular fa-star"></i>
              {% endif %}
              {% if review.stars == 3 %}
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-regular fa-star"></i>
              <i class="fa-regular fa-star"></i>
              {% endif %}
              {% if review.stars == 4 %}
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-regular fa-star"></i>
              {% endif %}
              {% if review.stars == 5 %}
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              {% endif %}
            
            </div>
            <h1 class="title">{{ review.title }}</h1>
            <p class="date">Skrevet: {{ review.created_at|date:"d-m-Y" }}</p>
            <p class="content">{{ review.content }}</p>
            <br>
            {% if review.is_conf %}
            <p class="conf"><i class="fa-solid fa-circle-check"></i>Vurderingen har blitt bekrefta</p>
            {% endif %}
          </div>
        {% endfor %}
        {% else %}
            <h1 class="no-reviews">Du har ikke publisert noen vurderinger enda.</h1>
        {% endif %}
    </div>

</div>

{% endblock %}