{% extends 'core/base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static '/scss/pages/book.css' %}" type="text/css">

<div class="page">
    <div class="cover">
        <div class="content">
            <div class="text">
                <h1 class="cover-h1">Vi gleder oss å se deg som kunde</h1>
                <p class="cover-p">Bare noen få steg igjen!</p>
            </div>  
        </div>
    </div>

    {% for date in booked_dates %}
    <li>{{ date }}</li>
{% endfor %}
</ul>
<h2>Book a Date:</h2>
<form method="post">
{% csrf_token %}
{{ form }}
<button type="submit">Book</button>
</form>
</div>
    
</div>
{% endblock %}