/* admin_custom.css */

/* Style the inline form to display labels above fields */
.inline-group .form-row {
    display: block;
    margin-bottom: 10px;
}

/* Style the label tag */
.field-box label {
    display: block;
}

/* Adjust the width for the input fields */
.field-box input {
    width: 100%;
}
