$black: #1F1F1F;
$white: rgb(246,246,246);
$primBtn: #edb519;
$txt: #183b56;


.cover{
    width: 100%;
    min-height: max-content;
    position: relative;
    padding-bottom: 5px;
    background: linear-gradient(to bottom right, #fff4d995, #fff9e895, transparent);
    // background: linear-gradient(to bottom right, #edb519, #fec21b);

    .content{
      padding-inline: 20px;
      padding-top: 85px;
      padding-bottom: 45px;
      height: max-content;
      position: relative;
      #onlyOnMob{
        display: block;
      }
      #onlyOnDes{
        display: none;
      }
      .cover-image{
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        top: 0;
        width: 100%;
        height: 100%;
        filter: brightness(89%);
        border-radius: 50px;
        border-bottom-right-radius: 5px;
        margin-top: 35px;
    }
      .text{
        text-align: left;
        margin-top: 28px;
        .cover-h1{
          color: $black;
          font-size: 32px;
          font-weight: 600;
          margin-bottom: 10px;
        }
        .cover-p{
          font-size: 18px;
          margin-bottom: 0;
          color: $black;
          font-weight: 500;
        }
      }
      .cover-actions{
        margin-top: 24px;
        width: 100%;
        text-align: center;
        button{
          border: 1px solid transparent;
          border-radius: 7px;
          outline: none;
          background: $primBtn;
          color: white;
          font-weight: 500;
          font-size: 17px;
          width: 100%;
          display: block;
          height: 43px;
          margin-top: 15px;
          &.secondary{
            border-color: $primBtn;
            color: $primBtn;
            background: white;
            margin-right: 0;
          }
        }
      }
    }
}


.houses{
  width: 100%;
  height: auto;
  padding-block: 50px;
  padding-top: 40px;
  position: relative;
  .content{
    padding-inline: 20px;
    position: relative;
    .text{
      text-align: left;
      margin-top: 28px;
      h1{
        color: $black;
        font-size: 27px;
        font-weight: 600;
        margin-bottom: 15px;
      }
      p{
        color: $black;
        font-size: 17px;
      }
    }
    .houses-cards{
      margin-top: 20px;
      display: flex;
      overflow-x: scroll;
      padding-bottom: 30px;
      position: relative;
      &::-webkit-scrollbar{
          height: 3px;
          display: none;
      }
      &::-webkit-scrollbar-thumb{
          border-radius: 10px;
          background-color: rgba(130, 130, 130, 0.2);
      }
      .house{
        min-width: 205px;
        max-width: 205px;
        height: min-content;
        margin: 0 25px;
        padding: 0;
        position: relative;
        transition: .2s;
        cursor: pointer;
        .house-image{
          width: 100%;
          height: auto;
          object-fit: cover;
          filter: brightness(90%);
          border-radius: 4px
        }
        .reviews{
          display: flex;
          margin-block: 3px;
          p{
            margin-bottom: 0;
            color: #FFBC55;
            font-size: 12px;
            margin-top: 1px;
            i{
              transform: translateY(-0.9px);
              margin-right: 3px;
              font-size: 11px;
            }
          }
          span{
            color: rgb(170, 170, 170);
            font-size: 11px;
            transform: translateX(4px) translateY(2px);
          }
        }
        .name{
          font-size: 17px;
          color: $txt;
          margin-bottom: 1px;
          font-weight: 500;
          margin-top: 10px;
        }
        .adress{
          font-size: 12px;
          color: $txt;
          opacity: 0.85;
          font-weight: 500;
        }
        &:first-child{
          margin-left: 0;
        }
        &:hover{
          .name{
            text-decoration: underline;
          }
          .house-image{
            transition: .2s;
            filter: brightness(85%);
          }
        }
      }
    }
    button{
      margin-top: 28px;
      background: $primBtn;
      width: 100%;
      max-width: 420px;
      height: 44px;
      border-radius: 25px;
      outline: none;
      border: none;
      color: white;
    }
  }
}


.about{
  width: 100%;
  height: auto;
  padding-block: 50px;
  padding-top: 20px;
  position: relative;
  .content{
    padding-inline: 20px;
    position: relative;
    .text{
      text-align: left;
      margin-top: 28px;
      h1{
        color: $black;
        font-size: 27px;
        font-weight: 600;
        margin-bottom: 15px;
      }
      p{
        color: $black;
        font-size: 17px;
      }
    }
    img{
      width: 100%;
      height: auto;
      border-radius: 10px;
    }
  }
}


.rent-house{
  width: 100%;
  height: auto;
  padding-block: 50px;
  padding-top: 20px;
  position: relative;
  background: $primBtn;
  .content{
    padding-inline: 20px;
    position: relative;
    .text{
      text-align: center;
      margin-top: 28px;
      h1{
        color: white;
        font-size: 27px;
        font-weight: 600;
        margin-bottom: 15px;
      }
      p{
        color: $black;
        font-size: 17px;
      }
    }
    form{
      width: 100%;
      height: auto;
      padding: 22px;
      background: white;
      border-radius: 8px;
      margin-top: 20px;
      label{
        color: $black;
        font-weight: 500;
        font-size: 17px;
      }
      input{
        width: 100%;
        height: 45px;
        color: $black;
        font-size: 17px;
        padding: 4px 10px;
        border: 1px solid lightgray;
        border-radius: 4px;
        outline: none;
      }
      button{
        background: $primBtn;
        width: 100%;
        height: 45px;
        color: white;
        border: 1px solid $primBtn;
        outline: none;
        border-radius: 7px;
        margin-top: 20px;
      }
    }
  }
}


.proccess{
  width: 100%;
  height: auto;
  padding-block: 50px;
  padding-top: 20px;
  position: relative;
  .content{
    padding-inline: 20px;
    position: relative;
    .text{
      text-align: left;
      margin-top: 28px;
      h1{
        color: $black;
        font-size: 27px;
        font-weight: 600;
        margin-bottom: 15px;
      }
      p{
        color: $black;
        font-size: 17px;
      }
    }
    .cards{
      position: relative;
      width: 100%;
      margin-top: 20px;
      .card{
          padding: 14px 12px;
          margin-top: 0;
          margin-bottom: 35px !important;
          background: #f8bd192e;
          border-radius: 7px; 
          text-align: center;
          width: 100%;
          max-width: 410px;
          h1{
              color: $txt;
              font-size: 22px;
          }   
          .number{
              font-size: 17px;
              color: $txt;
              opacity: 0.8;
              background: #f8bd196e;
              max-width: max-content;
              height: max-content;
              padding: 6px 14px;
              border-radius: 100%;
              margin-left: auto;
              margin-bottom: 15px;
          }
      }
  }
  }
}


.location{
  width: 100%;
  height: auto;
  padding-block: 50px;
  padding-top: 20px;
  position: relative;
  .content{
    padding-inline: 20px;
    position: relative;
    .text{
      text-align: left;
      margin-top: 28px;
      h1{
        color: $black;
        font-size: 27px;
        font-weight: 600;
        margin-bottom: 15px;
      }
      p{
        color: $black;
        font-size: 17px;
      }
    }
    .map{
      width: 100%;
      height: 340px;
    }
  }
}





.faq{
  width: 100%;
  height: auto;
  padding-block: 50px;
  padding-top: 20px;
  position: relative;
  .content{
    padding-inline: 20px;
    position: relative;
    .text{
      text-align: left;
      margin-top: 28px;
      h1{
        color: $black;
        font-size: 27px;
        font-weight: 600;
        margin-bottom: 30px;
      }
    }
    .ask{
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-bottom: 1px solid lightgray;
      width: 100%;
      height: max-content;
      position: relative;
      padding-block: 25px;
      p{
        color: $black;
        font-weight: 500;
        margin-bottom: 0;
        font-size: 20px;
      }
      svg{
        color: $black;
        font-size: 41px !important;
        min-width: 35px !important;
        min-height: 41px !important;
        max-width: 35px !important;
        max-height: 41px !important;
        padding: 8px;
        margin: -8px;
      }
      .plus{
        display: block;
      }
      .minus{
        display: none;
      }
    }
    .answer{
      padding: 8px;
      transform: translateY(0);
      margin-top: 0px;
      border-radius: 2px;
      height: 0;
      transition: .2s;
      pointer-events: none;
      opacity: 0;
      &.active{
        pointer-events: visible;
        opacity: 1;
        height: 140px;
      }
      p{
        font-size: 16px;
        font-weight: 500;
        color: $black;
      }
    }
  }
}



@media only screen and (min-device-width: 1140px) {

#desNav{
  background: white;
}

  .cover{
    width: 100%;
    min-height: 650px;
    margin-bottom: 20px;
    position: relative;
    padding-bottom: 5px;
    background: linear-gradient(to bottom right, rgba(165, 231, 163, 0.185), transparent);
    .content{
      padding-inline: 35px;
      padding-top: 120px;
      padding-bottom: 90px;
      height: 560px;
      display: flex;
      justify-content: space-between;
      overflow: hidden !important;
      position: relative;

      .text{
        text-align: left;
        margin-top: 55px;
        position: relative;
        z-index: 10;
        .cover-h1{
          color: $black;
          font-size: 42px;
          font-weight: 600;
          margin-bottom: 10px;
        }
        .cover-p{
          font-size: 20px;
          margin-bottom: 0;
          color: $black;
          font-weight: 500;
          width: 400px;
        }
      }
      .cover-actions{
        margin-top: 24px;
        width: 100%;
        text-align: center;
        button{
          border: 1px solid transparent;
          border-radius: 6px;
          outline: none;
          background: $primBtn;
          color: white;
          font-weight: 500;
          font-size: 17px;
          width: 415px;
          display: block;
          height: 52px;
          &.secondary{
            border-color: $primBtn;
            color: $primBtn;
            background: white;
            margin-right: 0;
            margin-top: 15px;
          }
        }
      }
    }
  }






  .faq{
    width: 100%;
    height: auto;
    padding-block: 70px;
    padding-top: 50px;
    position: relative;
    .content{
      padding-inline: 20px;
      position: relative;
      .text{
        text-align: center;
        margin-top: 0;
        margin-bottom: 20px;
        h1{
          color: $black;
          font-size: 34px;
          font-weight: 600;
          margin-bottom: 30px;
        }
      }
      .ask{
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid lightgray;
        height: max-content;
        position: relative;
        width: 540px;
        margin-inline: auto;
        cursor: pointer;
        padding-block: 30px;
        p{
          color: $black;
          font-weight: 500;
          margin-bottom: 0;
          font-size: 22px;
          padding-right: 105px;
        }
        svg{
          color: $black;
          font-size: 41px;
          padding: 8px;
          margin: -8px;
        }
        .plus{
          display: block;
        }
        .minus{
          display: none;
        }
      }
      .answer{
        padding: 8px;
        border-radius: 2px;
        height: 0;
        transition: .2s;
        pointer-events: none;
        opacity: 0;
        width: 540px;
        margin-inline: auto;
        transform: translateY(-15px);
        &.active{
          pointer-events: visible;
          margin-top: 10px;
          opacity: 1;
          height: 140px;
        }
        p{
          font-size: 16px;
          font-weight: 500;
          color: $black;
        }
      }
    }
  }
}


@media only screen and (min-device-width: 1290px) {
  .cover{
    width: 100%;
    max-height: 670px;
    margin-bottom: 20px;
    position: relative;
    padding-bottom: 5px;
    background: linear-gradient(to bottom right, rgba(165, 231, 163, 0.185), transparent);
    .content{
      padding-inline: 35px;
      padding-top: 160px;
      padding-bottom: 350px;
      height: max-content;
      position: relative;
      display: flex;
      justify-content: space-between;
      margin-inline: auto;
      .text{
        text-align: left;
        margin-top: 28px;
        .cover-h1{
          color: $black;
          font-size: 46px;
          font-weight: 600;
          margin-bottom: 10px;
        }
        .cover-p{
          font-size: 22px;
          margin-bottom: 0;
          color: $black;
          font-weight: 500;
          width: 440px;
        }
      }
      .cover-actions{
        margin-top: 24px;
        width: 100%;
        text-align: center;
        button{
          border: 1px solid transparent;
          border-radius: 6px;
          outline: none;
          background: $primBtn;
          color: white;
          font-weight: 500;
          font-size: 17px;
          width: 425px;
          display: block;
          height: 54px;
          &.secondary{
            border-color: $primBtn;
            color: $primBtn;
            background: white;
            margin-right: 0;
            margin-top: 15px;
          }
        }
      }
    }
  }

  .faq{
    width: 100%;
    height: auto;
    padding-block: 90px;
    padding-top: 70px;
    position: relative;
    .content{
      padding-inline: 20px;
      position: relative;
      .text{
        text-align: center;
        margin-top: 0;
        margin-bottom: 20px;
        h1{
          color: $black;
          font-size: 34px;
          font-weight: 600;
          margin-bottom: 30px;
        }
      }
      .ask{
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid lightgray;
        height: max-content;
        position: relative;
        width: 640px;
        margin-inline: auto;
        cursor: pointer;
        padding-block: 30px;
        p{
          color: $black;
          font-weight: 500;
          margin-bottom: 0;
          font-size: 22px;
          padding-right: 65px;
        }
        svg{
          color: $black;
          font-size: 41px;
          padding: 8px;
          margin: -8px;
        }
        .plus{
          display: block;
        }
        .minus{
          display: none;
        }
      }
      .answer{
        padding: 8px;
        transform: translateY(-15px);
        border-radius: 2px;
        height: 0;
        transition: .2s;
        pointer-events: none;
        opacity: 0;
        width: 640px;
        margin-inline: auto;
        &.active{
          pointer-events: visible;
          opacity: 1;
          height: 140px;
        }
        p{
          font-size: 16px;
          font-weight: 500;
          color: $black;
        }
      }
    }
  }
}