.cover {
  width: 100%;
  min-height: -moz-max-content;
  min-height: max-content;
  position: relative;
  padding-bottom: 5px;
  background: linear-gradient(to bottom right, rgba(255, 243, 214, 0.5843137255), transparent);
}
.cover .cover-image {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  filter: brightness(38%);
}
.cover .content {
  padding-inline: 20px;
  padding-top: 95px;
  padding-bottom: 45px;
  height: -moz-max-content;
  height: max-content;
  position: relative;
}
.cover .content #onlyOnMob {
  display: block;
}
.cover .content #onlyOnDes {
  display: none;
}
.cover .content .text {
  text-align: left;
  margin-top: 28px;
}
.cover .content .text .cover-h1 {
  color: white;
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 10px;
}
.cover .content .text .cover-p {
  font-size: 18px;
  margin-bottom: 0;
  color: white;
  font-weight: 500;
}
.cover .content .cover-actions {
  margin-top: 24px;
  width: 100%;
  text-align: center;
}
.cover .content .cover-actions button {
  border: 1px solid transparent;
  border-radius: 7px;
  outline: none;
  background: #f6b00c;
  color: white;
  font-weight: 500;
  font-size: 17px;
  width: 100%;
  display: block;
  height: 47px;
}
.cover .content .cover-actions button.secondary {
  border-color: #f6b00c;
  color: #f6b00c;
  background: white;
  margin-right: 0;
  margin-top: 15px;
}

.houses {
  width: 100%;
  height: auto;
  padding-block: 50px;
  padding-top: 40px;
  position: relative;
}
.houses .content {
  padding-inline: 20px;
  position: relative;
}
.houses .content .text {
  text-align: left;
  margin-top: 28px;
}
.houses .content .text h1 {
  color: #1F1F1F;
  font-size: 27px;
  font-weight: 600;
  margin-bottom: 15px;
}
.houses .content .text p {
  color: #1F1F1F;
  font-size: 17px;
}
.houses .content .houses-cards {
  margin-top: 20px;
  display: flex;
  overflow-x: scroll;
  padding-bottom: 30px;
  position: relative;
}
.houses .content .houses-cards::-webkit-scrollbar {
  height: 3px;
  display: none;
}
.houses .content .houses-cards::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgba(130, 130, 130, 0.2);
}
.houses .content .houses-cards .house {
  min-width: 205px;
  max-width: 205px;
  height: -moz-min-content;
  height: min-content;
  margin: 0 25px;
  padding: 0;
  position: relative;
  transition: 0.2s;
  cursor: pointer;
}
.houses .content .houses-cards .house .house-image {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  filter: brightness(90%);
  border-radius: 4px;
}
.houses .content .houses-cards .house .reviews {
  display: flex;
  margin-block: 3px;
}
.houses .content .houses-cards .house .reviews p {
  margin-bottom: 0;
  color: #FFBC55;
  font-size: 12px;
  margin-top: 1px;
}
.houses .content .houses-cards .house .reviews p i {
  transform: translateY(-0.9px);
  margin-right: 3px;
  font-size: 11px;
}
.houses .content .houses-cards .house .reviews span {
  color: rgb(170, 170, 170);
  font-size: 11px;
  transform: translateX(4px) translateY(2px);
}
.houses .content .houses-cards .house .name {
  font-size: 17px;
  color: #183b56;
  margin-bottom: 1px;
  font-weight: 500;
  margin-top: 10px;
}
.houses .content .houses-cards .house .adress {
  font-size: 12px;
  color: #183b56;
  opacity: 0.85;
  font-weight: 500;
}
.houses .content .houses-cards .house:first-child {
  margin-left: 0;
}
.houses .content .houses-cards .house:hover .name {
  text-decoration: underline;
}
.houses .content .houses-cards .house:hover .house-image {
  transition: 0.2s;
  filter: brightness(85%);
}
.houses .content button {
  margin-top: 28px;
  background: #f6b00c;
  width: 100%;
  max-width: 420px;
  height: 44px;
  border-radius: 25px;
  outline: none;
  border: none;
  color: white;
}

.about {
  width: 100%;
  height: auto;
  padding-block: 50px;
  padding-top: 20px;
  position: relative;
}
.about .content {
  padding-inline: 20px;
  position: relative;
}
.about .content .text {
  text-align: left;
  margin-top: 28px;
}
.about .content .text h1 {
  color: #1F1F1F;
  font-size: 27px;
  font-weight: 600;
  margin-bottom: 15px;
}
.about .content .text p {
  color: #1F1F1F;
  font-size: 17px;
}
.about .content img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.rent-house {
  width: 100%;
  height: auto;
  padding-block: 50px;
  padding-top: 20px;
  position: relative;
}
.rent-house .content {
  padding-inline: 20px;
  position: relative;
}
.rent-house .content .text {
  text-align: left;
  margin-top: 28px;
}
.rent-house .content .text h1 {
  color: #1F1F1F;
  font-size: 27px;
  font-weight: 600;
  margin-bottom: 15px;
}
.rent-house .content .text p {
  color: #1F1F1F;
  font-size: 17px;
}

.proccess {
  width: 100%;
  height: auto;
  padding-block: 50px;
  padding-top: 20px;
  position: relative;
}
.proccess .content {
  padding-inline: 20px;
  position: relative;
}
.proccess .content .text {
  text-align: left;
  margin-top: 28px;
}
.proccess .content .text h1 {
  color: #1F1F1F;
  font-size: 27px;
  font-weight: 600;
  margin-bottom: 15px;
}
.proccess .content .text p {
  color: #1F1F1F;
  font-size: 17px;
}
.proccess .content .cards {
  position: relative;
  width: 100%;
  margin-top: 20px;
}
.proccess .content .cards .card {
  padding: 14px 12px;
  margin-top: 0;
  margin-bottom: 35px !important;
  background: rgba(219, 229, 160, 0.238);
  border-radius: 7px;
  text-align: center;
  width: 100%;
  max-width: 410px;
}
.proccess .content .cards .card h1 {
  color: #183b56;
  font-size: 22px;
}
.proccess .content .cards .card .number {
  font-size: 17px;
  color: #183b56;
  opacity: 0.8;
  background: rgba(214, 241, 60, 0.571);
  max-width: -moz-max-content;
  max-width: max-content;
  height: -moz-max-content;
  height: max-content;
  padding: 6px 14px;
  border-radius: 100%;
  margin-left: auto;
  margin-bottom: 15px;
}

.location {
  width: 100%;
  height: auto;
  padding-block: 50px;
  padding-top: 20px;
  position: relative;
}
.location .content {
  padding-inline: 20px;
  position: relative;
}
.location .content .text {
  text-align: left;
  margin-top: 28px;
}
.location .content .text h1 {
  color: #1F1F1F;
  font-size: 27px;
  font-weight: 600;
  margin-bottom: 15px;
}
.location .content .text p {
  color: #1F1F1F;
  font-size: 17px;
}
.location .content .map {
  width: 100%;
  height: 340px;
}

.faq {
  width: 100%;
  height: auto;
  padding-block: 50px;
  padding-top: 20px;
  position: relative;
}
.faq .content {
  padding-inline: 20px;
  position: relative;
}
.faq .content .text {
  text-align: left;
  margin-top: 28px;
}
.faq .content .text h1 {
  color: #1F1F1F;
  font-size: 27px;
  font-weight: 600;
  margin-bottom: 30px;
}
.faq .content .ask {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid lightgray;
  width: 100%;
  height: -moz-max-content;
  height: max-content;
  position: relative;
  padding-block: 25px;
}
.faq .content .ask p {
  color: #1F1F1F;
  font-weight: 500;
  margin-bottom: 0;
  font-size: 20px;
}
.faq .content .ask svg {
  color: #1F1F1F;
  font-size: 41px !important;
  min-width: 35px !important;
  min-height: 41px !important;
  max-width: 35px !important;
  max-height: 41px !important;
  padding: 8px;
  margin: -8px;
}
.faq .content .ask .plus {
  display: block;
}
.faq .content .ask .minus {
  display: none;
}
.faq .content .answer {
  padding: 8px;
  transform: translateY(0);
  margin-top: 0px;
  border-radius: 2px;
  height: 0;
  transition: 0.2s;
  pointer-events: none;
  opacity: 0;
}
.faq .content .answer.active {
  pointer-events: visible;
  opacity: 1;
  height: 140px;
}
.faq .content .answer p {
  font-size: 16px;
  font-weight: 500;
  color: #1F1F1F;
}

@media only screen and (min-device-width: 1140px) {
  #desNav {
    background: white;
  }
  .cover {
    width: 100%;
    min-height: 650px;
    margin-bottom: 20px;
    position: relative;
    padding-bottom: 5px;
    background: linear-gradient(to bottom right, rgba(165, 231, 163, 0.185), transparent);
  }
  .cover .content {
    padding-inline: 35px;
    padding-top: 120px;
    padding-bottom: 90px;
    height: 560px;
    display: flex;
    justify-content: space-between;
    overflow: hidden !important;
    position: relative;
  }
  .cover .content .text {
    text-align: left;
    margin-top: 55px;
    position: relative;
    z-index: 10;
  }
  .cover .content .text .cover-h1 {
    color: #1F1F1F;
    font-size: 42px;
    font-weight: 600;
    margin-bottom: 10px;
  }
  .cover .content .text .cover-p {
    font-size: 20px;
    margin-bottom: 0;
    color: #1F1F1F;
    font-weight: 500;
    width: 400px;
  }
  .cover .content .cover-actions {
    margin-top: 24px;
    width: 100%;
    text-align: center;
  }
  .cover .content .cover-actions button {
    border: 1px solid transparent;
    border-radius: 6px;
    outline: none;
    background: #f6b00c;
    color: white;
    font-weight: 500;
    font-size: 17px;
    width: 415px;
    display: block;
    height: 52px;
  }
  .cover .content .cover-actions button.secondary {
    border-color: #f6b00c;
    color: #f6b00c;
    background: white;
    margin-right: 0;
    margin-top: 15px;
  }
  .faq {
    width: 100%;
    height: auto;
    padding-block: 70px;
    padding-top: 50px;
    position: relative;
  }
  .faq .content {
    padding-inline: 20px;
    position: relative;
  }
  .faq .content .text {
    text-align: center;
    margin-top: 0;
    margin-bottom: 20px;
  }
  .faq .content .text h1 {
    color: #1F1F1F;
    font-size: 34px;
    font-weight: 600;
    margin-bottom: 30px;
  }
  .faq .content .ask {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid lightgray;
    height: -moz-max-content;
    height: max-content;
    position: relative;
    width: 540px;
    margin-inline: auto;
    cursor: pointer;
    padding-block: 30px;
  }
  .faq .content .ask p {
    color: #1F1F1F;
    font-weight: 500;
    margin-bottom: 0;
    font-size: 22px;
    padding-right: 105px;
  }
  .faq .content .ask svg {
    color: #1F1F1F;
    font-size: 41px;
    padding: 8px;
    margin: -8px;
  }
  .faq .content .ask .plus {
    display: block;
  }
  .faq .content .ask .minus {
    display: none;
  }
  .faq .content .answer {
    padding: 8px;
    border-radius: 2px;
    height: 0;
    transition: 0.2s;
    pointer-events: none;
    opacity: 0;
    width: 540px;
    margin-inline: auto;
    transform: translateY(-15px);
  }
  .faq .content .answer.active {
    pointer-events: visible;
    margin-top: 10px;
    opacity: 1;
    height: 140px;
  }
  .faq .content .answer p {
    font-size: 16px;
    font-weight: 500;
    color: #1F1F1F;
  }
}
@media only screen and (min-device-width: 1290px) {
  .cover {
    width: 100%;
    max-height: 670px;
    margin-bottom: 20px;
    position: relative;
    padding-bottom: 5px;
    background: linear-gradient(to bottom right, rgba(165, 231, 163, 0.185), transparent);
  }
  .cover .content {
    padding-inline: 35px;
    padding-top: 160px;
    padding-bottom: 350px;
    height: -moz-max-content;
    height: max-content;
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-inline: auto;
  }
  .cover .content .text {
    text-align: left;
    margin-top: 28px;
  }
  .cover .content .text .cover-h1 {
    color: #1F1F1F;
    font-size: 46px;
    font-weight: 600;
    margin-bottom: 10px;
  }
  .cover .content .text .cover-p {
    font-size: 22px;
    margin-bottom: 0;
    color: #1F1F1F;
    font-weight: 500;
    width: 440px;
  }
  .cover .content .cover-actions {
    margin-top: 24px;
    width: 100%;
    text-align: center;
  }
  .cover .content .cover-actions button {
    border: 1px solid transparent;
    border-radius: 6px;
    outline: none;
    background: #f6b00c;
    color: white;
    font-weight: 500;
    font-size: 17px;
    width: 425px;
    display: block;
    height: 54px;
  }
  .cover .content .cover-actions button.secondary {
    border-color: #f6b00c;
    color: #f6b00c;
    background: white;
    margin-right: 0;
    margin-top: 15px;
  }
  .faq {
    width: 100%;
    height: auto;
    padding-block: 90px;
    padding-top: 70px;
    position: relative;
  }
  .faq .content {
    padding-inline: 20px;
    position: relative;
  }
  .faq .content .text {
    text-align: center;
    margin-top: 0;
    margin-bottom: 20px;
  }
  .faq .content .text h1 {
    color: #1F1F1F;
    font-size: 34px;
    font-weight: 600;
    margin-bottom: 30px;
  }
  .faq .content .ask {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid lightgray;
    height: -moz-max-content;
    height: max-content;
    position: relative;
    width: 640px;
    margin-inline: auto;
    cursor: pointer;
    padding-block: 30px;
  }
  .faq .content .ask p {
    color: #1F1F1F;
    font-weight: 500;
    margin-bottom: 0;
    font-size: 22px;
    padding-right: 65px;
  }
  .faq .content .ask svg {
    color: #1F1F1F;
    font-size: 41px;
    padding: 8px;
    margin: -8px;
  }
  .faq .content .ask .plus {
    display: block;
  }
  .faq .content .ask .minus {
    display: none;
  }
  .faq .content .answer {
    padding: 8px;
    transform: translateY(-15px);
    border-radius: 2px;
    height: 0;
    transition: 0.2s;
    pointer-events: none;
    opacity: 0;
    width: 640px;
    margin-inline: auto;
  }
  .faq .content .answer.active {
    pointer-events: visible;
    opacity: 1;
    height: 140px;
  }
  .faq .content .answer p {
    font-size: 16px;
    font-weight: 500;
    color: #1F1F1F;
  }
}/*# sourceMappingURL=base.css.map */