$black: #1F1F1F;
$white: rgb(246,246,246);
$primBtn: #f0a432;
$txt: #183b56;


.cover{
    width: 100%;
    min-height: max-content;
    margin-bottom: 20px;
    position: relative;
    padding-bottom: 5px;
    background: linear-gradient(to bottom right, rgba(255, 240, 180, 0.185), transparent);
    .content{
      padding-inline: 20px;
      padding-top: 70px;
      padding-bottom: 40px;
      height: max-content;
      position: relative;
      #onlyOnMob{
        display: block;
      }
      #onlyOnDes{
        display: none;
      }
      .cover-image{
        filter: brightness(100%);
        display: block;
        width: 305px;
        height: auto;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        margin: 0px;
        margin-left: -4px;
      }
      .text{
        text-align: left;
        margin-top: 28px;
        .cover-h1{
          color: $black;
          font-size: 36px;
          font-weight: 600;
          margin-bottom: 10px;
        }
        .cover-p{
          font-size: 18px;
          margin-bottom: 0;
          color: $black;
          font-weight: 500;
        }
      }
      .cover-actions{
        margin-top: 24px;
        width: 100%;
        text-align: center;
        button{
          border: 1px solid transparent;
          border-radius: 6px;
          outline: none;
          background: linear-gradient(to bottom right, $primBtn, #ffb649);
          color: white;
          font-weight: 500;
          font-size: 17px;
          width: 100%;
          display: block;
          height: 47px;
          &.secondary{
            border-color: $primBtn;
            color: $primBtn;
            background: white;
            margin-right: 0;
            margin-top: 15px;
          }
        }
      }
    }
}

.sell-with-us{
  width: 100%;
  height: auto;
  padding-block: 50px;
  padding-top: 20px;
  position: relative;
  .content{
    padding-inline: 20px;
    position: relative;
    .text{
      text-align: left;
      margin-top: 28px;
      h1{
        color: $black;
        font-size: 27px;
        font-weight: 600;
        margin-bottom: 10px;
      }
    }
    .video{
      margin-top: 25px;
      width: 100%;
      height: 100%;
    }
  }
}

.verdivurdering{
  margin-top: 25px;
  width: 100%;
  height: auto;
  position: relative;
  .content{
    padding-inline: 20px;
    padding-top: 35px;
    padding-bottom: 80px;
    position: relative;
    background: $primBtn;
    .text{
      text-align: center;
      margin-top: 28px;
      h1{
        color: white;
        font-size: 29px;
        font-weight: 600;
        margin-bottom: -10px;
      }
      h2{
        color: white;
        font-size: 25px;
        font-weight: 500;
      }
      #onlyOnDes{
        display: none;
      }
    }
    form{
      background: white;
      border-radius: 12px;
      padding-inline: 30px;
      padding-block: 13px;
      padding-bottom: 23px;
      margin-top: 25px;
      .inputs-labels{
          .step-one{
              input{
                  height: 54px;
                  border-radius: 12px;
                  text-align: center;
                  font-size: 23px;
                  &:focus, &:active{
                      border: 1px solid rgb(172, 172, 172);
                      cursor: text;
                      background: rgba(255,255,255,1);
                  }
                  &::placeholder{
                      font-size: 23px;
                  }
              }
              .reg-nr{
                  display: flex;
                  position: relative;
                  input{
                      text-transform: uppercase;
                  }
                  img{
                      position: absolute;
                      left: 0;
                      height: 54px;
                      width: auto;
                      border-bottom-left-radius: 12px;
                      border-top-left-radius: 12px;
                  }
              }
              .km{
                  position: relative;
                  display: flex;
                  p{
                      position: absolute;
                      right: 11px;
                      bottom: -5px;
                      color: $black;
                      opacity: 0.95;
                      font-size: 16px;
                      font-weight: 500;
                  }
              }
          }
          label{
              font-size: 16px;
              color: $black;
              font-weight: 500;
          }
          input{
              width: 100%;
              height: 45px;
              border: 1px solid lightgray;
              outline: none;
              padding: 8px;
              color: $black;
              font-size: 16px;
              cursor: pointer;
              background: rgba(255,255,255,0.7);
              border-radius: 7px;
              &:focus, &:active{
                  border: 2px solid $primBtn;
                  cursor: text;
                  background: rgba(255,255,255,1);
              }
              &::placeholder{
                  color: $black;
                  opacity: 0.6;
              }
          }
          .checkbox{
              display: flex;
              align-items: center;
              margin-top: 18px;
              margin-bottom: 15px;
              p{
                  margin-bottom: 0;
                  margin-left: 15px;
                  font-size: 14px;
                  color: $black;
                  a{
                      text-decoration: underline;
                  }
              }
              input{
                  width: 20px;
                  height: 20px;
              }
          }
  
      }
      .form-actions{
          button{
              border: 1px solid transparent;
              border-radius: 6px;
              outline: none;
              background: linear-gradient(to bottom right, $primBtn, #ffb649);
              color: white;
              font-weight: 500;
              font-size: 17px;
              width: 100%;
              display: block;
              height: 44px;
              margin-top: 32px;
            }
      }
  }  
  }
}

.proccess{
  width: 100%;
  height: auto;
  padding-block: 50px;
  position: relative;
  .content{
    padding-inline: 20px;
    position: relative;
    .text{
      text-align: left;
      margin-top: 28px;
      h1{
        color: $black;
        font-size: 27px;
        font-weight: 600;
        margin-bottom: 10px;
      }
    }
    span{
      height: 85px;
      width: 4px;
      border-radius: 10px;
      display: block;
      position: relative;
      background: linear-gradient(to bottom right, #ffc163, $primBtn);
      margin-inline: auto;
    }
    .proccess-card{
      margin-block: 35px;
      transition: 1s;
      transform: translateY(0);
      text-align: center;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
      padding: 18px 10px;
      border-radius: 12px;
      position: relative;
      .number{
        position: absolute;
        top: -15px;
        right: 15px;
        background: $primBtn;
        border-radius: 100%;
        color: white;
        padding: 6px 14px;
        font-size: 17px;
        font-weight: 600;
      }
      .icon{
        margin-bottom: 5px;
        i{
          color: $primBtn;
          font-size: 38px;
        }
      }
      &:first-child{
        margin-top: 25px;
      }
      &:last-child{
        margin-bottom: 25px;
      }
      &.active{
        opacity: 1;
        transform: translateY(0);
      }
    }
    .proccess-text{
      width: 100%;
      transform: translateY(3px);
      h1{
        font-size: 20px;
        font-weight: 500;
        color: $black;
      }
      p{
        transform: translateY(-3px);
        opacity: 1;
        font-size: 16px;
        font-weight: 400;
        color: $black;
        max-width: 250px;
        margin-inline: auto;
      }
    }
  }
}

.book-now{
  padding-block: 70px;
  background: $primBtn;
  position: relative;
  width: 100%;
  .content{
    padding-inline: 20px;
    position: relative;
    text-align: center;
    h1{
      color: white;
      font-size: 28px;
      font-weight: 600;
      margin-bottom: 10px;
    }
    p{
      color: white;
      font-weight: 500;
      font-size: 17px;
    }
    button{
      margin-top: 30px;
      border: 1px solid transparent;
      border-radius: 6px;
      outline: none;
      color: white;
      font-weight: 500;
      font-size: 17px;
      width: 100%;
      display: block;
      height: 47px;
      border-color: $primBtn;
      color: $primBtn;
      background: white;
    }
  }
}

.services{
  width: 100%;
  height: auto;
  padding-block: 50px;
  position: relative;
  padding-bottom: 38px;
  .content{
    padding-inline: 20px;
    position: relative;
    margin-top: 26px;
    .text{
      text-align: left;
      h1{
        color: $black;
        font-size: 27px;
        font-weight: 600;
        margin-bottom: 10px;
      }
      #onlyOnDes{
        display: none;
      }
    }
    .flex{
      margin-top: 20px;
      .service{
        width: 100%;
        min-height: 120px;
        padding: 20px;
        position: relative;
        background: rgb(241, 241, 241);
        border: 1px solid $white;
        border-right: 20px solid $primBtn;
        border-radius: 5px;
        border-top-right-radius: 18px;
        border-bottom-right-radius: 18px;
        display: flex;
        margin-bottom: 35px;
        &:last-child{
          margin-bottom: 0;
        }
        .left{
          width: 10%;
          display: flex;
          justify-content: center;
          i{
            color: $primBtn;
            font-size: 26px;
            transform: translateY(-2px) translateX(-2px);
          }
        }
        .right{
          width: 90%;
          margin-left: 25px;
          h1{
            color: $black;
            font-size: 19px;
            font-weight: 500;
            margin-bottom: 6px;
          }
          p{
            font-size: 16px;
            color: $black;
          }
        }
      }
    }
  }
}

.price{
  width: 100%;
  height: auto;
  padding-block: 50px;
  position: relative;
  .content{
    padding-inline: 20px;
    padding-top: 35px;
    padding-bottom: 58px;
    position: relative;
    background: $primBtn;
    .text{
      text-align: center;
      margin-top: 28px;
      h1{
        color: white;
        font-size: 28px;
        font-weight: 600;
        margin-bottom: 10px;
      }
      p{
        color: white;
        font-weight: 500;
        font-size: 17px;
      }
    }
    button{
      margin-top: 30px;
      border: 1px solid transparent;
      border-radius: 6px;
      outline: none;
      color: white;
      font-weight: 500;
      font-size: 17px;
      width: 100%;
      display: block;
      height: 47px;
      border-color: $primBtn;
      color: $primBtn;
      background: white;
    }
  }
}

.location{
  width: 100%;
  height: auto;
  padding-block: 50px;
  padding-top: 20px;
  position: relative;
  .content{
    padding-inline: 20px;
    position: relative;
    .text{
      text-align: left;
      margin-top: 28px;
      h1{
        color: $black;
        font-size: 27px;
        font-weight: 600;
        margin-bottom: 13px;
      }
    }
    .place{
      color: $black;
      font-size: 16px;
      text-decoration: underline;
    }
  }
}

.reviews{
  width: 100%;
  height: auto;
  padding-block: 50px;
  padding-top: 28px;
  position: relative;
  .content{
    padding-inline: 20px;
    position: relative;
    .text{
      text-align: left;
      margin-top: 28px;
      h1{
        color: $black;
        font-size: 27px;
        font-weight: 600;
        margin-bottom: 10px;
      }
    }
    .flex{
      .review{
        background: #ffb74c2c;
        width: 100%;
        border-radius: 5px;
        padding: 17px;
        min-height: 180px;
        display: flex;
        margin-bottom: 25px;
        position: relative;
        &:last-child{
          margin-bottom: 0;
        }
        .source{
          position: absolute;
          left: 17px;
          bottom: 17px;
          opacity: 0.8;
          font-size: 15px;
          color: $black;
        }
        .left{
          width: 20%;
          height: 100%;
          text-align: center;
          .icon{
            width: 35px;
            height: 35px;
            border-radius: 100%;
            padding: 4px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: auto;
          }
          .name{
            color: $black;
            font-size: 14px;
            margin-top: 3px;
          }
          .stars{
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 7px;
            i{
              color: $primBtn;
              font-size: 13px;
              margin-inline: 2px;
            }
          }
        }
        .right{
          width: 80%;
          margin-left: 42px;
          font-size: 16px;
          color: $black;
          opacity: 0.95;
        }
      }
    }
  }
}

.faq{
  width: 100%;
  height: auto;
  padding-block: 50px;
  padding-top: 20px;
  position: relative;
  .content{
    padding-inline: 20px;
    position: relative;
    .text{
      text-align: left;
      margin-top: 28px;
      h1{
        color: $black;
        font-size: 27px;
        font-weight: 600;
        margin-bottom: 30px;
      }
    }
    .ask{
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-bottom: 1px solid lightgray;
      width: 100%;
      height: max-content;
      position: relative;
      padding-block: 25px;
      p{
        color: $black;
        font-weight: 500;
        margin-bottom: 0;
        font-size: 20px;
      }
      svg{
        color: $black;
        font-size: 41px !important;
        min-width: 35px !important;
        min-height: 41px !important;
        max-width: 35px !important;
        max-height: 41px !important;
        padding: 8px;
        margin: -8px;
      }
      .plus{
        display: block;
      }
      .minus{
        display: none;
      }
    }
    .answer{
      padding: 8px;
      transform: translateY(0);
      margin-top: 0px;
      border-radius: 2px;
      height: 0;
      transition: .2s;
      pointer-events: none;
      opacity: 0;
      &.active{
        pointer-events: visible;
        opacity: 1;
        height: 140px;
      }
      p{
        font-size: 16px;
        font-weight: 500;
        color: $black;
      }
    }
  }
}



@media only screen and (min-device-width: 1140px) {

#desNav{
  background: white;
}

  .cover{
    width: 100%;
    min-height: 650px;
    margin-bottom: 20px;
    position: relative;
    padding-bottom: 5px;
    // background: linear-gradient(to bottom right, transparent, #ffeed46a);
    overflow: hidden !important;
    .content{
      padding-inline: 35px;
      padding-top: 120px;
      padding-bottom: 90px;
      height: 560px;
      display: flex;
      justify-content: space-between;
      overflow: hidden !important;
      position: relative;
       /* The image used */
      background:linear-gradient(rgba(0,0,0,0.25), rgba(0,0,0,0.15)), url("/static/images/covers/cover-1-new2.png");
      background-position: center;
      /* Full height */
      height: 560px;

      /* Create the parallax scrolling effect */
      background-attachment: fixed;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      #onlyOnMob{
        display: none;
      }
      #onlyOnDes{
        display: flex;
        justify-content: space-between;
        width: 100%;
      }
      .cover-image{
        filter: brightness(83%);
        display: block;
        width: 100%;
        height: 560px;
        position: fixed;
        top: 0;
        right: 0;
        object-fit: cover;
      }
      .text{
        text-align: left;
        margin-top: 55px;
        position: relative;
        z-index: 10;
        .cover-h1{
          color: white;
          font-size: 42px;
          font-weight: 600;
          margin-bottom: 10px;
        }
        .cover-p{
          font-size: 20px;
          margin-bottom: 0;
          color: white;
          font-weight: 500;
          width: 400px;
        }
      }
      .cover-actions{
        margin-top: 24px;
        width: 100%;
        text-align: center;
        button{
          border: 1px solid transparent;
          border-radius: 6px;
          outline: none;
          background: linear-gradient(to bottom right, $primBtn, #ffb649);
          color: white;
          font-weight: 500;
          font-size: 17px;
          width: 415px;
          display: block;
          height: 52px;
          &.secondary{
            border-color: $primBtn;
            color: $primBtn;
            background: white;
            margin-right: 0;
            margin-top: 15px;
          }
        }
      }
    }
  }
  .sell-with-us{
    width: 100%;
    height: auto;
    padding-block: 120px;
    padding-top: 50px;
    position: relative;
    .content{
      padding-inline: 35px;
      position: relative;
      .text{
        text-align: center;
        margin-top: 28px;
        h1{
          color: $black;
          font-size: 34px;
          font-weight: 600;
          margin-bottom: 10px;
        }
      }
      .video{
        margin-inline: auto;
        margin-top: 35px;
        width: auto;
        height: 470px;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }
  .verdivurdering{
    margin-top: 25px;
    width: 100%;
    height: auto;
    position: relative;
    .content{
      padding-inline: 80px;
      padding-top: 65px;
      padding-bottom: 120px;
      position: relative;
      background: $primBtn;
      display: flex;
      justify-content: space-between;
      .text{
        text-align: left;
        margin-top: 28px;
        h1{
          color: white;
          font-size: 34px;
          font-weight: 600;
          margin-bottom: -10px;
        }
        h2{
          color: white;
          font-size: 27px;
          font-weight: 500;
        }
        #onlyOnDes{
          display: block;
          margin-top: 30px;
          .check{
            display: flex;
            margin-bottom: 25px;
            i{
              color: #1efa1e;
              background: #e0fae0;
              border-radius: 100%;
              padding: 10px;
              font-size: 24px;
            }
            p{
              color: white;
              font-weight: 500;
              font-size: 19px;
              margin-left: 15px;
              transform: translateY(8px);
            }
          }
        }
      }
      form{
        background: white;
        border-radius: 12px;
        padding-inline: 30px;
        padding-block: 13px;
        padding-bottom: 23px;
        margin-top: 25px;
        width: 380px;
        margin-inline: auto;
        transform: translateX(60px);
        .inputs-labels{
            .step-one{
                input{
                    height: 54px;
                    border-radius: 12px;
                    text-align: center;
                    font-size: 23px;
                    &:focus, &:active{
                        border: 1px solid rgb(172, 172, 172);
                        cursor: text;
                        background: rgba(255,255,255,1);
                    }
                    &::placeholder{
                        font-size: 23px;
                    }
                }
                .reg-nr{
                    display: flex;
                    position: relative;
                    input{
                        text-transform: uppercase;
                    }
                    img{
                        position: absolute;
                        left: 0;
                        height: 54px;
                        width: auto;
                        border-bottom-left-radius: 12px;
                        border-top-left-radius: 12px;
                    }
                }
                .km{
                    position: relative;
                    display: flex;
                    p{
                        position: absolute;
                        right: 11px;
                        bottom: -5px;
                        color: $black;
                        opacity: 0.95;
                        font-size: 16px;
                        font-weight: 500;
                    }
                }
            }
            label{
                font-size: 16px;
                color: $black;
                font-weight: 500;
            }
            input{
                width: 100%;
                height: 45px;
                border: 1px solid lightgray;
                outline: none;
                padding: 8px;
                color: $black;
                font-size: 16px;
                cursor: pointer;
                background: rgba(255,255,255,0.7);
                border-radius: 7px;
                &:focus, &:active{
                    border: 2px solid $primBtn;
                    cursor: text;
                    background: rgba(255,255,255,1);
                }
                &::placeholder{
                    color: $black;
                    opacity: 0.6;
                }
            }
            .checkbox{
                display: flex;
                align-items: center;
                margin-top: 18px;
                margin-bottom: 15px;
                p{
                    margin-bottom: 0;
                    margin-left: 15px;
                    font-size: 14px;
                    color: $black;
                    a{
                        text-decoration: underline;
                    }
                }
                input{
                    width: 20px;
                    height: 20px;
                }
            }
    
        }
        .form-actions{
            button{
                border: 1px solid transparent;
                border-radius: 6px;
                outline: none;
                background: linear-gradient(to bottom right, $primBtn, #ffb649);
                color: white;
                font-weight: 500;
                font-size: 17px;
                width: 100%;
                display: block;
                height: 46px;
                margin-top: 32px;
              }
        }
      }  
    }
  }
  .proccess{
    width: 100%;
    height: auto;
    padding-block: 90px;
    position: relative;
    .content{
      padding-inline: 35px;
      position: relative;
      span{
        display: none;
      }
      .text{
        text-align: center;
        margin-top: 28px;
        margin-bottom: 30px;
        h1{
          color: $black;
          font-size: 34px;
          font-weight: 600;
          margin-bottom: 10px;
        }
      }
      .flex{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
      }
      .proccess-card{
        flex-basis: 50%;
        margin-bottom: 25px;
        margin-inline: 25px;
        transition: 1s;
        transform: translateY(0);
        max-width: 400px;
        &.active{
          opacity: 1;
          transform: translateY(0);
        }
      }
      .proccess-image{
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
        border-bottom-right-radius: 25px;
        border-bottom-left-radius: 6px;
        width: 100%;
        img{
          box-shadow: 0 0 3px rgba(0, 0, 0, 0.164);
          width: 100%;
          height: 220px;
          object-fit: cover;
          border-top-left-radius: 25px;
          border-top-right-radius: 25px;
          border-bottom-right-radius: 25px;
          border-bottom-left-radius: 6px;
          filter: brightness(90%);
          margin: 15px auto;
        }
        .ribbon-number{
          position: absolute;
          right: 30px;
          top: -5px;
          width: 40px;
          height: 40px;
          padding: 10px;
          background: $primBtn;
          font-size: 22px;
          color: white;
          z-index: 10;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 4px;
        }
      }
      .proccess-image-text{
        width: 100%;
        transform: translateY(3px);
        h1{
          font-size: 20px;
          font-weight: 500;
          color: $black;
        }
        p{
          transform: translateY(-3px);
          opacity: 1;
          font-size: 16px;
          font-weight: 400;
          color: $black;
          padding-right: 30px;
        }
      }
    }
  }
  .book-now{
    padding-block: 160px;
    background: $primBtn;
    position: relative;
    width: 100%;
    .content{
      padding-inline: 20px;
      position: relative;
      text-align: center;
      h1{
        color: white;
        font-size: 34px;
        font-weight: 600;
        margin-bottom: 10px;
      }
      p{
        color: white;
        font-weight: 500;
        font-size: 18px;
      }
      button{
        margin-top: 30px;
        border: 1px solid transparent;
        border-radius: 6px;
        outline: none;
        color: white;
        font-weight: 500;
        font-size: 17px;
        width: 380px;
        display: block;
        margin-inline: auto;
        height: 47px;
        border-color: $primBtn;
        color: $primBtn;
        background: white;
      }
    }
  }
  .services{
    width: 100%;
    height: auto;
    padding-block: 90px;
    position: relative;
    padding-bottom: 38px;
    .content{
      width: 100%;
      padding-inline: 35px;
      position: relative;
      margin-top: 26px;
      display: flex;
      justify-content: space-between;
      .text{
        text-align: left;
        width: 700px;
        transform: translateX(30px);
        h1{
          color: $black;
          font-size: 34px;
          font-weight: 600;
          margin-bottom: 10px;
        }   
        #onlyOnDes{
          display: block;
          margin-top: 30px;
          .check{
            display: flex;
            margin-bottom: 25px;
            i{
              color: #1efa1e;
              background: #e0fae0;
              border-radius: 100%;
              padding: 10px;
              font-size: 24px;
            }
            p{
              color: $black;
              font-weight: 500;
              font-size: 19px;
              margin-left: 15px;
              transform: translateY(8px);
            }
          }
        }
      }
      .flex{
        margin-top: 0;
        display: flex;
        justify-content: flex-end;
        flex-wrap: wrap;
        .service{
          min-width: 320px;
          flex-basis: 35%;
          height: 160px;
          padding: 20px;
          position: relative;
          background: rgb(241, 241, 241);
          border: 1px solid $white;
          border-right: 20px solid $primBtn;
          border-radius: 5px;
          border-top-right-radius: 18px;
          border-bottom-right-radius: 18px;
          display: flex;
          margin-bottom: 25px;
          margin-inline: 25px;
          &:last-child{
            margin-bottom: 0;
          }
          .left{
            width: 10%;
            display: flex;
            justify-content: center;
            i{
              color: $primBtn;
              font-size: 26px;
              transform: translateY(-2px) translateX(-2px);
            }
          }
          .right{
            width: 90%;
            margin-left: 25px;
            h1{
              color: $black;
              font-size: 19px;
              font-weight: 500;
              margin-bottom: 6px;
            }
            p{
              font-size: 16px;
              color: $black;
            }
          }
        }
      }
    }
  }
  .price{
    width: 100%;
    height: auto;
    padding-block: 90px;
    position: relative;
    background: $primBtn;
    .content{
      padding-inline: 35px;
      position: relative;
      .text{
        text-align: center;
        margin-top: 28px;
        h1{
          color: white;
          font-size: 34px;
          font-weight: 600;
          margin-bottom: 10px;
        }
        p{
          color: white;
          font-weight: 500;
          font-size: 18px;
          width: 400px;
          margin-inline: auto;
        }
      }
      button{
        margin-top: 30px;
        border: 1px solid transparent;
        border-radius: 6px;
        outline: none;
        color: white;
        font-weight: 500;
        font-size: 17px;
        width: 380px;
        margin-inline: auto;
        display: block;
        height: 47px;
        border-color: $primBtn;
        color: $primBtn;
        background: white;
      }
    }
  }
  .location{
    width: 100%;
    height: auto;
    padding-block: 90px;
    padding-top: 50px;
    position: relative;
    .content{
      padding-inline: 20px;
      position: relative;
      .text{
        text-align: center;
        margin-top: 28px;
        h1{
          color: $black;
          font-size: 34px;
          font-weight: 600;
          margin-bottom: 13px;
        }
      }
      .place{
        color: $black;
        font-size: 16px;
        text-decoration: underline;
      }
    }
  }
  .reviews{
    width: 100%;
    height: auto;
    padding-block: 90px;
    padding-bottom: 30px;
    padding-top: 58px;
    position: relative;
    .content{
      padding-inline: 20px;
      position: relative;
      .text{
        text-align: center;
        margin-top: 28px;
        h1{
          color: $black;
          font-size: 34px;
          font-weight: 600;
          margin-bottom: 10px;
        }
      }
      .flex{
        display: flex;
        justify-content: center;
        margin-top: 25px;
        flex-wrap: wrap;
        .review{
          background: #ffb74c2c;
          width: 380px;
          height: auto;
          border-radius: 5px;
          padding: 17px;
          min-height: 180px;
          display: flex;
          margin-bottom: 50px;
          margin-inline: 25px;
          &:last-child{
            margin-bottom: 50px;
          }
          .left{
            width: 20%;
            height: 100%;
            text-align: center;
            .icon{
              width: 35px;
              height: 35px;
              border-radius: 100%;
              padding: 4px;
              display: flex;
              align-items: center;
              justify-content: center;
              margin: auto;
            }
            .name{
              color: $black;
              font-size: 14px;
              margin-top: 3px;
            }
            .stars{
              display: flex;
              justify-content: center;
              align-items: center;
              margin-top: 7px;
              i{
                color: $primBtn;
                font-size: 13px;
                margin-inline: 2px;
              }
            }
          }
          .right{
            width: 80%;
            margin-left: 42px;
            font-size: 16px;
            color: $black;
            opacity: 0.95;
          }
        }
      }
    }
  }
  .faq{
    width: 100%;
    height: auto;
    padding-block: 70px;
    padding-top: 50px;
    position: relative;
    .content{
      padding-inline: 20px;
      position: relative;
      .text{
        text-align: center;
        margin-top: 0;
        margin-bottom: 20px;
        h1{
          color: $black;
          font-size: 34px;
          font-weight: 600;
          margin-bottom: 30px;
        }
      }
      .ask{
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid lightgray;
        height: max-content;
        position: relative;
        width: 540px;
        margin-inline: auto;
        cursor: pointer;
        padding-block: 30px;
        p{
          color: $black;
          font-weight: 500;
          margin-bottom: 0;
          font-size: 22px;
          padding-right: 105px;
        }
        svg{
          color: $black;
          font-size: 41px;
          padding: 8px;
          margin: -8px;
        }
        .plus{
          display: block;
        }
        .minus{
          display: none;
        }
      }
      .answer{
        padding: 8px;
        border-radius: 2px;
        height: 0;
        transition: .2s;
        pointer-events: none;
        opacity: 0;
        width: 540px;
        margin-inline: auto;
        transform: translateY(-15px);
        &.active{
          pointer-events: visible;
          margin-top: 10px;
          opacity: 1;
          height: 140px;
        }
        p{
          font-size: 16px;
          font-weight: 500;
          color: $black;
        }
      }
    }
  }
}


@media only screen and (min-device-width: 1290px) {
  .cover{
    width: 100%;
    max-height: 670px;
    margin-bottom: 20px;
    position: relative;
    padding-bottom: 5px;
    background: linear-gradient(to bottom right, transparent, #ffeed46a);
    .content{
      padding-inline: 35px;
      padding-top: 160px;
      padding-bottom: 350px;
      height: max-content;
      position: relative;
      display: flex;
      justify-content: space-between;
      margin-inline: auto;
      #onlyOnMob{
        display: none;
      }
      #onlyOnDes{
        display: flex;
        justify-content: space-between;
        width: 100%;
        max-width: 1290px !important;
        margin-inline: auto;
        transform: translateX(30px);
      }
      .cover-image{
        filter: brightness(100%);
        display: block;
        width: 490px;
        height: auto;
        position: unset;
        margin: -100px;
        margin-left: -4px;
        transform: translateY(-58px) translateX(-90px);
      }
      .text{
        text-align: left;
        margin-top: 28px;
        .cover-h1{
          color: white;
          font-size: 46px;
          font-weight: 600;
          margin-bottom: 10px;
        }
        .cover-p{
          font-size: 22px;
          margin-bottom: 0;
          color: white;
          font-weight: 500;
          width: 440px;
        }
      }
      .cover-actions{
        margin-top: 24px;
        width: 100%;
        text-align: center;
        button{
          border: 1px solid transparent;
          border-radius: 6px;
          outline: none;
          background: linear-gradient(to bottom right, $primBtn, #ffb649);
          color: white;
          font-weight: 500;
          font-size: 17px;
          width: 425px;
          display: block;
          height: 54px;
          &.secondary{
            border-color: $primBtn;
            color: $primBtn;
            background: white;
            margin-right: 0;
            margin-top: 15px;
          }
        }
      }
    }
  }
  .sell-with-us{
    width: 100%;
    height: auto;
    padding-block: 120px;
    padding-top: 50px;
    position: relative;
    .content{
      padding-inline: 35px;
      position: relative;
      .text{
        text-align: center;
        margin-top: 28px;
        h1{
          color: $black;
          font-size: 34px;
          font-weight: 600;
          margin-bottom: 10px;
        }
      }
      .video{
        margin-inline: auto;
        margin-top: 35px;
        width: auto;
        height: 480px;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }
  .verdivurdering{
    margin-top: 25px;
    width: 100%;
    height: auto;
    position: relative;
    background: $primBtn;
    .content{
      transform: translateX(50px);
      padding-inline: 120px;
      padding-top: 85px;
      padding-bottom: 140px;
      position: relative;
      display: flex;
      justify-content: space-between;
      max-width: 1290px;
      margin-inline: auto;
      .text{
        text-align: left;
        margin-top: 28px;
        h1{
          color: white;
          font-size: 34px;
          font-weight: 600;
          margin-bottom: -10px;
        }
        h2{
          color: white;
          font-size: 27px;
          font-weight: 500;
        }
        #onlyOnDes{
          display: block;
          margin-top: 30px;
          .check{
            display: flex;
            margin-bottom: 25px;
            i{
              color: #1efa1e;
              background: #e0fae0;
              border-radius: 100%;
              padding: 10px;
              font-size: 24px;
            }
            p{
              color: white;
              font-weight: 500;
              font-size: 19px;
              margin-left: 15px;
              transform: translateY(8px);
            }
          }
        }
      }
      form{
        background: white;
        border-radius: 12px;
        padding-inline: 30px;
        padding-block: 13px;
        padding-bottom: 23px;
        margin-top: 25px;
        width: 380px;
        margin-inline: auto;
        transform: translateX(45px);
        .inputs-labels{
            .step-one{
                input{
                    height: 54px;
                    border-radius: 12px;
                    text-align: center;
                    font-size: 23px;
                    &:focus, &:active{
                        border: 1px solid rgb(172, 172, 172);
                        cursor: text;
                        background: rgba(255,255,255,1);
                    }
                    &::placeholder{
                        font-size: 23px;
                    }
                }
                .reg-nr{
                    display: flex;
                    position: relative;
                    input{
                        text-transform: uppercase;
                    }
                    img{
                        position: absolute;
                        left: 0;
                        height: 54px;
                        width: auto;
                        border-bottom-left-radius: 12px;
                        border-top-left-radius: 12px;
                    }
                }
                .km{
                    position: relative;
                    display: flex;
                    p{
                        position: absolute;
                        right: 11px;
                        bottom: -5px;
                        color: $black;
                        opacity: 0.95;
                        font-size: 16px;
                        font-weight: 500;
                    }
                }
            }
            label{
                font-size: 16px;
                color: $black;
                font-weight: 500;
            }
            input{
                width: 100%;
                height: 45px;
                border: 1px solid lightgray;
                outline: none;
                padding: 8px;
                color: $black;
                font-size: 16px;
                cursor: pointer;
                background: rgba(255,255,255,0.7);
                border-radius: 7px;
                &:focus, &:active{
                    border: 2px solid $primBtn;
                    cursor: text;
                    background: rgba(255,255,255,1);
                }
                &::placeholder{
                    color: $black;
                    opacity: 0.6;
                }
            }
            .checkbox{
                display: flex;
                align-items: center;
                margin-top: 18px;
                margin-bottom: 15px;
                p{
                    margin-bottom: 0;
                    margin-left: 15px;
                    font-size: 14px;
                    color: $black;
                    a{
                        text-decoration: underline;
                    }
                }
                input{
                    width: 20px;
                    height: 20px;
                }
            }
    
        }
        .form-actions{
            button{
                border: 1px solid transparent;
                border-radius: 6px;
                outline: none;
                background: linear-gradient(to bottom right, $primBtn, #ffb649);
                color: white;
                font-weight: 500;
                font-size: 17px;
                width: 100%;
                display: block;
                height: 46px;
                margin-top: 32px;
              }
        }
      }  
    }
  }
  .proccess{
    width: 100%;
    height: auto;
    padding-block: 90px;
    position: relative;
    max-width: 1290px;
    margin-inline: auto;
    .content{
      padding-inline: 35px;
      position: relative;
      .text{
        text-align: center;
        margin-top: 28px;
        margin-bottom: 30px;
        h1{
          color: $black;
          font-size: 34px;
          font-weight: 600;
          margin-bottom: 10px;
        }
      }
      .flex{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
      }
      .proccess-card{
        flex-basis: 50%;
        margin-bottom: 25px;
        margin-inline: 25px;
        transition: 1s;
        transform: translateY(0);
        max-width: 400px;
        &.active{
          opacity: 1;
          transform: translateY(0);
        }
      }
      .proccess-image{
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
        border-bottom-right-radius: 25px;
        border-bottom-left-radius: 6px;
        width: 100%;
        img{
          box-shadow: 0 0 3px rgba(0, 0, 0, 0.164);
          width: 100%;
          height: 220px;
          object-fit: cover;
          border-top-left-radius: 25px;
          border-top-right-radius: 25px;
          border-bottom-right-radius: 25px;
          border-bottom-left-radius: 6px;
          filter: brightness(90%);
          margin: 15px auto;
        }
        .ribbon-number{
          position: absolute;
          right: 30px;
          top: -5px;
          width: 40px;
          height: 40px;
          padding: 10px;
          background: $primBtn;
          font-size: 22px;
          color: white;
          z-index: 10;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 4px;
        }
      }
      .proccess-image-text{
        width: 100%;
        transform: translateY(3px);
        h1{
          font-size: 20px;
          font-weight: 500;
          color: $black;
        }
        p{
          transform: translateY(-3px);
          opacity: 1;
          font-size: 16px;
          font-weight: 400;
          color: $black;
          padding-right: 30px;
        }
      }
    }
  }
  .book-now{
    padding-block: 180px;
    background: $primBtn;
    position: relative;
    width: 100%;
    .content{
      padding-inline: 35px;
      position: relative;
      text-align: center;
      h1{
        color: white;
        font-size: 34px;
        font-weight: 600;
        margin-bottom: 10px;
      }
      p{
        color: white;
        font-weight: 500;
        font-size: 18px;
      }
      button{
        margin-top: 30px;
        border: 1px solid transparent;
        border-radius: 6px;
        outline: none;
        color: white;
        font-weight: 500;
        font-size: 17px;
        width: 380px;
        display: block;
        margin-inline: auto;
        height: 47px;
        border-color: $primBtn;
        color: $primBtn;
        background: white;
      }
    }
  }
  .services{
    width: 100%;
    height: auto;
    padding-block: 120px;
    position: relative;
    padding-bottom: 120px;
    max-width: 1290px;
    margin-inline: auto;
    .content{
      width: 100%;
      padding-inline: 35px;
      position: relative;
      margin-top: 26px;
      display: flex;
      justify-content: space-between;
      .text{
        text-align: left;
        width: 700px;
        transform: translateX(30px);
        h1{
          color: $black;
          font-size: 34px;
          font-weight: 600;
          margin-bottom: 10px;
        }   
        #onlyOnDes{
          display: block;
          margin-top: 30px;
          .check{
            display: flex;
            margin-bottom: 25px;
            i{
              color: #1efa1e;
              background: #e0fae0;
              border-radius: 100%;
              padding: 10px;
              font-size: 24px;
            }
            p{
              color: $black;
              font-weight: 500;
              font-size: 19px;
              margin-left: 15px;
              transform: translateY(8px);
            }
          }
        }
      }
      .flex{
        margin-top: 0;
        display: flex;
        justify-content: flex-end;
        flex-wrap: wrap;
        .service{
          min-width: 320px;
          flex-basis: 35%;
          height: 170px;
          padding: 22px;
          position: relative;
          background: rgb(241, 241, 241);
          border: 1px solid $white;
          border-right: 20px solid $primBtn;
          border-radius: 5px;
          border-top-right-radius: 18px;
          border-bottom-right-radius: 18px;
          display: flex;
          margin-bottom: 25px;
          margin-inline: 25px;
          &:last-child{
            margin-bottom: 0;
          }
          .left{
            width: 10%;
            display: flex;
            justify-content: center;
            i{
              color: $primBtn;
              font-size: 26px;
              transform: translateY(-2px) translateX(-2px);
            }
          }
          .right{
            width: 90%;
            margin-left: 25px;
            h1{
              color: $black;
              font-size: 19px;
              font-weight: 500;
              margin-bottom: 6px;
            }
            p{
              font-size: 16px;
              color: $black;
            }
          }
        }
      }
    }
  }
  .price{
    width: 100%;
    height: auto;
    padding-block: 90px;
    position: relative;
    background: $primBtn;
    .content{
      padding-inline: 35px;
      position: relative;
      .text{
        text-align: center;
        margin-top: 28px;
        h1{
          color: white;
          font-size: 34px;
          font-weight: 600;
          margin-bottom: 10px;
        }
        p{
          color: white;
          font-weight: 500;
          font-size: 18px;
          width: 400px;
          margin-inline: auto;
        }
      }
      button{
        margin-top: 30px;
        border: 1px solid transparent;
        border-radius: 6px;
        outline: none;
        color: white;
        font-weight: 500;
        font-size: 17px;
        width: 380px;
        margin-inline: auto;
        display: block;
        height: 47px;
        border-color: $primBtn;
        color: $primBtn;
        background: white;
      }
    }
  }
  .location{
    width: 100%;
    height: auto;
    padding-block: 90px;
    padding-top: 50px;
    position: relative;
    .content{
      padding-inline: 20px;
      position: relative;
      .text{
        text-align: center;
        margin-top: 28px;
        h1{
          color: $black;
          font-size: 34px;
          font-weight: 600;
          margin-bottom: 13px;
        }
      }
      .place{
        color: $black;
        font-size: 16px;
        text-decoration: underline;
      }
    }
  }
  .reviews{
    width: 100%;
    height: auto;
    padding-block: 90px;
    padding-bottom: 30px;
    padding-top: 58px;
    position: relative;
    .content{
      padding-inline: 20px;
      position: relative;
      .text{
        text-align: center;
        margin-top: 28px;
        h1{
          color: $black;
          font-size: 34px;
          font-weight: 600;
          margin-bottom: 10px;
        }
      }
      .flex{
        display: flex;
        justify-content: center;
        margin-top: 25px;
        .review{
          background: #ffb74c2c;
          width: 380px;
          height: auto;
          border-radius: 5px;
          padding: 17px;
          min-height: 180px;
          display: flex;
          margin-bottom: 50px;
          margin-inline: 25px;
          &:last-child{
            margin-bottom: 50px;
          }
          .left{
            width: 20%;
            height: 100%;
            text-align: center;
            .icon{
              width: 35px;
              height: 35px;
              border-radius: 100%;
              padding: 4px;
              display: flex;
              align-items: center;
              justify-content: center;
              margin: auto;
            }
            .name{
              color: $black;
              font-size: 14px;
              margin-top: 3px;
            }
            .stars{
              display: flex;
              justify-content: center;
              align-items: center;
              margin-top: 7px;
              i{
                color: $primBtn;
                font-size: 13px;
                margin-inline: 2px;
              }
            }
          }
          .right{
            width: 80%;
            margin-left: 42px;
            font-size: 16px;
            color: $black;
            opacity: 0.95;
          }
        }
      }
    }
  }
  .faq{
    width: 100%;
    height: auto;
    padding-block: 90px;
    padding-top: 70px;
    position: relative;
    .content{
      padding-inline: 20px;
      position: relative;
      .text{
        text-align: center;
        margin-top: 0;
        margin-bottom: 20px;
        h1{
          color: $black;
          font-size: 34px;
          font-weight: 600;
          margin-bottom: 30px;
        }
      }
      .ask{
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid lightgray;
        height: max-content;
        position: relative;
        width: 640px;
        margin-inline: auto;
        cursor: pointer;
        padding-block: 30px;
        p{
          color: $black;
          font-weight: 500;
          margin-bottom: 0;
          font-size: 22px;
          padding-right: 65px;
        }
        svg{
          color: $black;
          font-size: 41px;
          padding: 8px;
          margin: -8px;
        }
        .plus{
          display: block;
        }
        .minus{
          display: none;
        }
      }
      .answer{
        padding: 8px;
        transform: translateY(-15px);
        border-radius: 2px;
        height: 0;
        transition: .2s;
        pointer-events: none;
        opacity: 0;
        width: 640px;
        margin-inline: auto;
        &.active{
          pointer-events: visible;
          opacity: 1;
          height: 140px;
        }
        p{
          font-size: 16px;
          font-weight: 500;
          color: $black;
        }
      }
    }
  }
}