#footerMob {
  margin-top: 50px;
  width: 100%;
  height: 100%;
  padding-top: 15px;
  padding-bottom: 18px;
  position: relative;
  background: #2142a6;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding-inline: 20px;
}
#footerMob .contact-info img {
  width: 130px;
  height: auto;
  margin-bottom: 10px;
}
#footerMob .contact-info p {
  margin-bottom: 0;
  color: white;
  font-size: 18px;
  opacity: 0.8;
}
#footerMob .links p {
  margin-bottom: 0;
  color: white;
}
#footerMob .links .info-heading {
  color: white;
  font-size: 17px;
  margin-bottom: 3px;
  font-weight: 500;
}
#footerMob .links a {
  color: white;
  display: block;
  font-size: 16px;
  margin-block: 8px;
}
#footerMob .links a:first-child {
  margin-top: 0;
}
#footerMob .services p {
  margin-bottom: 0;
  color: white;
}
#footerMob .services .business-heading {
  color: white;
  font-size: 17px;
  margin-bottom: 3px;
  font-weight: 500;
}
#footerMob .services .info-heading {
  color: white;
  font-size: 17px;
  margin-bottom: 3px;
  font-weight: 500;
}
#footerMob .services button {
  background: #13c265;
  border: 1px solid transparent;
  width: auto;
  height: auto;
  padding: 7px 26px;
  margin-top: 14px;
  outline: none;
  border-radius: 3px;
  color: white;
  font-size: 15px;
}
#footerMob .services a {
  display: block;
  color: white;
  font-size: 16px;
  width: -moz-max-content;
  width: max-content;
  padding-right: 5px;
  margin-block: 8px;
}
#footerMob .services a:first-child {
  margin-top: 0;
}
#footerMob .bottom {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  opacity: 0.85;
  background: #1c2f8c;
  padding-block: 20px;
  text-align: center;
  border-radius: 6px;
  margin-top: 45px;
}
#footerMob .bottom .copyright {
  color: white;
  font-size: 16px;
}
#footerMob .bottom .social-icons {
  display: flex;
  flex-direction: row;
  gap: 25px;
  margin-top: 25px;
}
#footerMob .bottom .social-icons a {
  color: white;
  font-size: 13px;
}

#footerDes {
  display: none;
}

@media only screen and (min-device-width: 1140px) {
  #footerMob {
    display: none;
  }
  #footerDes {
    display: block;
    margin-top: 110px;
    width: 100%;
    height: 100%;
    padding-block: 55px;
    position: relative;
    background: #2142a6;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    padding-inline: 0;
  }
  #footerDes .content {
    max-width: 1300px;
    margin-inline: auto;
    padding-inline: 50px;
  }
  #footerDes .content .flex {
    display: flex;
    flex-direction: column;
    gap: 55px;
  }
  #footerDes .content .footer-flex {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    gap: 70px;
  }
  #footerDes .contact-info img {
    width: 130px;
    height: auto;
    margin-bottom: 10px;
  }
  #footerDes .contact-info p {
    margin-bottom: 0;
    color: white;
    font-size: 18px;
    opacity: 0.8;
  }
  #footerDes .links {
    width: 25%;
  }
  #footerDes .links p {
    margin-bottom: 0;
    color: white;
  }
  #footerDes .links .info-heading {
    color: white;
    font-size: 17px;
    margin-bottom: 3px;
    font-weight: 500;
  }
  #footerDes .links a {
    color: white;
    display: block;
    font-size: 16px;
    margin-block: 8px;
  }
  #footerDes .links a:first-child {
    margin-top: 0;
  }
  #footerDes .services {
    width: 25%;
  }
  #footerDes .services p {
    margin-bottom: 0;
    color: white;
  }
  #footerDes .services .business-heading {
    color: white;
    font-size: 17px;
    margin-bottom: 3px;
    font-weight: 500;
  }
  #footerDes .services .info-heading {
    color: white;
    font-size: 17px;
    margin-bottom: 3px;
    font-weight: 500;
  }
  #footerDes .services button {
    background: #13c265;
    border: 1px solid transparent;
    width: auto;
    height: auto;
    padding: 7px 26px;
    margin-top: 14px;
    outline: none;
    border-radius: 3px;
    color: white;
    font-size: 15px;
  }
  #footerDes .services a {
    display: block;
    color: white;
    font-size: 16px;
    width: -moz-max-content;
    width: max-content;
    padding-right: 5px;
    margin-block: 8px;
  }
  #footerDes .services a:first-child {
    margin-top: 0;
  }
  #footerDes .bottom {
    display: flex;
    width: 100%;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    opacity: 0.85;
    background: #1c2f8c;
    padding: 50px;
    text-align: left;
    border-radius: 6px;
    margin-top: 55px;
  }
  #footerDes .bottom .copyright {
    color: white;
    font-size: 16px;
  }
  #footerDes .bottom .social-icons {
    display: flex;
    flex-direction: row;
    gap: 25px;
    margin-top: 25px;
  }
  #footerDes .bottom .social-icons a {
    color: white;
    font-size: 13px;
  }
}/*# sourceMappingURL=footer.css.map */