#desNav {
  display: none;
}

#mobileNav {
  width: 100%;
  height: 68px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
  padding-bottom: 3px;
  position: fixed;
  top: 0;
  z-index: 100;
  border-bottom: 1px solid transparent;
  background: white;
  border-bottom: 1px solid rgba(100, 100, 100, 0.15);
  transition: 0.2s;
}
#mobileNav.search {
  background: white;
  transition: 0;
}
#mobileNav.sticky {
  background: white;
  border-bottom: 1px solid rgba(100, 100, 100, 0.15);
  transition: 0.2s;
}
#mobileNav.menu {
  transition: 0.2s;
  background: white;
  border-bottom: 1px solid rgba(100, 100, 100, 0.15);
}
#mobileNav .logo {
  transition: 0.8s;
  cursor: pointer;
  width: auto;
  height: auto;
  z-index: 1000;
}
#mobileNav .logo img {
  width: 162px;
  height: auto;
  transition: 0.3s;
  transform: translateY(2px) translateX(-4px);
}
#mobileNav .logo img:hover {
  transform: scale(0.93);
}
#mobileNav .search {
  transform: translateX(32px);
}
#mobileNav .search i {
  color: #1F1F1F;
  font-size: 24px;
}
#mobileNav .hamburger {
  padding: 5px;
  margin: -5px;
  width: auto;
  height: auto;
  z-index: 1000;
  text-align: center;
  border-radius: 50%;
}
#mobileNav .hamburger span {
  height: 2px;
  width: 26px;
  background: #1F1F1F;
  border-radius: 6px;
  display: block;
  transition: 0.2s;
  margin-block: 7px;
  text-align: center;
  transform-origin: 25%;
}
#mobileNav .hamburger .center-span {
  width: 14px;
  margin-inline: auto;
}
#mobileNav .hamburger.click .upper-span {
  transform: rotate(45deg);
}
#mobileNav .hamburger.click .center-span {
  display: none;
}
#mobileNav .hamburger.click .lower-span {
  transform: rotate(-45deg);
}
#mobileNav .sidebar {
  background: white;
  position: absolute;
  top: 68px;
  left: -100px;
  width: 100%;
  height: calc(100vh - 65px);
  z-index: 120;
  opacity: 0;
  pointer-events: none;
  display: block;
  transition: 0.2s;
  overflow-y: scroll !important;
  padding-bottom: 100px;
}
#mobileNav .sidebar a {
  padding: 23px 20px;
  color: #183b56;
  font-size: 18px;
  font-weight: 500;
  display: block;
  width: 100%;
  text-decoration: none;
  position: relative;
}
#mobileNav .sidebar a:hover {
  background: rgba(252, 255, 97, 0.0941176471);
}
#mobileNav .sidebar a i {
  float: right;
  padding-right: 3px;
  color: #183b56;
  font-size: 17px;
  transform: translateY(1px);
}
#mobileNav .sidebar.active {
  opacity: 1;
  pointer-events: visible;
  transition: 0.4s;
  left: 0;
}

@media only screen and (min-device-width: 1140px) {
  #mobileNav {
    display: none;
  }
  #desNav {
    display: flex;
    width: 100%;
    height: 80px;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background: transparent;
    padding-inline: 35px;
    z-index: 100;
    transition: 0.2s;
    border-bottom: 1px solid transparent;
  }
  #desNav .content {
    width: 100%;
    display: flex;
    width: 100%;
    max-width: 1290px;
    height: 80px;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background: transparent;
    padding-inline: 35px;
  }
  #desNav.sticky {
    background: white;
    border-bottom: 1px solid rgba(100, 100, 100, 0.15);
  }
  #desNav .logo img {
    cursor: pointer;
    width: 120px;
    height: auto;
    transition: 0.2s;
    transform: translateX(-42px);
  }
  #desNav .logo img:hover {
    transform: scale(1.1) translateX(-35px);
  }
  #desNav .menu {
    display: flex;
  }
  #desNav .menu a {
    color: #1F1F1F;
    font-size: 18px;
    font-weight: 400;
    margin-inline: 2px;
    padding: 10px;
    cursor: pointer;
    text-decoration: none;
    transition: 0.3s;
    border-bottom: 2px solid transparent;
  }
  #desNav .menu a.maincta {
    transform: translateY(2px);
    background: linear-gradient(to bottom right, #f6b00c, #ffb649);
    color: white;
    border-radius: 5px;
    margin-left: 6px;
    padding: 7px 14px !important;
    border: none;
    height: -moz-max-content !important;
    height: max-content !important;
    margin-bottom: 0;
  }
  #desNav .menu a.maincta:hover {
    transform: scale(1.05) translateY(2px);
  }
  #desNav .menu a:hover {
    border-bottom: 2px solid #f6b00c;
  }
}
@media only screen and (min-device-width: 1290px) {
  #mobileNav {
    display: none;
  }
  #desNav {
    display: flex;
    width: 100%;
    height: 80px;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background: transparent;
    padding-inline: 35px;
    z-index: 100;
    transition: 0.2s;
    border-bottom: 1px solid transparent;
  }
  #desNav .content {
    width: 100%;
    display: flex;
    width: 100%;
    max-width: 1290px;
    height: 80px;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background: transparent;
    padding-inline: 35px;
  }
  #desNav.sticky {
    background: white;
    border-bottom: 1px solid rgba(100, 100, 100, 0.15);
  }
  #desNav .logo img {
    cursor: pointer;
    width: 135px;
    height: auto;
    transition: 0.2s;
    transform: translateX(-42px);
  }
  #desNav .logo img:hover {
    transform: scale(1.1) translateX(-35px);
  }
  #desNav .menu {
    display: flex;
  }
  #desNav .menu a {
    color: #1F1F1F;
    font-size: 19px;
    font-weight: 400;
    margin-inline: 2px;
    padding: 10px;
    cursor: pointer;
    text-decoration: none;
    transition: 0.3s;
    border-bottom: 2px solid transparent;
  }
  #desNav .menu a.maincta {
    transform: translateY(2px);
    background: linear-gradient(to bottom right, #f6b00c, #ffb649);
    color: white;
    border-radius: 5px;
    margin-left: 6px;
    padding: 7px 14px !important;
    border: none;
    height: -moz-max-content !important;
    height: max-content !important;
    margin-bottom: 0;
  }
  #desNav .menu a.maincta:hover {
    transform: scale(1.05) translateY(2px);
  }
  #desNav .menu a:hover {
    border-bottom: 2px solid #f6b00c;
  }
}/*# sourceMappingURL=nav.css.map */