$black: #1F1F1F;
$white: rgb(246,246,246);
$primBtn: #f0a432;
$txt: #183b56;

#mobileNav{
    // NAVBAR CSS
    width: 100%;
    height: 68px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
    padding-bottom: 3px;
    position: fixed;
    top: 0;
    z-index: 100;
    transition: .2s;
    border-bottom: 1px solid transparent;
    &.sticky{
        background: white;
        border-bottom: 1px solid rgba(100,100,100,0.15);
    }
    &.menu{
        background: white;
        border-bottom: 1px solid rgba(100,100,100,0.15);
    }
    .logo{
        transition: .8s;
        cursor: pointer;
        width: auto;
        height: auto;
        z-index: 1000;
        img{
        width: 100px;
        height: auto;
        transition: .3s;
        transform: translateX(-29px);
        &:hover{
            transform: translateX(-29px) scale(0.93);
        }
        }
    }
    .hamburger{
        padding: 5px;
        margin: -5px;
        width: auto;
        height: auto;
        z-index: 1000;
        text-align: center;
        border-radius: 50%;
        span{
            height: 2px;
            width: 26px;
            background: $black;
            border-radius: 6px;
            display: block;
            transition: .2s;
            margin-block: 6px;
            text-align: center;
            transform-origin: 25%; 
        }
        .upper-span{
        }
        .center-span{
        }
        .lower-span{
        }
        &.click{
            .upper-span{
                transform: rotate(45deg);
            }
            .center-span{
                display: none;
            }
            .lower-span{
                transform: rotate(-45deg);
            }
        }
    }
    .sidebar{
        background: white;
        position: absolute;
        top: 68px;
        left: -100px;
        width: 100%;
        height: calc(100vh - 65px);
        z-index: 120;
        opacity: 0;
        pointer-events: none;
        display: block;
        transition: .2s;
        a{
            padding: 23px 20px;
            color: $txt;
            font-size: 18px;
            font-weight: 500;
            display: block;
            width: 100%;
            text-decoration: none;
            position: relative;
            &:hover{
                background: #ffe26118;
            }
            i{
                float: right;
                padding-right: 3px;
                color: $txt;
                font-size: 17px;
                transform: translateY(1px);
            }
        }
        &.active{
            opacity: 1;
            pointer-events: visible;
            transition: .4s;
            left: 0;
        }
    } 
}