#desNav {
  display: none;
}

#mobileNav {
  width: 100%;
  height: 68px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
  padding-bottom: 3px;
  position: fixed;
  top: 0;
  z-index: 100;
  border-bottom: 1px solid transparent;
  background: white;
  border-bottom: 1px solid rgba(100, 100, 100, 0.15);
  transition: 0.2s;
}
#mobileNav.search {
  background: white;
  transition: 0;
}
#mobileNav.sticky {
  background: white;
  border-bottom: 1px solid rgba(100, 100, 100, 0.15);
  transition: 0.2s;
}
#mobileNav.menu {
  transition: 0.2s;
  background: white;
  border-bottom: 1px solid rgba(100, 100, 100, 0.15);
}
#mobileNav .logo {
  transition: 0.8s;
  cursor: pointer;
  width: auto;
  height: auto;
  z-index: 1000;
}
#mobileNav .logo img {
  width: 162px;
  height: auto;
  transition: 0.3s;
  transform: translateY(2px) translateX(-4px);
}
#mobileNav .logo img:hover {
  transform: scale(0.93);
}
#mobileNav .hamburger {
  padding: 5px;
  margin: -5px;
  width: auto;
  height: auto;
  z-index: 1000;
  text-align: center;
  border-radius: 50%;
}
#mobileNav .hamburger span {
  height: 2px;
  width: 26px;
  background: #1F1F1F;
  border-radius: 6px;
  display: block;
  transition: 0.2s;
  margin-block: 7px;
  text-align: center;
  transform-origin: 25%;
}
#mobileNav .hamburger .center-span {
  width: 14px;
  margin-inline: auto;
}
#mobileNav .hamburger.click .upper-span {
  transform: rotate(45deg);
}
#mobileNav .hamburger.click .center-span {
  display: none;
}
#mobileNav .hamburger.click .lower-span {
  transform: rotate(-45deg);
}
#mobileNav .sidebar {
  background: white;
  position: absolute;
  top: 68px;
  left: -100px;
  width: 100%;
  height: calc(100vh - 65px);
  z-index: 120;
  opacity: 0;
  pointer-events: none;
  display: block;
  transition: 0.2s;
  overflow-y: scroll !important;
  padding-bottom: 100px;
}
#mobileNav .sidebar a {
  padding: 23px 20px;
  color: #183b56;
  font-size: 18px;
  font-weight: 500;
  display: block;
  width: 100%;
  text-decoration: none;
  position: relative;
}
#mobileNav .sidebar a:hover {
  background: rgba(167, 243, 148, 0.1725490196);
}
#mobileNav .sidebar a.no-hover:hover {
  background: transparent;
}
#mobileNav .sidebar a i {
  float: right;
  padding-right: 3px;
  color: #183b56;
  font-size: 17px;
  transform: translateY(1px);
}
#mobileNav .sidebar.active {
  opacity: 1;
  pointer-events: visible;
  transition: 0.4s;
  left: 0;
}

@media only screen and (min-device-width: 1140px) {
  #mobileNav {
    display: none;
  }
  #desNav {
    display: flex;
    width: 100%;
    height: 75px;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 50%;
    background: rgba(51, 164, 151, 0.862745098) !important;
    padding-inline: 50px;
    z-index: 1000000;
    transition: 0.2s;
    max-width: 1000px;
    transform: translateY(18px) translateX(-50%);
    border-radius: 50px;
    border: 1px solid rgba(255, 255, 255, 0.359);
  }
  #desNav .content {
    width: 100%;
    display: flex;
    width: 100%;
    max-width: auto;
    height: 75px;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background: transparent;
    padding-inline: 35px;
  }
  #desNav .logo {
    color: white;
  }
  #desNav .logo img {
    cursor: pointer;
    width: 120px;
    height: auto;
    transition: 0.2s;
    transform: translateX(-42px);
  }
  #desNav .logo img:hover {
    transform: scale(1.1) translateX(-35px);
  }
  #desNav .menu {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #desNav .menu a {
    color: white;
    font-size: 17px;
    font-weight: 400;
    margin-inline: 2px;
    padding: 10px;
    cursor: pointer;
    text-decoration: none;
    transition: 0.3s;
    border-bottom: 0 solid transparent;
    border-radius: 4px;
  }
  #desNav .menu a.cta {
    transform: translateY(0);
    background: transparent;
    color: white;
    border-radius: 25px;
    margin-left: 6px;
    border: 2px solid white;
    height: -moz-max-content !important;
    height: max-content !important;
    margin-bottom: 0;
  }
  #desNav .menu a.cta:hover {
    background: #31b1a2;
  }
  #desNav .menu a:hover {
    background: rgba(211, 211, 211, 0.35);
  }
  #desNav .menu .language-dropdown {
    position: relative;
    display: inline-block;
    margin-left: 20px;
  }
  #desNav .menu .language-dropdown .dropdown-button {
    background-color: transparent;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 10px;
  }
  #desNav .menu .language-dropdown .dropdown-button i {
    margin-left: 5px;
  }
  #desNav .menu .language-dropdown .dropdown-button img {
    width: 25px;
    height: 18px;
    margin-right: 8px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  #desNav .menu .language-dropdown .dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    min-width: 160px;
    z-index: 1;
  }
  #desNav .menu .language-dropdown .dropdown-content a {
    font-size: 16px;
    color: #1F1F1F;
  }
  #desNav .menu .language-dropdown .dropdown-content .lang-option {
    color: #1F1F1F;
    padding: 10px 16px;
    text-decoration: none;
    display: flex;
    align-items: center;
  }
  #desNav .menu .language-dropdown .dropdown-content .lang-option:hover {
    background-color: #f1f1f1;
  }
  #desNav .menu .language-dropdown .dropdown-content .lang-option .flag-icon {
    width: 20px;
    height: auto;
    margin-right: 10px;
  }
  #desNav .menu .language-dropdown .dropdown-content .lang-option img {
    width: 25px;
    height: 18px;
    margin-right: 10px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  #desNav .menu .language-dropdown:hover .dropdown-content {
    display: block;
  }
}/*# sourceMappingURL=nav.css.map */