$black: #1F1F1F;
$white: rgb(246,246,246);
$primBtn: #13c265;
$txt: #183b56;



#desNav{
    display: none;
}

#mobileNav{
    // NAVBAR CSS
    width: 100%;
    height: 65px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
    padding-bottom: 3px;
    position: fixed;
    top: 0;
    z-index: 100;
    border-bottom: 1px solid transparent;
    background: white;
    transition: .2s;
    &.sticky{
        background: white;
        border-bottom: 1px solid rgba(100,100,100,0.15);
        transition: .2s;
    }
    &.menu{
        transition: .2s;
        background: white;
        border-bottom: 1px solid rgba(100,100,100,0.15);
    }
    .logo{
        transition: .8s;
        cursor: pointer;
        width: auto;
        height: auto;
        z-index: 1000;
        img{
        width: 145px;
        height: auto;
        transition: .3s;
        }
    }

    .menu{
        display: flex;
        align-items: center;
        gap: 10px;
        p{
            color: $black;
            font-size: 15px;
            margin-bottom: 0;
            font-weight: 500;
        }
        .lines{
            text-align: right;
            span{
                height: 2px;
                width: 22px;
                background: $black;
                border-radius: 6px;
                display: block;
                transition: .2s;
                margin-block: 4px;
                text-align: right;
                transform-origin: 25%; 
            }
                  &.click{
            .upper-span{
                width: 10px;
            }
            .center-span{
                background: transparent;
                transition: 0s;
            }
            .lower-span{
                width: 10px;
            }
        }
        }
        .upper-span{
        }
        .center-span{
            width: 14px;
            margin-inline: auto;
        }
        .lower-span{
        }
  
    }
    .sidebar{
        background: white;
        position: absolute;
        top: 65px;
        left: 0;
        width: 100%;
        height: 0vh;
        z-index: 120;
        opacity: 0.5;
        pointer-events: none;
        display: block;
        padding-inline: 20px;
        transition: .2s;
        overflow-y: scroll !important;
        a{
            padding: 17px 0;
            color: $black;
            font-size: 17px;
            font-weight: 500;
            display: block;
            width: 100%;
            text-decoration: none;
            position: relative;
            &:hover{
            }
            &.no-hover{
                &:hover{
                    background: transparent;
                }
            }
            i{
                float: right;
                padding-right: 3px;
                color: $txt;
                font-size: 17px;
                transform: translateY(1px);
            }
        }
        .cta{
            position: absolute;
            bottom: 20px;
            left: 50%;
            transform: translateX(-50%);
            background: #e1fae9;
            padding: 20px;
            width: calc(100% - 40px);
            height: auto;
            padding: 30px 20px;
            border-radius: 6px;
            h2{
                font-size: 18px;
                font-weight: 500;
                color: $black;
                margin-bottom: 12px;
            }
            p{
                font-size: 16px;
                color: $black;
            }
            form{
                position: relative;
                margin-top: 18px;
                input{
                    width: 100%;
                    height: 54px;
                    background: white;
                    border: 1px solid lightgray;
                    outline: none;
                    padding: 14px;
                    color: $black;
                    border-radius: 4px;
                    font-size: 16px;
                    text-transform: uppercase;
                       &::placeholder{
                    text-transform: none;
                  }
                          &:active, &:focus{
                    border: 2px solid rgba(0, 0, 255, 0.521);
                  }
                }
                button{
                    width: 100%;
                    height: 54px;
                    background: $primBtn;
                    outline: none;
                    padding: 14px;
                    color: white;
                    border: none;
                    border-radius: 4px;
                    margin-top: 15px;
                }
            }
        }
        &.active{
            opacity: 1;
            pointer-events: visible;
            transition: .4s;
            height: calc(100dvh - 65px);
        }
    } 

}




@media only screen and (min-device-width: 1140px) {
    #mobileNav{
        display: none;
    }
    #desNav{
        display: block;
        width: 100%;
        height: 75px;
        position: fixed;
        top: 0;
        background: white ;
        z-index: 1000000;
        transition: .2s;
        border-bottom: 1px solid lightgray;
        .desnav-content{
            padding-inline: 50px;
            width: 100%;
            height: 75px;
            max-width: 1300px;
            margin-inline: auto;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        &.sticky{

        }
        .left{
            display: flex;
            flex-direction: row;
            gap: 25px;
            align-items: center;
        }
        .logo{
            img{               
                cursor: pointer;
                width: 140px;
                height: auto;
                transition: .2s;
            }
        }
        .menu{
            display: flex;
            justify-content: center;
            align-items: center;
            a{
                color: $black;
                font-size: 16px;
                font-weight: 400;
                margin-inline: 2px;
                padding: 10px;
                cursor: pointer;
                text-decoration: none;
                transition: .3s;
                border-bottom: 0 solid transparent;
                border-radius: 4px;
                i{
                    margin-left: 5px;
                    font-size: 15px;
                }
                &:hover{
                    background: rgba(211, 211, 211, 0.35);
                }
            }

        }
        .cta{
            text-align: right;
                a{
                color: $black;
                font-size: 16px;
                font-weight: 400;
                margin-inline: 2px;
                padding: 10px;
                cursor: pointer;
                text-decoration: none;
                transition: .3s;
                border-bottom: 0 solid transparent;
                border-radius: 4px;
                i{
                    margin-left: 5px;
                    font-size: 15px;
                }
                &:hover{
                    background: rgba(211, 211, 211, 0.35);
                }
            }
        }
    }
}



// @media only screen and (min-device-width: 1290px) {
//     #mobileNav{
//         display: none;
//     }
//     #desNav{
//         display: flex;
//         width: 100%;
//         height: 80px;
//         justify-content: space-between;
//         align-items: center;
//         position: fixed;
//         top: 0;
//         left: 50%;
//         transform: translateX(-50%);
//         background: transparent;
//         padding-inline: 35px;
//         z-index: 100;
//         transition: .2s;
//         border-bottom: 1px solid transparent;
//         .content{
//             width: 100%;
//             display: flex;
//             width: 100%;
//             max-width: 1290px;
//             height: 80px;
//             justify-content: space-between;
//             align-items: center;
//             position: fixed;
//             top: 0;
//             left: 50%;
//             transform: translateX(-50%);
//             background: transparent;
//             padding-inline: 35px;    
//         }

//         &.sticky{
//             background: white;
//             border-bottom: 1px solid rgba(100,100,100,0.15);
//         }
//         .logo{
//             img{               
//                 cursor: pointer;
//                 width: 135px;
//                 height: auto;
//                 transition: .2s;
//                 transform: translateX(-42px);
//                 &:hover{
//                     transform: scale(1.1) translateX(-35px);
//                 }
//             }
//         }
//         .menu{
//             display: flex;
//             a{
//                 color: $black;
//                 font-size: 19px;
//                 font-weight: 400;
//                 margin-inline: 2px;
//                 padding: 10px;
//                 cursor: pointer;
//                 text-decoration: none;
//                 transition: .3s;
//                 border-bottom: 2px solid transparent;
//                 &.maincta{
//                     transform: translateY(2px);
//                     background: linear-gradient(to bottom right, $primBtn, #ffb649);
//                     color: white;
//                     border-radius: 5px;
//                     margin-left: 6px;
//                     padding: 7px 14px !important;
//                     border: none;
//                     height: max-content !important;
//                     margin-bottom: 0; 
//                     &:hover{
//                         transform: scale(1.05) translateY(2px);
//                     }
//                 }
//                 &:hover{
//                     border-bottom: 2px solid $primBtn;
//                 }
//             }
//         }
//     }
// }