{% load static %}

<link rel="stylesheet" href="{% static '/scss/footer.css' %}" type="text/css">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Alata&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Alata&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Sniglet&display=swap" rel="stylesheet">

<!-- footer -->
<div id="footerMob">
    <div class="content">

   

    <div class="flex">
        <!-- <div class="hours">
            <p class="info-heading">Åpningstider</p>
            <a>Tir - Fre: 10:00 - 15:30</a>
            <a style="width: auto; font-size: 15px;">Åpningstider kan variere pga kundebesøk. Er fleksibel, så kan sette opp avtale utenfor åpningstid.</a>
        </div> -->
    
    <br>


    <div class="contact-info">
        <p class="info-heading">Villazengarden AS</p>
        <a>Org.nr. </a>
        <a href="mailto:">Email</a>
        <a href="tel:">Tel</a>
        <a>Adrs</a>
    </div>

    <hr style="margin-block: 25px;">
    
    <div class="links">
        <p class="info-heading">Quick links</p>
        <a href="/">Policy</a>
        <a href="/">Terms of service</a>
        <a href="/">Blog</a>
        <a href="/">Pricing</a>
    </div>
    <hr style="margin-block: 25px;">
    <div class="services">
        <p class="info-heading">Our services</p>
        <a href="/">Colonial eStore</a>
        <a href="/">WOW</a>
        <a href="/">Black stage</a>
        <a href="/">Share your passion</a>
    </div>
    <hr style="margin-block: 25px;">

    <div class="become-member">
        <p>
           Our exclusive membership offers you access to systems and services designed to simplify and enhance your life.
        </p>
        <button>Become a memeber</button>
    </div>
</div>

    <hr style="margin-block: 25px;">

    <div class="bottom">
        <div class="copyright">
            &#169; Villazengarden AS <br>
            <a href="https://webiser.no/" style="color: unset; text-decoration: none; cursor: pointer;">Nettside levert av Webiser</a>
        </div>
           <div class="social-icons">
            <i onclick="window.location.href=''" class="fab fa-instagram"></i>
            <i onclick="window.location.href=''" class="fab fa-facebook"></i>
            <i class="fa-brands fa-linkedin"></i>
        </div>
    </div>    
</div>     
</div>
