{% load static %}

<link rel="stylesheet" href="{% static '/scss/footer.css' %}" type="text/css">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Alata&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Alata&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Sniglet&display=swap" rel="stylesheet">

<!-- footer -->
<div id="footerMob">
    <div class="content">

   

    <div class="flex">
    
    <br>


    <div class="contact-info">
        <img src="{% static 'images/logo/logo-white.png' %}" alt="">
       <p>Vi kobler deg og flyttebyråer sammen</p>
    </div>

    <hr style="margin-block: 48px; border: none;">
    
    <div class="links">
        <p class="info-heading">Flyttetips</p>
        <a href="/">Flyttekostnader 2025: Hva koster en flytting egentlig?</a>
        <a href="/">Artikler</a>
        <a href="/">Flyttebyråer i Norge</a>
    </div>
        <hr style="margin-block: 48px; background: none; border: none;">

    <div class="links">
        <p class="info-heading">For forbrukere</p>
        <a href="/">Hva vi gjør</a>
        <a href="/">Impressum</a>
        <a href="/">Vilkår og betingelser</a>
    </div>
            <hr style="margin-block: 48px; background: none; border: none;">

    <div class="links">
        <p class="info-heading">For bedrifter</p>
        <a href="/">Slik fungerer det</a>
        <a href="/">Om oss</a>
        <a href="/">Gratis prøvemedlemskap</a>
        <a href="/">Logg inn</a>
    </div>

    <hr style="margin-block: 48px; background: none; border: none;">

    <div class="services">
        <p class="info-heading">Kundeservice</p>
        <a href="/">Kontakt oss</a>
        <a href="/">epost@flytte.no</a>
        <a href="/">Instagram</a>
        <a href="/">Facebook</a>
    </div>

</div>

    <hr style="margin-block: 25px; border: none;">

    <div class="bottom">
        <div class="copyright">
            &#169; 2025 Flytte24.no <br>
            <!-- <a href="https://webiser.no/" style="color: unset; text-decoration: none; cursor: pointer;">Nettside levert av Webiser</a> -->
        </div>
           <div class="social-icons">
            <a href="">Personvern</a>
            <a href="">Vilkår og betingelser</a>
            <a href="">Cookies</a>
        </div>
    </div>    
</div>     
</div>


<div id="footerDes">
    <div class="content">

   

    <div class="flex">
    


    <div class="contact-info">
        <img src="{% static 'images/logo/logo-white.png' %}" alt="">
       <p>Vi kobler deg og flyttebyråer sammen</p>
    </div>

    
    <div class="footer-flex">

        <div class="links">
            <p class="info-heading">Flyttetips</p>
            <a href="/">Flyttekostnader 2025: Hva koster en flytting egentlig?</a>
            <a href="/">Artikler</a>
            <a href="/">Flyttebyråer i Norge</a>
        </div>
    
        <div class="links">
            <p class="info-heading">For forbrukere</p>
            <a href="/">Hva vi gjør</a>
            <a href="/">Impressum</a>
            <a href="/">Vilkår og betingelser</a>
        </div>
    
        <div class="links">
            <p class="info-heading">For bedrifter</p>
            <a href="/">Slik fungerer det</a>
            <a href="/">Om oss</a>
            <a href="/">Gratis prøvemedlemskap</a>
            <a href="/for-bedrifter/bruker/logg-inn/">Logg inn</a>
        </div>
    
    
        <div class="services">
            <p class="info-heading">Kundeservice</p>
            <a href="/">Kontakt oss</a>
            <a href="/">epost@flytte.no</a>
            <a href="/">Instagram</a>
            <a href="/">Facebook</a>
        </div>
    </div>

</div>


    <div class="bottom">
        <div class="copyright">
            &#169; 2025 Flytte24.no <br>
            <!-- <a href="https://webiser.no/" style="color: unset; text-decoration: none; cursor: pointer;">Nettside levert av Webiser</a> -->
        </div>
           <div class="social-icons">
            <a href="">Personvern</a>
            <a href="">Vilkår og betingelser</a>
            <a href="">Cookies</a>
        </div>
    </div>    
</div>     
</div>