{% extends 'core/base.html' %}
{% load static %}
{% load i18n %}


{% block head %}
<title>Tittel</title>
<meta name="description" content="Bilmeglerne har spesialisert seg på salg av bil. Vi har utviklet denne tjenesten for å gjøre deg trygg på at bilsalget foregår i henhold til gjeldende lover og forskrifter">
<meta name="author" content="Bilmeglerne">
<meta name="keywords" content="Bilmeglerne, Selge bil, Kjøpe bil, Biler til salg, Kjøp ny bil, Kjøp en bil, Bil, Biler, Bilene">
<meta property="og:type" content="website">
<meta property="og:url" content="{{ request.get_full_path }}">
<meta property="og:description" content="Bilmeglerne har spesialisert seg på salg av bil. Vi har utviklet denne tjenesten for å gjøre deg trygg på at bilsalget foregår i henhold til gjeldende lover og forskrifter">
{% endblock %}

{% block content %}


<link rel="stylesheet" href="{% static '/scss/base.css' %}" type="text/css">
<link rel="stylesheet" href="{% static '/scss/global/global.css' %}" type="text/css">
<script src="{% static '/js/home.js' %}"></script>
<link href='https://api.mapbox.com/mapbox-gl-js/v2.9.1/mapbox-gl.css' rel='stylesheet' />
<script src='https://api.mapbox.com/mapbox-gl-js/v2.9.1/mapbox-gl.js'></script>
<script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-draw/v1.0.9/mapbox-gl-draw.js'></script>
<script src="https://unpkg.com/@turf/turf@6/turf.min.js"></script>


<div class="cover">
    <div class="content">
        <div id="overlay"> </div>
        <div class="text" id="coverText">
          <h2 class="cover-h1">Villa Zen Garden</h2>
          <p class="cover-p">Lorem ipsum dolor sit amet consectetur adipisici aut mollitia officia iure cupiditate incidunt expedita, non debitis fugiat ut!</p>
          <div class="img">
              <img src="{% static '/images/covers/member.jpg' %}" alt="" class="image1">
              <div class="border"></div>
              <div class="bordertwo"></div>
            </div>

        </div>
        <!-- <div class="images">
            <img src="{% static '/images/covers/cover.jpg' %}" alt="" class="image1">
            <video autoplay loop muted class="image2">
                <source src="{% static '/images/covers/cover.mp4' %}" type="video/mp4" >
              </video>
            <img src="{% static '/images/covers/member.jpg' %}" alt="" class="image3">
            <video autoplay loop muted class="image4">
                <source src="{% static '/images/covers/cover2.mp4' %}" type="video/mp4" >
              </video>
        </div> -->

    </div>
</div>

<!-- 
<div class="width">
    <div class="leftinfo"><p id="dynamic-text"></p></div>
</div> -->


<!-- <div class="cover">
    <div class="content">
        <div class="text" id="coverText">
            <h1 class="cover-h1" id="dynamic-text"></h1>
            <p class="cover-p">
              Get acess to systems that will make your life easier. Become a member today to gain acess!
            </p>
        </div>
        <div class="border" id="borderForImage"></div>
        <img src="{% static '/images/covers/cover.jpg' %}" alt="" id="imageForBorder">

        <div class="scroll-indicator">
            <div class="mouse">
              <div class="mouse-wheel"></div>
            </div>
            <div class="scroll-text">Scroll Down</div>
            <div class="arrow">
              <span></span>
              <span></span>
              <span></span>
            </div>
          </div>
    </div>
</div> -->


<!-- <div class="quote">
    <div class="content">
        <div class="text">
            <h2>The world is only the world overs yours and mine</h2>
        </div>
    </div>
</div>


<div class="service">
    <div class="content">
        <div class="text">
            <h2>Colonial eCommerce</h2>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Placeat accusantium distinctio cor</p>
        </div>
        <img src="{% static '/images/covers/cover.jpg' %}" alt="" >
    </div>
</div> -->



<!-- <div class="about-us">
    <div class="content">
        <div class="text">
            <h1>Get to know us</h1>
        </div>

    </div>
</div>

<div class="whatweoffer">
    <div class="content">
        <div class="text">
            <h1>What we have to offer</h1>
        </div>
    </div>
</div>

<div class="systems">
    <div class="content">
        <div class="text">
            <h1>Our systems will make your life easier</h1>
        </div>
    </div>
</div>

<div class="pricing">
    <div class="content">
        <div class="text">
            <h1>Pricing</h1>
        </div>
    </div>
</div>

<div class="get-started">
    <div class="content">
        <div class="text">
            <h1>Become a member og Villazengarden</h1>
        </div>
    </div>
</div> -->

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

{% endblock %}
 