{% extends 'core/base.html' %}
{% load static %}

{% block head %}
<title>Tittel</title>
<meta name="description" content="Bilmeglerne har spesialisert seg på salg av bil. Vi har utviklet denne tjenesten for å gjøre deg trygg på at bilsalget foregår i henhold til gjeldende lover og forskrifter">
<meta name="author" content="Bilmeglerne">
<meta name="keywords" content="Bilmeglerne, Selge bil, Kjøpe bil, Biler til salg, Kjøp ny bil, Kjøp en bil, Bil, Biler, Bilene">
<meta property="og:type" content="website">
<meta property="og:url" content="{{ request.get_full_path }}">
<meta property="og:description" content="Bilmeglerne har spesialisert seg på salg av bil. Vi har utviklet denne tjenesten for å gjøre deg trygg på at bilsalget foregår i henhold til gjeldende lover og forskrifter">
{% endblock %}

{% block content %}


<link rel="stylesheet" href="{% static '/scss/base.css' %}" type="text/css">
<link rel="stylesheet" href="{% static '/scss/global/global.css' %}" type="text/css">
<script src="{% static '/js/home.js' %}"></script>
<link href='https://api.mapbox.com/mapbox-gl-js/v2.9.1/mapbox-gl.css' rel='stylesheet' />
<script src='https://api.mapbox.com/mapbox-gl-js/v2.9.1/mapbox-gl.js'></script>
<script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-draw/v1.0.9/mapbox-gl-draw.js'></script>
<script src="https://unpkg.com/@turf/turf@6/turf.min.js"></script>


<div class="cover">
    <div class="content">
        <div class="text">
            <h1 class="cover-h1">Become a member of Villazengarden</h1>
            <p class="cover-p">
              Get acess to systems that will make your life easier. Become a member today to gain acess!
            </p>
            <div class="cover-actions">
                <button onclick="window.location.href='/'">Become a member</button>
                <button onclick="window.location.href='/'" class="secondary" >What we offer</button>
                </div>   
        </div>
        <img src="{% static '/images/covers/cover.png' %}" alt="" class="cover-image">
    </div>
</div>

<div class="about-us">
    <div class="content">
        <div class="text">
            <h1>Get to know us</h1>
        </div>

    </div>
</div>

<div class="whatweoffer">
    <div class="content">
        <div class="text">
            <h1>What we have to offer</h1>
        </div>
    </div>
</div>

<div class="systems">
    <div class="content">
        <div class="text">
            <h1>Our systems will make your life easier</h1>
        </div>
    </div>
</div>

<div class="pricing">
    <div class="content">
        <div class="text">
            <h1>Pricing</h1>
        </div>
    </div>
</div>

<div class="get-started">
    <div class="content">
        <div class="text">
            <h1>Become a member og Villazengarden</h1>
        </div>
    </div>
</div>



{% endblock %}
 