{% load i18n %}
{% load static %}

<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="http://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script rel="stylesheet" src="{% static '/js/nav.js' %}" type="text/javascript"></script>
<link rel="stylesheet" href="{% static '/scss/nav.css' %}" type="text/css">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Alata&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>


<div id="mobileNav">
    <div class="logo">
        <img src="{% static 'images/logo/logo.png' %}" alt="">
    </div>
    <div class="menu" onclick="menu()">
        <p id="menuText">Meny</p>
        <div class="lines" id="lines">
            <span class="upper-span"></span>
            <span class="center-span"></span>
            <span class="lower-span"></span>
        </div>
    </div>

    <div class="sidebar " id="sidebar">
        <a href="">Gå videre<i class="fa-regular fa-chevron-down"></i></a>
        <a href="">Pris<i class="fa-regular fa-chevron-down"></i></a>
        <a href="">Norge<i class="fa-regular fa-chevron-down"></i></a>
        <a href="">Flyttetips<i class="fa-regular fa-chevron-down"></i></a>

        <hr>

        <a href="/for-bedrifter/">Bli med som flyttebyrå</a>


        <div class="cta">
            <h2>Klar for å finne et pålitelig flyttebyrå?</h2>
            <p>På få minutter ser du hvilke byråer som passer dine behov.</p>
            <form action="">
                <input type="text" placeholder="Ditt postnummer">
                <button>Få tilbud</button>
            </form>
        </div>
    </div>
</div>


<div id="desNav">
    <div class="desnav-content">
        <div class="left">
            <div class="logo">
                <img src="{% static 'images/logo/logo.png' %}" alt="">
            </div>
            <div class="menu">
                 <a href="">Gå videre<i class="fa-regular fa-chevron-down"></i></a>
                <a href="">Pris<i class="fa-regular fa-chevron-down"></i></a>
                <a href="">Norge<i class="fa-regular fa-chevron-down"></i></a>
                <a href="">Flyttetips<i class="fa-regular fa-chevron-down"></i></a>
            </div>
        </div>
        <div class="cta">
            <a href="/for-bedrifter/">Bli med som flyttebyrå</a>
        </div>
    </div>
</div>