{% extends 'core/base.html' %}
{% load static %}

{% block head %}
<title>Bilmeglerne - Finansiering</title>
<meta name="description" content="Bilmeglerne har spesialisert seg på salg av bil. Vi har utviklet denne tjenesten for å gjøre deg trygg på at bilsalget foregår i henhold til gjeldende lover og forskrifter">
<meta name="author" content="Bilmeglerne">
<meta name="keywords" content="Bilmeglerne, Selge bil, Kjøpe bil, Biler til salg, Kjøp ny bil, Kjøp en bil, Bil, Biler, Bilene">
<meta property="og:type" content="website">
<meta property="og:url" content="{{ request.get_full_path }}">
<meta property="og:description" content="Bilmeglerne har spesialisert seg på salg av bil. Vi har utviklet denne tjenesten for å gjøre deg trygg på at bilsalget foregår i henhold til gjeldende lover og forskrifter">
{% endblock %}
{% block content %}


<link rel="stylesheet" href="{% static '/scss/pages/services/service.css' %}" type="text/css">

<div class="page" style="padding-inline: 0;">
    <div class="cover">
        <div class="content">
            <div class="text">
                <h1 class="cover-h1">Finansiering</h1>
                <p class="cover-p" style="max-width: max-content;">Vi hjelper deg med å finne den beste finansieringspartneren! 
                    <br>
                    <br>
                    Ta kontakt for bistand til å finne den beste finansieringspartneren!</p>
            </div>  
        </div>
    </div>
</div>
{% endblock %}