{% extends 'core/base.html' %}
{% load static %}

{% block head %}
<!-- <title>Bilmeglerne - Om oss</title>
<meta name="description" content="Bilmeglerne har spesialisert seg på salg av bil. Vi har utviklet denne tjenesten for å gjøre deg trygg på at bilsalget foregår i henhold til gjeldende lover og forskrifter">
<meta name="author" content="Bilmeglerne">
<meta name="keywords" content="Bilmeglerne, Selge bil, Kjøpe bil, Biler til salg, Kjøp ny bil, Kjøp en bil, Bil, Biler, Bilene">
<meta property="og:type" content="website">
<meta property="og:url" content="{{ request.get_full_path }}">
<meta property="og:description" content="Bilmeglerne har spesialisert seg på salg av bil. Vi har utviklet denne tjenesten for å gjøre deg trygg på at bilsalget foregår i henhold til gjeldende lover og forskrifter"> -->
{% endblock %}

{% block content %}

<link rel="stylesheet" href="{% static '/scss/pages/about.css' %}" type="text/css">
<script src="{% static '/js/about.js' %}"></script>

<div class="cover">
    <div class="content">
        <div class="text" id="coverText">
            <h1 class="cover-h1" id="dynamic-textabt"></h1>
            <p class="cover-p">
                Om oss tekst går her. litt usikker på hva jeg ellers skal skrive :)
            </p>
        </div>
        <div class="border" id="borderForImage"></div>
        <img src="{% static '/images/covers/cover.jpg' %}" alt="" id="imageForBorder">

        <div class="images">
            <!-- <img src="{% static '/images/covers/dots.png' %}" alt=""  class="coverimg imgone">
            <img src="{% static '/images/covers/dots.png' %}" alt="" class="coverimg imgtwo">
            <img src="{% static '/images/covers/dots.png' %}" alt=""  class="coverimg imgthree">
            <img src="{% static '/images/covers/dots.png' %}" alt=""  class="coverimg imgfour">
            <img src="{% static '/images/covers/dots.png' %}" alt=""  class="coverimg imgfive">
            <img src="{% static '/images/covers/dots.png' %}" alt=""  class="coverimg imgsix">
            <img src="{% static '/images/covers/dots.png' %}" alt=""  class="coverimg imgseven">
        </div> -->
        <div class="scroll-indicator">
            <div class="mouse">
                <div class="mouse-wheel"></div>
            </div>
            <div class="scroll-text">Scroll Down</div>
            <div class="arrow">
                <span></span>
                <span></span>
                <span></span>
            </div>
            </div>
    </div>
    </div>
</div>




{% endblock %}





