{% extends 'core/base.html' %}
{% load static %}

{% block head %}
{% endblock %}



{% block header %}
<header>
    {% include 'core/businessNav.html' %}
</header>
{% endblock %}


{% block content %}

<link rel="stylesheet" href="{% static '/scss/pages/business/for-bedrifter.css' %}" type="text/css">
<script src="{% static '/js/about.js' %}"></script>






<section class="cover">
    <div class="content">
        <img src="{% static 'images/covers/about.jpeg' %}" alt="" class="cover-img-mob">
        <img src="{% static 'images/covers/aboutdes.jpeg' %}" alt="" class="cover-img-des">
        <div class="text">
            <h1>Motta verifiserte flytteforespørsler</h1>
            <p>Koble deg direkte med kunder som er klare til å flytte.</p>
            <div class="cta">
                <h4>Start i dag</h4>
                <p>Voks med de mest kvalifiserte flytteforespørslene</p>
                <a href="/for-bedrifter/bli-partner/" class="button">Få gratis tilgang</a>
            </div>
        </div>
    </div>
</section>


<section class="why-us">
    <div class="content">
        <div class="text">
            <p class="headingp">Hvorfor burde du velge oss?</p>
            <h2>3 grunner til at du bør velge Flytte24</h2>
        </div>
        <div class="reasons">
            <div class="reason">
                <div class="left">
                    <h4>Tillitt</h4>
                    <p>Med over 15 års erfaring og kontorer i mer enn 150 markeder over hele verden, er vi det mest pålitelige navnet innen internasjonale og nasjonale flyttetjenester.</p>
                </div>
                <div class="right"><img src="https://www.umzug-365.de/resources/img/icons/svg/move/usps/trust.svg" alt=""></div>
            </div>
            <div class="reason">
                <div class="left">
                    <h4>Ekspertise</h4>
                    <p>Enten det er våre digitale markedsførere som jobber for å skaffe flere leads, eller din personlige kundeansvarlige – du er i trygge hender.</p>
                </div>
                <div class="right"><img src="https://www.umzug-365.de/resources/img/icons/svg/move/usps/together.svg" alt=""></div>
            </div>
            <div class="reason">
                <div class="left">
                    <h4>Fleksibilitet</h4>
                    <p>Så mange forespørsler du ønsker, når du ønsker dem, og hvor du ønsker dem. Det er gratis å prøve, og du betaler kun når kvalifiserte leads havner i innboksen din.</p>
                </div>
                <div class="right"><img src="https://www.umzug-365.de/resources/img/icons/svg/move/usps/flexible.svg" alt=""></div>
            </div>
        </div>
        <a href="" class="button">Få gratis tilgang</a>
    </div>
</section>



{% endblock %}

{% block footer %}
<footer>
    {% include 'core/businessFooter.html' %}
</footer>
{% endblock %}




